<% include ../partials/header %>  
<link rel="stylesheet" href="/css/full_views/blogs.css">


<% blogs.reverse() %>

<div id="page_minheight_100" class="mt-5">
	<h4 class="p-1 text-center"> Blogs pending for approval </h4>
	<div class="container my-3">
		<% if(blogs.length == 0){ %>
			<div class="text-center lightgrey boldtext text-sm">Nothing to see here :)</div>
		<% } %>
		<% for(let blog of blogs){ %>
			<div class="row no-gutters">
				<div class="card mx-auto blog-card rounded">
					<div class="card-pad">
						<div class="row no-gutters px-2">
							<div class="col">
								<a href="/colleges/<%= college %>/blogs/user/<%= blog.author.id %>" class="darkgrey p-name boldtext d-flex">
									<img src="<%= blog.author.profilePic %>" class="smalldp rounded-circle mr-2 my-auto" alt="...">
									<span class="card-text text-mob-sm"><%= blog.author.name %></span>
								</a>
							</div>
						</div>
						<div class="valign">
							<div class="pt-1 w-100">
								<div class="px-2">
									<a href="<%= getValidUrl(blog.url) %>" class="nolink" rel="noopener" target="_blank">
										<div class="valign mb-3">
											<div>
												<h5 class="card-title truncate1"><%= blog.title %></h5>
												<p class="card-text truncate3 blog-description linewrap"><%= blog.description %></p>
											</div>
											<div class="mb-auto">
												<div class="pt-1">
													<img src="<%= blog.image %>" alt="..." class="searchdp mx-0 blogsdp shadow-none cover mb-auto">
												</div>
											</div>
										</div>
									</a>
									<div class="lightgrey d-flex flex-row">
                    <span class="mobileNone inline">Opens in</span><span class="text-capitalize"><%= blog.urlName %></span>
                  </div>
									<div class="card-text valign">
										<div>
											<div class="text-sm text-mob-sm d-inline-block">
												<span class="lightgrey"><%= moment(blog.createdAt).format('ll') %></span>
											</div>
											<div class="separator d-inline-block mx-1">
												·
											</div>
											<div class="d-inline-block">
												<span class="text-sm text-mob-sm lightgrey mr-2"><%= blog.readTime %> min</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="whitesmokeback">
						<hr class="hr-light">
						<div class="my-2 card-pad py-0 mx-2">
							<div class="accept d-inline-block mr-1">
								<form action="/colleges/<%= college %>/blogs/publish/approve?_method=PUT" method="post">
									<input type="hidden" name="blogId" value="<%= blog._id %>">
									<button type="submit" class="btn btn-sm btn-success btn-round"><i class="fas fa-check"></i></button>
								</form>
							</div>
							<div class="reject d-inline-block mx-1">
								<form action="/colleges/<%= college %>/blogs/publish/remove?_method=PUT" method="post">
									<input type="hidden" name="blogId" value="<%= blog._id %>">
									<button type="submit" class="btn btn-sm btn-danger btn-rounded"><i class="fas fa-trash-alt mr-2"></i>Reject</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% } %>
	</div>
</div>


<%
function getValidUrl(givenUrl){
	let newUrl = decodeURI(givenUrl);
	newUrl = newUrl.trim().replace(/\s/g, "");

	if(/^(:\/\/)/.test(newUrl)){
		return `http${newUrl}`;
	}
	if(!/^(f|ht)tps?:\/\//i.test(newUrl)){
		return `http://${newUrl}`;
	}

	return newUrl;
}
%>
<% include ../partials/footer %>