<div class="card mt-0 border-light btncollapse-div btncollapse-div-shadow btncollapse-club-div lb-absolute">
  <% if(club.featuredPhotos.length != 0){ %>
    <button id="btncollapse-club" type="button" class="btn btn-sm boldtext btncollapse btncollapse-club btncollapse-club-grad collapsed text-left" data-toggle="collapse" data-target="#latestUpdates">
  <% } else{ %>
    <button id="btncollapse-club" type="button" class="btn btn-sm boldtext btncollapse btncollapse-club collapsed text-left" data-toggle="collapse" data-target="#latestUpdates">
  <% } %>
    <div class="valign">
      <div class="mobiletext3">
        <span><i class="fas fa-rss"></i></span>
        <span class="mobilebold">
          Club updates
        </span>
      </div>
      <div>
        <% if(club.featuredPhotos.length != 0){ %>
          <span class="clubupdates-count text-sm mobiletext3 ml-2 nopad"><%= club.updates.length %></span>
        <% } else{ %>
          <span class="lightgrey text-sm mobiletext3 ml-2 nopad"><%= club.updates.length %></span>
        <% } %>
      </div>
    </div>
  </button>
  <% if(club.updates && club.updates.length>0){ %>
    <div id="latestUpdates" class="clubupdates collapse btncollapse-content scroll moz-scroll">
  <% } else{ %>
    <div id="latestUpdates" class="clubupdates collapse btncollapse-content scroll moz-scroll">
  <% } %>
    <% if(0 <= rank && rank <= 1){ %>
      <div class="p-2">
        <div id="pushnew" class="admin">
          <form action="/clubs/<%= club._id %>?_method=PUT" method="POST">
            <div class="d-flex flex-column">
              <div class="input-group mt-1 date" id="datetimepicker4" data-target-input="nearest">
                <div class="input-group-prepend nodisplay" data-target="#datetimepicker4" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                </div>
                <input name="newsDate" type="text" class="form-control datetimepicker-input text-sm mobiletext3" data-target="#datetimepicker4" placeholder="mm/dd/yyyy (event date)" style="height: 30px; border-radius: 0.25rem;">
              </div>
              <div class="input-group mt-1">
                <input type="text" name="newsUpdate" class="form-control commentbox3 text-sm" placeholder="Write an update" style="border-radius: 0.25rem 0 0 0.25rem !important; height: calc(1.5em + 1rem + 2px);">
                <div class="input-group-append">
                  <button class="btn btn-secondary btnxxs text-xs" type="submit">Push</button>
                </div>
              </div>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </div>
      </div>
    <% } else if(rank == 2){ %>
      <div class="p-2">
        <div id="pushnew" class="moderator">
          <form action="/clubs/<%= club._id %>?_method=PUT" method="POST">
            <div class="input-group mt-1">
              <input type="text" name="newsUpdate" class="form-control commentbox3 text-sm" placeholder="Write an update" style="border-radius: 0.25rem 0 0 0.25rem !important; height: calc(1.5em + 1rem + 2px);">
              <div class="input-group-append">
                <button class="btn btn-secondary btnxxs text-xs" type="submit">Push</button>
              </div>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </div>
      </div>
    <% } %>
    <% if(club.updates && club.updates != ''){ %>
      <div id="updates-content">
        <% for(i=club.updates.length-1;i>=0;i--){ %>
          <div class="fullwidth d-flex flex-row py-2" onmouseover="toggle_visibility('clear_update<%= i %>');" onmouseout="toggle_visibility('clear_update<%= i %>');">
            <% if(club.updates[i].eventDate){ %>
              <div class="text-md mx-2 my-1 lineheight">
                <time datetime="<%= moment(club.updates[i].eventDate).format('LL') %>" class="calendar">
                  <em><%= moment(club.updates[i].eventDate).format('dddd') %></em>
                  <strong><%= moment(club.updates[i].eventDate).format('MMM') %></strong>
                  <span><%= moment(club.updates[i].eventDate).format('D') %></span>
                </time>
              </div>
            <% } else{ %>
              <div class="eventD text-md mx-2 my-1 lineheight"></div>
            <% } %>
            <div class="grey text-sm mobiletext3 mobilebold">
              <%= club.updates[i].news %>
              <div class="lightgrey text-xxs notbold mt-2"><em><%= moment(club.updates[i].pushedAt).calendar() %></em></div>
              <% if(0 <= rank && rank <= 1){ %>
                <div class="lightgrey text-xxs notbold nothing">[by: <em><%= club.updates[i].pusherName %></em>]</div>
              <% } %>
            </div>
            <div class="d-flex flex-row ml-auto mb-auto">
              <% if(0 <= rank && rank <= 1){ %>
                <span id="clear_update<%= i %>" class="dropdown ml-auto mb-auto clear_update2">
                  <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
                  <ul class="dropdown-menu dropdown-menu-right dropbox">
                    <div class="container drop-shadow1">
                      <li>
                        <button class="dropitems link-button red text-sm" href="#delUpdateModal<%= club.updates[i]._id %>" data-toggle="modal">Delete update</button>
                      </li>
                    </div>
                  </ul>
                </span>
                <!-- Modal HTML -->
                <div id="delUpdateModal<%= club.updates[i]._id %>" class="fixed-padding modal fade">
                  <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                      <div class="d-flex">
                        <span class="icon-box">
                          <i class="fas fa-exclamation-triangle text-xxxl"></i>
                        </span>              
                        <span class="my-auto"><h5 class="modal-title">Are you sure?</h5></span>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div>
                        <p>Do you really want to delete this update? This cannot be undone.</p>
                      </div>
                      <div class="my-2">
                        <button type="button" class="btn btn-secondary btn-sm mr-1" data-dismiss="modal">Cancel</button>
                        <form class="delete-form inline text-sm" action="/clubs/<%= club._id %>?_method=PUT" method="POST">
                          <button class="btn btn-danger btn-sm ml-1" name="delUpdate" value="<%= club.updates[i]._id %>" type="submit">Delete</button>
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    <% } else if(0 <= rank && rank <= 4){ %>
      <div class="updates-card">
        <div id="updates-content" class="text-center lightgrey text-sm pt-1">No updates yet.</div>
      </div>
    <% } else{ %>
      <div class="updates-card">
        <div class="text-center lightgrey text-sm pt-1">You are not a club member :/</div>
      </div>
    <% } %>
  </div>
</div>