<% var len1 = buckets.length; var i; for(i=len1-1;i>=0;i--){ %>
  <% var comments = buckets[i].comments; var len2 = comments.length; var j; for(j=len2-1;j>=0;j--){ %>
    <div class="hr3 mb-1">
      <div class="valign card-body1">
        <div class="mb-auto py-2">
          <a href="/users/<%= comments[j].commentAuthor.id._id %>">
            <img class="postdp rounded-circle" src="<%= CA_50_profilePic[i][j] || '/images/noUser.png' %>">
          </a>
        </div>
        <div class="commentdiv my-1 pb-2 lineheight">
          <div class="valign pl-1">
            <div>
              <span><a href="/users/<%= comments[j].commentAuthor.id._id %>" class="text-md darkgrey"><strong><span><%= comments[j].commentAuthor.id.fullName %></span></strong></a>
              </span>
              <span class="darkgrey text-xxs boldtext"><%= moment(comments[j].postedAt).fromNow() %></span>
            </div>
            <div class="d-flex flex-row mb-auto">
              <% if(currentUser && comments[j].commentAuthor.id._id.equals(currentUser._id)){ %>
                <div class="dropdown">
                  <button class="btn btn-sm dropdown-toggle editprofile nothing px-1 pt-1" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v text-xxs"></i></button>
                  <ul class="dropdown-menu dropbox">
                    <div class="container drop-shadow1">
                      <li>
                        <a class="dropitems text-sm" href="/posts/<%= post._id %>/comments/<%= buckets[i]._id %>/<%= comments[j]._id %>/edit">Edit comment</a>
                      </li>
                      <hr>
                      <li>
                        <button class="dropitems link-button red text-sm" href="#delBucket<%= i %>Comment<%= j %>Modal" data-toggle="modal">Delete comment</button>
                      </li>
                    </div>
                  </ul>
                </div>
                <!-- Modal HTML -->
                <div id="delBucket<%= i %>Comment<%= j %>Modal" class="fixed-padding modal fade">
                  <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                      <div class="d-flex">
                        <span class="icon-box">
                          <i class="fas fa-exclamation-triangle text-xxxl"></i>
                        </span>              
                        <span class="my-auto"><h5 class="modal-title">Are you sure?</h5></span>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div>
                        <p>Do you really want to delete this comment? This cannot be undone.</p>
                      </div>
                      <div class="my-2">
                        <button type="button" class="btn btn-secondary btn-sm mr-1" data-dismiss="modal">Cancel</button>
                        <form class="delete-form inline text-sm" action="/posts/<%= post._id %>/comments/<%= buckets[i]._id %>/<%= comments[j]._id %>?_method=DELETE" method="POST">
                          <button class="btn btn-danger btn-sm ml-1" type="submit">Delete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
              <form action="/comments/<%= buckets[i]._id %>/<%= comments[j]._id %>/vote" method="POST">
                <div class="d-flex flex-row commentwrap lineheight0 mt-1">
                  <% if(upComments.includes(comments[j]._id)){ %>
                    <button id="comment-up-btn<%= comments[j]._id %>" class="vote likebtn greencolor commentvote" name="commentUp" type="button" value="up" title="Upvote comment"><i class="fas fa-arrow-alt-circle-up"></i></button>
                    <button class="vote boldtext commentvote text-xxl ml-0 pb-2" name="commentUp" type="button" value="up" title="Upvote comment">
                      <span id="comment-up-count<%= comments[j]._id %>" class="text-xs text-center greencolor"><%= comments[j].upvotesCount %></span>
                    </button>
                  <% } else{ %>
                    <button id="comment-up-btn<%= comments[j]._id %>" class="vote likebtn commentvote" name="commentUp" type="button" value="up" title="Upvote comment"><i class="fas fa-arrow-alt-circle-up"></i></button>
                    <button class="vote boldtext commentvote text-xxl ml-0 pb-2" name="commentUp" type="button" value="up" title="Upvote comment">
                      <span id="comment-up-count<%= comments[j]._id %>" class="text-xs text-center"><%= comments[j].upvotesCount %></span>
                    </button>
                  <% } %>
                </div>
              </form>
            </div>
          </div>
          <div class="mobiletext linewrap px-1 pb-1" style="margin-top: -0.25rem ;"><%= comments[j].text %></div>
        </div>
      </div>
    </div>
  <% } %>
<% } %>
