<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>clubmate - The Front Page of Your College</title>
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/css/libs/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/index.css">
    <% if(currentUser && currentUser.darkTheme){ %>
    <link rel="stylesheet" href="/css/dark.css">
    <% } %>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- Mobile/PWA support -->
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/images/icons/favicon-16x16.ico">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/images/icons/favicon-32x32.ico">
    <link rel="icon" type="image/x-icon" sizes="64x64" href="/images/icons/favicon-96x96.ico">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/app-icon-192x192.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#262626">
    <meta name="apple-mobile-web-app-title" content="clubmate">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-57x57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-180x180.png" sizes="180x180">
    <meta name="msapplication-navbutton-color" content="#262626">
    <meta name="msapplication-TileColor" content="#262626">
    <meta name="msapplication-TileImage" content="/images/icons/app-icon-144x144.png">
    <meta name="theme-color" content="#262626">
  </head>
  <body>
    <!-- Load progress bar -->
    <div class="nanobar meter animate" id="bar-id" style="position: fixed;">
      <div class="bar"></div>
    </div>
    <nav id="navbar" class="navbar navbar-expand-md navbar-light fixed-top navback drop-shadow">
      <button id="menu-toggle" onclick="hidesidebar(0);" class="mobileNoneFlex" type="button"><i class="fas fa-bars"></i></button>
      <div>
        <span id="brandname">
          <a href="#" class="navbar-brand navname mobileNone" style="cursor: default;">
            <em>clubmate</em>
          </a>
          <% if(currentUser && locals.college_page){ %>
            <a href="/users/<%= currentUser.id %>" class="navbar-brand navname desktopNoneFlex">
              <span class="valign lineheight">
                <span>
                  <% if(currentUser.userKeys.sex == 'Male'){ %>
                    <% if(CU_50_profilePic){ %>
                      <img id="myprofileimage_on_collegepage" class="chatdp rounded-circle" src="<%= CU_50_profilePic %>">
                    <% } else{ %>
                      <img id="myprofileimage_on_collegepage" class="chatdp rounded-circle" src="<%= '/images/noUserMale.png' %>">
                    <% } %>
                  <% } else if(currentUser.userKeys.sex == 'Female'){ %>
                    <% if(CU_50_profilePic){ %>
                      <img id="myprofileimage_on_collegepage" class="chatdp rounded-circle" src="<%= CU_50_profilePic %>">
                    <% } else{ %>
                      <img id="myprofileimage_on_collegepage" class="chatdp rounded-circle" src="<%= '/images/noUserFemale.png' %>">
                    <% } %>
                  <% } %>
                </span>
                <span style="text-transform: lowercase;"><%= currentUser.firstName %></span>
              </span>
            </a>
          <% } else{ %>
            <a href="/" class="navbar-brand navname desktopNone">
              <em>clubmate</em>
            </a>
          <% } %>
        </span>
      </div>
      <div>
        <% if(currentUser){ %>
          <div id="inbox_mobile_div" class="inbox_mobile" style="margin-right: -0.5rem;">
            <span class="notification">
              <a href="/chats/feed" id="inbox_mobile" class="inbox_mobile" title="Chats" onclick="toggle_requests('inbox_mobile');"><i class="far fa-comment-dots"></i></a>
              <% if(currentUser.unreadChatsCount > 0){ %>
                <span class="inbox_mobile inbox_count badge badge-mobile text-xs desktopNone"><%= currentUser.unreadChatsCount %></span>
              <% } %>
            </span>
          </div>
        <% } %>
        <div id="mobile_toggler_div" class="nodisplay" style="margin-right: -0.5rem;">
          <button id="mobile_toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon notification">
              <% if (currentUser && (currentUser.friendRequests.length + currentUser.clubInvites.length) != 0){ %>
                <% if((currentUser.friendRequests.length + currentUser.clubInvites.length) < 10){ %>
                  <span class="badge badge-mobile text-xs"><%= currentUser.friendRequests.length + currentUser.clubInvites.length %></span>
                <% } else{ %>
                  <span class="badge badge-mobile text-xs">9+</span>
                <% } %>
              <% } %>
            </span>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" style="margin-left: -0.25rem;">
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>">
            <a href="/" class="nav-link burgernav">Home</a>
          </li>
          <!--Search bar-->
          <li class="nav-item">
            <form action="/search" method="GET" class="form-inline">
              <div class="input-group input-group-sm">
                <input id="nav_search" type="text" name="search" class="form-control search" placeholder="Search">
                <div class="input-group-append searchbtn-div">
                  <button class="btn btn-secondary search" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <% if(!currentUser){ %>
            <li class="nav-item">
              <a href="/help" id="help_offline" class="text-lg nav-link burgernav requests navhelp" data-toggle="tooltip" title="Help" onclick="toggle_requests('help_offline');"><i class="fas fa-question-circle"></i></a>
            </li>
            <li id="notLoggedIn" class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
              <a href="/login" class="nav-link burgernav">Login</a>
            </li>
            <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
              <a href="/register" class="nav-link burgernav">Sign Up</a>
            </li>
          <% } else{ %>
            <li class="nav-item notification">
              <span><a href="/chats/feed" id="inbox" class="text-xxl nav-link burgernav requests" title="Chats"><i class="fas fa-comment-dots" onclick="toggle_requests('inbox');"></i></a></span>
              <% if(currentUser.unreadChatsCount > 0){ %>
                <span class="inbox_count badge text-xs"><%= currentUser.unreadChatsCount %></span>
              <% } %>
            </li>
            <li class="nav-item notification" data-toggle="collapse" data-target=".navbar-collapse.show">
              <span id="requestslink" class="text-xxl nav-link burgernav requests" title="Requests" onclick="toggle_requests('requestslink'); toggle_display('pop_box_requests');">
                <i class="fas fa-bell"></i>
              </span>
              <% if (currentUser && (currentUser.friendRequests.length + currentUser.clubInvites.length) != 0){ %>
                <% if((currentUser.friendRequests.length + currentUser.clubInvites.length) < 10){ %>
                  <span class="badge text-xs"><%= currentUser.friendRequests.length + currentUser.clubInvites.length %></span>
                <% } else{ %>
                  <span class="badge text-xs">9+</span>
                <% } %>
              <% } %>
            </li>
            <li class="nav-item">
              <a href="/help" id="help_online" class="text-xl nav-link burgernav requests navhelp" title="Help" onclick="toggle_requests('help_online');"><i class="fas fa-question-circle"></i></a>
            </li>
            <li class="nav-item d-inline-flex">
              <div>
                <a href="/users/<%= currentUser.id %>" class="nav-link burgernav img nowrap">
                  <span>
                    <% if(currentUser.userKeys.sex == 'Male'){ %>
                      <% if(CU_50_profilePic){ %>
                        <img class="navdp rounded-circle" src="<%= CU_50_profilePic %>">
                      <% } else{ %>
                        <img class="navdp rounded-circle" src="<%= '/images/noUserMale.png' %>">
                      <% } %>
                    <% } else if(currentUser.userKeys.sex == 'Female'){ %>
                      <% if(CU_50_profilePic){ %>
                        <img class="navdp rounded-circle" src="<%= CU_50_profilePic %>">
                      <% } else{ %>
                        <img class="navdp rounded-circle" src="<%= '/images/noUserFemale.png' %>">
                      <% } %>
                    <% } %>
                  </span>
                  <span id="navname" value="<%= currentUser._id %>"><%= currentUser.firstName %></span>
                </a>
              </div>
              <div class="vr"></div>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link burgernav">Logout</a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>


<!-- Popup box requests -->
<div class="popup-box scroll moz-scroll" id="pop_box_requests">
  <% if (currentUser && currentUser.clubInvites.length != 0){ %>
    <div class="pop-header valign">
      <h6 class="m-0 p-0 lightgrey text-xs"><i class="fas fa-envelope-open-text mr-2"></i>Club Invites</h6>
      <% if (currentUser.clubInvites.length != 0){ %>
        <button class="btn btn-danger btnxxs text-xs" onclick="closeForm('pop_box_requests'); toggle_requests('requestslink');"><i class="fas fa-times"></i></button>
      <% } %>
    </div>
    <hr>
    <% for(var i=0;i<clubInviteRequests.length;i++){ %>
      <div class="pop-container">
        <div class="valign py-1">
          <div class="d-inline-flex wordwrap">
            <span>
              <a href="/clubs/<%= clubInviteRequests[i]._id %>">
                <img class="navdp" src="<%= CI_50_clubAvatar[i] || '/images/noClub.png' %>"></a>
            </span>
            <span>
              <div class="d-flex flex-column lineheight-lesser mx-2">
                <a href="/clubs/<%= clubInviteRequests[i]._id %>" class="grey">
                  <strong class="text-sm"><%= clubInviteRequests[i].name %></strong></a>
                <span class="lightgrey text-xs"><%= clubInviteRequests[i].banner %></span>
              </div>
            </span>
          </div>
          <div class="mb-auto">
            <form action="/requests?_method=PUT" method="POST" class="form-inline" style="width: max-content;">
              <span>
                <button class="btn btnxs btn-primary text-sm" name="acceptInvite" type="submit" value="<%= clubInviteRequests[i]._id %>">Accept</button>
              </span>
              <span>
                <button class="btn btnxs btn-secondary text-sm" name="removeInvite" type="submit" value="<%= clubInviteRequests[i]._id %>">Decline</button>
              </span>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
          </div>
        </div>
      </div>
    <% } %>
  <% } %>
  <% if(currentUser && currentUser.friendRequests.length != 0){ %>
    <div class="pop-header valign">
      <h6 class="m-0 p-0 lightgrey text-xs"><i class="fas fa-user-friends mr-2"></i>Friend Requests</h6>
      <% if (currentUser.clubInvites.length == 0){ %>
        <button class="btn btn-danger btnxxs text-xs" onclick="closeForm('pop_box_requests'); toggle_requests('requestslink');"><i class="fas fa-times"></i></button>
      <% } %>
    </div>
    <hr>
    <% for(var j=0;j<friendRequests.length;j++){ %>
      <div class="pop-container">
        <div class="valign py-1">
          <div class="d-inline-flex wordwrap">
            <span>
              <a href="/users/<%= friendRequests[j]._id %>">
                <% if(friendRequests[j].userKeys.sex == 'Male'){ %>
                  <img class="navdp" src="<%= FR_50_profilePic[j] || '/images/noUserMale.png' %>">
                <% } else if(friendRequests[j].userKeys.sex == 'Female'){ %>
                  <img class="navdp" src="<%= FR_50_profilePic[j] || '/images/noUserFemale.png' %>">
                <% } %>
              </a>
            </span>
            <span>
              <div class="d-flex flex-column lineheight-lesser mx-2">
                <a href="/users/<%= friendRequests[j]._id %>" class="grey">
                  <strong class="text-sm"><%= friendRequests[j].fullName %></strong></a>
                <span class="lightgrey text-xs"><%= friendRequests[j].note %></span>
              </div>
            </span>
          </div>
          <div class="mb-auto">
            <form action="/requests?_method=PUT" method="POST" class="form-inline" style="width: max-content;">
              <span>
                <button class="btn btnxs btn-primary text-sm" name="acceptReq" type="submit" value="<%= friendRequests[j]._id %>">Accept</button>
              </span>
              <span>
                <button class="btn btnxs btn-secondary text-sm" name="removeReq" type="submit" value="<%= friendRequests[j]._id %>">Decline</button>
              </span>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
          </div>
        </div>
      </div>
    <% } %>
  <% } else if(currentUser && (currentUser.friendRequests.length == 0 && currentUser.clubInvites.length == 0)){ %>
    <div class="pop-header valign">
      <span class="m-0 p-0 lightgrey boldtext text-xs">No pending requests</span>
      <button class="btn btn-danger btnxxs text-xs" onclick="closeForm('pop_box_requests'); toggle_requests('requestslink');"><i class="fas fa-times"></i></button>
    </div>
  <% } %>
</div>


    <!-- The sidebar -->
    <div class="sidebar-back"></div>
    <div id="sidebar" class="sidebar scroll moz-scroll">
      <a class="hr2" id="side-home" href="/">
        <div class="d-flex justify-content-start">
          <div><i class="fas fa-home sidebar-icon px-1"></i></div>
          <div class="sidebar-label my-auto">Home</div>
        </div>
      </a>
    <% if(!currentUser){ %>
      <a id="side-clubs" class="hr2">
        <div class="valign">
          <div class="d-flex justify-content-start">
            <div id="club-door" class="nocaretmar"><i class="fas fa-door-closed mobilepad sidebar-icon px-1"></i></div>
            <div class="sidebar-label my-auto">Clubs</div>
          </div>
          <div id="side-drop" class="invisible mx-1"><i class="fa fa-caret-down"></i></div>
        </div>
      </a>
    <% } else { %>
      <a id="side-clubs" class="hr2 dropdown-sidebar">
        <div class="valign">
          <div class="d-flex justify-content-start">
            <div id="club-door"><i class="fas fa-door-closed sidebar-icon px-1"></i></div>
            <div class="sidebar-label my-auto">Clubs</div>
          </div>
          <div id="side-drop" class="mx-1"><i class="fa fa-caret-down"></i></div>
        </div>
      </a>
      <div id="sidebar-dropbox" class="scroll moz-scroll">
        <% if(userClubs.length){ %>
          <% userClubs.forEach(function(club){ %>
            <div><a class="text-sm boldtext side-drop-elem" href="/clubs/<%= club.id %>"><%= club.clubName %></a></div>
          <% }); %>
        <% } else{ %>
          <div><a class="text-sm side-drop-elem px-3 py-5 lightgrey2 lineheight-0" href="#">No clubs joined</a></div>
        <% } %>
      </div>
    <% } %>
      <a class="hr2" id="side-lobby" href="/lobby">
        <div class="d-flex justify-content-start">
          <div><i class="fas fa-microphone-alt sidebar-icon px-1" style="font-size: 1.5rem"></i></div>
          <div class="sidebar-label my-auto">Rooms</div>
        </div>
      </a>
      <a class="hr2" id="side-discover" href="/discover">
        <div class="d-flex justify-content-start">
          <div><i class="fas fa-compass sidebar-icon px-1"></i></div>
          <div class="sidebar-label my-auto">Discover</div>
        </div>
      </a>
    </div>

    <!-- Page content -->
    <div id="content" class="content">
      <% if(error && error.length>0){ %>
        <div class="container pt-3">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= error %>
          </div>
        </div>
      <% } %>
      <% if(success && success.length>0){ %>
        <div class="container pt-3">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= success %>
          </div>
        </div>
      <% } %>

      <% if(currentUser && !(currentUser.jamKey)){ %>
        <!-- <script type="module" src="/js/jam-util.js"></script> -->
        <script type="module">
          // Jam public key doesn't exists, so create and set for this user
          import { seedToPublicKey } from "/js/jam-util.js";
          const csrfToken = "<%= csrfToken %>";

          async function postData(url = '', data = {}) {
            const response = await fetch(url, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return response.json(); // parses JSON response into native JavaScript objects
          }

          (async function setJamKey() {
            const jamKey = await seedToPublicKey("<%= currentUser.id %>");

            postData(`/audio/setkey`, { public_key: jamKey , _csrf: csrfToken })
              .then(data => {
                // Jam key will be set on the server, no need to do anything here
                console.log("JAM key set ", data); // JSON data parsed by `data.json()` call
              });
          }) ();
        </script>
      <% } %>