<div class="card mt-0">
  <button type="button" class="btn btn-sm boldtext btncollapse text-left" data-toggle="collapse" data-target="#latestUpdates">
    <div class="valign">
      <div><span><i class="far fa-newspaper"></i></span><span class="boldtext">Latest updates</span></div>
      <div><span class="lightgrey text-sm nopad"><%= latestUpdates().length %></span></div>
    </div>
  </button>
  <div id="latestUpdates" class="collapse show scroll moz-scroll">
    <% var arr = latestUpdates();
    for(i=0;i<arr.length;i++){ %>
      <div class="searchcard d-flex flex-row" onmouseover="toggle_display('clear_update<%= i %>');" onmouseout="toggle_display('clear_update<%= i %>');">
        <div class="eventD text-md mx-2 my-1 lineheight">
          <% if(arr[i].eventDate){ %>
            <span><strong><%= moment(arr[i].eventDate).format('D') %></strong>
            <br>
            <%= moment(arr[i].eventDate).format('MMM') %>, 
            <%= moment(arr[i].eventDate).format('YY') %></span>
          <% } %>
        </div>
        <div class="mr-1 fullwidth">
          <div class="boldtext text-sm valign">
            <div><a class="black" href="/clubs/<%= arr[i].clubId %>"><%= arr[i].clubName %></a>
              <% if((Date.now() - arr[i].pushedAt) < 3600000*24){ %>
                <sup class="badge badge-warning text-xxxxs">NEW</sup>
              <% } %>
            </div>
            <div id="clear_update<%= i %>" class="nounderline clear_update">
              <form action="/users/<%= currentUser._id %>?_method=PUT" method="POST">
                <button class="red nothing link-button px-1 text-sm" name="delUpdate" value="<%= arr[i]._id %>" type="submit"><strong>&times;</strong></button>
              </form>
            </div>
          </div>
          <% if(arr[i].news == 'This update has been deleted'){ %>
            <div class="text-xs redcolor"><em><%= arr[i].news %> by <%= arr[i].deleterName %></em></div>
          <% } else{ %>
            <div class="lightgrey text-xs boldtext"><%= arr[i].news %></div>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
</div>

<%
  function latestUpdates(){
    var upEventsArr=[], len = clubUpdates.length;
    if(len != 0){
      for(i=len-1;i>=0;i--){
        var obj={};
        obj['clubId'] = clubUpdates[i].clubId;
        obj['clubName'] = clubUpdates[i].clubName;
        obj['deleterName'] = clubUpdates[i].deleterName;
        obj['_id'] = clubUpdates[i]._id;
        obj['eventDate'] = clubUpdates[i].eventDate;
        obj['news'] = clubUpdates[i].news;
        obj['pushedAt'] = clubUpdates[i].pushedAt;
        upEventsArr.push(obj);
      }
    };
    var arr = upEventsArr.sort(function(a, b) {
      return new Date(b.pushedAt) - new Date(a.pushedAt);
    });
    return arr;
  }
%>