<div class="card mt-0 border-light greyback btncollapse-div lb-absolute">
  <button type="button" class="btn btn-sm boldtext btncollapse btncollapse-fade collapsed text-left" data-toggle="collapse" data-target="#latestUpdates">
    <div class="valign">
      <div class="mobiletext3">
        <span><i class="far fa-newspaper"></i></span>
        <span class="mobilebold">
          Latest updates
          <% if(latestUpdates().newupdate){ %>
            <i class="far fa-bell text-xs ml-2" style="color: grey;"></i>
          <% } %>
        </span>
      </div>
      <div><span id="latestUpdates-count" class="lightgrey text-sm mobiletext3 ml-2 nopad"><%= latestUpdates().arr.length %></span></div>
    </div>
  </button>
  <div id="latestUpdates" class="collapse btncollapse-content scroll moz-scroll">
    <div id="updates-content">
      <% var arr = latestUpdates().arr;
      for(i=0;i<arr.length;i++){ %>
        <div class="fullwidth d-flex flex-row py-2" onmouseover="toggle_display('clear_update<%= i %>');" onmouseout="toggle_display('clear_update<%= i %>');">
          <% if(arr[i].eventDate){ %>
            <div class="text-md mx-2 my-1 lineheight">
              <time datetime="<%= moment(arr[i].eventDate).format('LL') %>" class="calendar">
                <em><%= moment(arr[i].eventDate).format('dddd') %></em>
                <strong><%= moment(arr[i].eventDate).format('MMM') %></strong>
                <span><%= moment(arr[i].eventDate).format('D') %></span>
              </time>
            </div>
          <% } else{ %>
            <div class="eventD text-md mx-2 my-1 lineheight"></div>
          <% } %>
          <div class="mr-1 fullwidth">
            <div class="boldtext text-sm mobiletext3 valign">
              <div><a class="darkgrey" href="/clubs/<%= arr[i].clubId %>"><%= arr[i].clubName %></a>
                <% if((Date.now() - arr[i].pushedAt) < 3600000*24){ %>
                <sup class="badge badge-warning text-xxxxs">NEW</sup>
                <% } %>
              </div>
              <div id="clear_update<%= i %>" class="nounderline clear_update">
                <form action="/users/<%= currentUser._id %>?_method=PUT" method="POST">
                  <button class="red lightgrey nothing link-button px-1 text-sm mobiletext3" name="delUpdate" value="<%= arr[i]._id %>" type="submit"><strong class="clear_updatex">&times;</strong></button>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              </div>
            </div>
            <% if(arr[i].deleterName && arr[i].news == 'This update has been deleted'){ %>
              <div class="text-xs mobiletext3 redcolor"><em><%= arr[i].news %> by <%= arr[i].deleterName %></em></div>
            <% } else{ %>
              <div class="lightgrey text-xs mobiletext3 mobilebold"><%= arr[i].news %></div>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>

<%
  function latestUpdates(){
    var upEventsArr=[], len = clubUpdates.length, newupdate = false;
    if(len != 0){
      for(i=len-1;i>=0;i--){
        var obj={};
        obj['clubId'] = clubUpdates[i].clubId;
        obj['clubName'] = clubUpdates[i].clubName;
        obj['deleterName'] = clubUpdates[i].deleterName;
        obj['_id'] = clubUpdates[i]._id;
        obj['eventDate'] = clubUpdates[i].eventDate;
        obj['news'] = clubUpdates[i].news;
        obj['pushedAt'] = clubUpdates[i].pushedAt;
        upEventsArr.push(obj);
        if((Date.now() - clubUpdates[i].pushedAt) < 3600000*24){
          newupdate = true;
        }
      }
    }
    var arr = upEventsArr.sort(function(a, b) {
      return new Date(b.pushedAt) - new Date(a.pushedAt);
    });
    var returnobj = {};
    returnobj['arr'] = arr;
    returnobj['newupdate'] = newupdate;
    return returnobj;
  }
%>