<% var len = posts.length; var k=0; for(k;k<len;k++){ %>
  <div class="card noborder">
    <div class="card-body">
      <div class="dropctn">
        <div class="valign lineheight">
          <div>
            <a href="/clubs/<%= posts[k].postClub._id %>"><img class="navdp rounded-circle d-flex mr-2" src="<%= PC_50_clubAvatar[k] || '/images/noClub.png' %>"></a>
          </div>
          <div class="lineheight2">
            <div>
              <span class="mobiletext2">
                <a href="/clubs/<%= posts[k].postClub._id %>" class="darkgrey"><strong><%= posts[k].postClub.name %></strong></a>
              </span>
              <em class="text-xs lightgrey">. <%= moment(posts[k].createdAt).calendar(); %></em>
            </div>
            <div>
              <% if(currentUser && match){ %>
                <div class="badge badge-light text-xxs"><%= privacyText(posts[k].privacy) %></div>
                <% if(0 <= posts[k].moderation && posts[k].moderation <= 1){ %>
                  <div id="mod-badge<%= posts[k]._id %>" class="mod-badge badge badge-light text-xxs"><%= posts[k].moderation %></div>
                <% } else if(posts[k].moderation == -1){ %>
                  <div id="mod-badge<%= posts[k]._id %>" class="mod-badge badge badge-danger text-xxs"><%= posts[k].moderation %></div>
                <% } %>
              <% } %>
              <% if(posts[k].descEdit.length != 0){ %>
                <div class="badge badge-warning text-xxs">Edited</div>
              <% } %>
            </div>
          </div>
        </div>
        <% if(currentUser){ %>
          <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
            <ul class="dropdown-menu dropdown-menu-right dropbox">
              <div class="container drop-shadow1">
                <li><a class="dropitems text-sm" href="#">Help ?</a></li>
                <% if(currentUser._id.equals(posts[k].postAuthor.id)){ %>
                  <hr>
                  <li>
                    <button class="dropitems link-button text-sm red" href="#delPostModal<%= k %>" data-toggle="modal">Delete post</button>
                  </li>
                <% }; %>
              </div>
            </ul>
            <% if(currentUser._id.equals(posts[k].postAuthor.id)){ %>
              <!-- Modal HTML -->
              <div id="delPostModal<%= k %>" class="fixed-padding modal fade">
                <div class="modal-dialog modal-confirm">
                  <div class="modal-content">
                    <div class="d-flex">
                      <span class="icon-box">
                        <i class="fas fa-exclamation-triangle text-xxxl"></i>
                      </span>              
                      <span class="my-auto"><h5 class="modal-title">Are you sure?</h5></span>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div>
                      <p>Do you really want to delete this post? This cannot be undone.</p>
                    </div>
                    <div class="my-2">
                      <button type="button" class="btn btn-secondary btn-sm mr-1" data-dismiss="modal">Cancel</button>
                      <form class="delete-form inline" action="/clubs/<%= posts[k].postClub._id %>/posts/<%= posts[k]._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm ml-1" type="submit">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            <% }; %>
          </div>
        <% }; %>
      </div>
    </div>
    <% if(posts[k].topic == ''){ %>
      <% if(posts[k].image){ %>
        <a href="/clubs/<%= posts[k].postClub._id %>/posts/<%= posts[k]._id %>">
          <div><img class="card-img-top postimg" src="<%= posts[k].image %>"></div>
        </a>
        <div class="card-body">
          <p class="truncate nothing mobiletext linewrap"><%= posts[k].description %></p>
        </div>
        <hr>
      <% } else{ %>
        <div class="card-body2 nounderline nothing">
          <a href="/clubs/<%= posts[k].postClub._id %>/posts/<%= posts[k]._id %>">
            <p class="truncate2 nothing mobiletext linewrap nolink"><%= posts[k].description %></p>
          </a>
        </div>
        <hr>
      <% } %>
      <div class="card-body3">
        <form class="post-vote-form valign" action="/posts/<%= posts[k]._id %>/vote" method="POST">
          <div class="valign">
            <% if(currentUser){ %>
              <% if(hasVote[k] == 1){ %>
                <span class="d-flex mr-1"> 
                  <button id="like-btn<%= posts[k]._id %>" class="vote likebtn greencolor" name="like" type="submit" value="like" title="Like"><i class="fas fa-thumbs-up"></i></button>
                </span>
                <span id="like-count<%= posts[k]._id %>" class="boldtext lightgrey nothing text-sm greencolor"><%= posts[k].likeCount %></span>
                <span class="d-flex ml-2 mr-1">
                  <button id="dislike-btn<%= posts[k]._id %>" class="vote dislikebtn" name="dislike" type="submit" value="dislike" title="Dislike"><i class="fas fa-thumbs-down"></i></button>
                </span>
                <span id="dislike-count<%= posts[k]._id %>" class="boldtext lightgrey nothing text-sm"><%= posts[k].dislikeCount %></span>
              <% } else if(hasVote[k] == -1){ %>
                <span class="d-flex mr-1"> 
                  <button id="like-btn<%= posts[k]._id %>" class="vote likebtn" name="like" type="submit" value="like" title="Like"><i class="fas fa-thumbs-up"></i></button>
                </span>
                <span id="like-count<%= posts[k]._id %>" class="boldtext lightgrey nothing text-sm"><%= posts[k].likeCount %></span>
                <span class="d-flex ml-2 mr-1">
                  <button id="dislike-btn<%= posts[k]._id %>" class="vote dislikebtn blackcolor" name="dislike" type="submit" value="dislike" title="Dislike"><i class="fas fa-thumbs-down"></i></button>
                </span>
                <span id="dislike-count<%= posts[k]._id %>" class="boldtext lightgrey nothing text-sm blackcolor"><%= posts[k].dislikeCount %></span>
              <% } else if(hasVote[k] == 0 || hasVote[k] == 3){ %>
                <span class="d-flex mr-1"> 
                  <button id="like-btn<%= posts[k]._id %>" class="vote likebtn" name="like" type="submit" value="like" title="Like"><i class="fas fa-thumbs-up"></i></button>
                </span>
                <span id="like-count<%= posts[k]._id %>" class="boldtext lightgrey nothing text-sm"><%= posts[k].likeCount %></span>
                <span class="d-flex ml-2 mr-1">
                  <button id="dislike-btn<%= posts[k]._id %>" class="vote dislikebtn" name="dislike" type="submit" value="dislike" title="Dislike"><i class="fas fa-thumbs-down"></i></button>
                </span>
                <span id="dislike-count<%= posts[k]._id %>" class="boldtext lightgrey nothing text-sm"><%= posts[k].dislikeCount %></span>
              <% } %>
            <% } else{ %>
              <span class="d-flex mr-2"> 
                <button id="like-btn<%= posts[k]._id %>" class="vote likebtn" name="like" type="submit" value="like" title="Like"><i class="fas fa-thumbs-up"></i></button>
              </span>
              <span class="d-flex ml-2">
                <button id="dislike-btn<%= posts[k]._id %>" class="vote dislikebtn" name="dislike" type="submit" value="dislike" title="Dislike"><i class="fas fa-thumbs-down"></i></button>
              </span>
            <% } %>
          </div>
        
          <div class="valign">
            <% if(currentUser){ %>
              <% if(hasVote[k] == 3){ %>
                <span id="heart-count<%= posts[k]._id %>" class="boldtext lightgrey nothing text-sm redcolor"><%= posts[k].heartCount %></span>
                <span><button id="heart-btn<%= posts[k]._id %>" class="vote heartbtn redcolor" name="heart" type="submit" value="heart" title="Heart"><i class="fas fa-heart"></i></button></span>
              <% } else if(hasVote[k] == 0 || hasVote[k] == 1 || hasVote[k] == -1){ %>
                <span id="heart-count<%= posts[k]._id %>" class="boldtext lightgrey nothing text-sm"><%= posts[k].heartCount %></span>
                <span><button id="heart-btn<%= posts[k]._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="far fa-heart"></i></button></span>
                <% } %>
            <% } else{ %>
              <span><button id="heart-btn<%= posts[k]._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="far fa-heart"></i></button></span>
            <% } %>
          </div>
        </form>
      </div>
    <% } else{ %>
      <!-- POSTS WITH TOPIC AND FURTHER DISCUSSION -->
      <div class="nounderline nothing">
        <div class="valign topic-head">
          <div class="mx-2 mb-auto">
            <h5 class="nothing topic-h5"><%= posts[k].topic %></h5>
          </div>
          <!-- UP/DOWN VOTE -->
          <div class="mx-2 mb-auto d-flex flex-column">
            <form class="d-flex flex-column post-modvote-form" action="/posts/<%= posts[k]._id %>/modvote" method="POST">
              <% if(hasModVote[k] == 1){%>
                <button id="upVote-btn<%= posts[k]._id %>" class="modvote upVotebtn bluecolor" name="upVote" type="submit" value="up" title="Upvote"><i class="fas fa-caret-up lineheight3"></i></button>
                <span id="modVote-count<%= posts[k]._id %>" class="boldtext nothing text-xs text-center bluecolor"><%= posts[k].upVoteCount - posts[k].downVoteCount %></span>
                <button id="downVote-btn<%= posts[k]._id %>" class="modvote downVotebtn" name="downVote" type="submit" value="down" title="Downvote"><i class="fas fa-caret-down lineheight3"></i></button>
              <% } else if(hasModVote[k] == -1){ %>
                <button id="upVote-btn<%= posts[k]._id %>" class="modvote upVotebtn" name="upVote" type="submit" value="up" title="Upvote"><i class="fas fa-caret-up lineheight3"></i></button>
                <span id="modVote-count<%= posts[k]._id %>" class="boldtext nothing text-xs text-center orangecolor"><%= posts[k].upVoteCount - posts[k].downVoteCount %></span>
                <button id="downVote-btn<%= posts[k]._id %>" class="modvote downVotebtn orangecolor" name="downVote" type="submit" value="down" title="Downvote"><i class="fas fa-caret-down lineheight3"></i></button>
              <% } else if(hasModVote[k] == 0){ %>
                <button id="upVote-btn<%= posts[k]._id %>" class="modvote upVotebtn" name="upVote" type="submit" value="up" title="Upvote"><i class="fas fa-caret-up lineheight3"></i></button>
                <span id="modVote-count<%= posts[k]._id %>" class="boldtext darkgrey nothing text-xs text-center"><%= posts[k].upVoteCount - posts[k].downVoteCount %></span>
                <button id="downVote-btn<%= posts[k]._id %>" class="modvote downVotebtn" name="downVote" type="submit" value="down" title="Downvote"><i class="fas fa-caret-down lineheight3"></i></button>
              <% } %>
            </form>
          </div>
        </div>
        <% if(posts[k].image){ %>
          <div class="truncate nothing mobiletext linewrap card-body3"><%= posts[k].description %></div>
          <a href="/clubs/<%= posts[k].postClub._id %>/posts/<%= posts[k]._id %>">
            <div><img class="card-img-top postimg" src="<%= posts[k].image %>"></div>
          </a>
        <% } else{ %>
          <a href="/clubs/<%= posts[k].postClub._id %>/posts/<%= posts[k]._id %>">
            <div class="truncate2 card-body3 mobiletext linewrap nolink"><%= posts[k].description %></div>
          </a>
        <% } %>
      </div>
      <hr>
      <!-- Vote bar -->
      <div class="card-body3">
        <form class="post-vote-form valign" action="/posts/<%= posts[k]._id %>/vote" method="POST">
          <div class="valign">
            <span class="lightgrey text-sm"><strong><%= posts[k].subpostsCount %></strong> subPosts</span>
          </div>
          <div class="valign">
            <% if(currentUser){ %>
              <% if(hasVote[k] == 3){ %>
                <span id="heart-count<%= posts[k]._id %>" class="boldtext lightgrey nothing text-sm redcolor"><%= posts[k].heartCount %></span>
                <span><button id="heart-btn<%= posts[k]._id %>" class="vote heartbtn redcolor" name="heart" type="submit" value="heart" title="Heart"><i class="fas fa-heart"></i></button></span>
              <% } else if(hasVote[k] == 0 || hasVote[k] == 1 || hasVote[k] == -1){ %>
                <span id="heart-count<%= posts[k]._id %>" class="boldtext lightgrey nothing text-sm"><%= posts[k].heartCount %></span>
                <span><button id="heart-btn<%= posts[k]._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="far fa-heart"></i></button></span>
                <% } %>
                  <span class="nodisplay" id="modVisibility<%= posts[k]._id %>"></span>
            <% } else{ %>
              <span><button id="heart-btn<%= posts[k]._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="far fa-heart"></i></button></span>
            <% } %>
          </div>
        </form>
      </div>
    <% } %>
  </div>
  <!-- COMMENTS -->
  <% if(posts[k].topic == ''){ %>
    <div class="card noborder indexcard2">
      <% if(posts[k].commentsCount != 0){ %>
        <div class="card-body3">
          <% var z=1; var buckets = posts[k].commentBuckets; var len1 = buckets.length; var i; for(i=len1-1;i>=0;i--){%>
            <% var comments = buckets[i].comments; var len2 = comments.length; var j; for(j=len2-1;j>=0;j--){%>
            <% if(z<=2){ %>
              <div class="valign">
                <div class="wordwrap">
                  <span><a href="/users/<%= comments[j].commentAuthor.id._id %>" class="black"><span class="nothing mobiletext boldtext"><%= comments[j].commentAuthor.authorName %></span></a>
                  </span>
                  <span class="mobiletext"><%= comments[j].text %></span>
                </div>
                <div class="d-flex flex-row-reverse valign mb-auto pt-2">
                  <span class="text-xs text-center boldtext lightgrey"><%= comments[j].upvotesCount %></span>
                <% if(currentUser && comments[j].commentAuthor.id._id.equals(currentUser._id)){ %>
                  <span class="dropdown nopad">
                    <button class="btn btn-sm dropdown-toggle valign" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v text-xxs ellipsis-sm"></i></button>
                    <ul class="dropdown-menu dropdown-menu-right dropbox">
                      <div class="container drop-shadow1">
                        <li>
                          <a class="dropitems text-sm" href="/posts/<%=posts[k]._id%>/comments/<%= buckets[i]._id %>/<%=comments[j]._id%>/edit">Edit comment</a>
                        </li>
                        <hr>
                        <li>
                          <button class="dropitems link-button red text-sm" href="#delPost<%= k %>Bucket<%= i %>Comment<%= j %>Modal" data-toggle="modal">Delete comment</button>
                        </li>
                      </div>
                    </ul>
                  </span>
                  <!-- Modal HTML -->
                  <div id="delPost<%= k %>Bucket<%= i %>Comment<%= j %>Modal" class="fixed-padding modal fade">
                    <div class="modal-dialog modal-confirm">
                      <div class="modal-content">
                        <div class="d-flex">
                          <span class="icon-box">
                            <i class="fas fa-exclamation-triangle text-xxxl"></i>
                          </span>              
                          <span class="my-auto"><h5 class="modal-title">Are you sure?</h5></span>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div>
                          <p>Do you really want to delete this comment? This cannot be undone.</p>
                        </div>
                        <div class="my-2">
                          <button type="button" class="btn btn-secondary btn-sm mr-1" data-dismiss="modal">Cancel</button>
                          <form class="delete-form inline" action="/posts/<%=posts[k]._id%>/comments/<%= buckets[i]._id %>/<%=comments[j]._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm ml-1" type="submit">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                <% } %>
                </div>
              </div>
            <% z++;} %>
            <% } %>
          <% } %>
        </div>
        <hr>
      <% }; %>
      <div class="card-body3">
        <div class="valign">
          <div class="mb-auto">
            <% if(currentUser){ %>
              <a href="/users/<%= currentUser._id %>"><span><img class="postdp rounded-circle" src="<%= CU_50_profilePic || '/images/noUser.png' %>"></span></a>
            <% }else{ %>
              <span><img class="postdp rounded-circle" src="<%= '/images/noUser.png' %>"></span>
            <% }%>
          </div>
          <div class="commentdiv">
            <form action="/posts/<%= posts[k]._id %>/comments" method="POST">
              <div class="input-group">
                <input onclick="block_display('commentbtn<%= posts[k]._id %>');" id="commentbox" class="commentbox text-sm form-control form-control-sm" type="text" name="text" placeholder="Write a comment" required>
              </div>
              <div class="d-flex flex-row-reverse">
                <button onclick="none_display('commentbtn<%= posts[k]._id %>'); clear_text();" class="btn btn-secondary commentbtn commentbtn<%= posts[k]._id %> btnxs text-sm ml-2 mt-2" type="button">Cancel</button>
                  <button class="btn btn-sm btn-success commentbtn commentbtn<%= posts[k]._id %> btnxs mt-2">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <% }; %>
<% }; %>