<% include ../partials/header %>
<link rel="stylesheet" href="/css/full_views/merchandises.css">

<div id="page_minheight_100">
  <div class="container my-2">
    <div class="row mt-3 mx-auto">
      <div class="col-3 mx-auto text-center">
        <div class="merch my-3">
          <a class="index-link" href="/colleges/<%= collegeName %>/merchandise/all">
            <div class="tile-image mx-auto">
              <img class="merch-icons" src="https://res.cloudinary.com/dubirhea4/image/upload/v1650388373/icons/merch_store.png" alt="All Products">
            </div>
            <h4 class="mt-2 text-mob-xs"><span>All</span><span id="all_products" class="m-0"> Products</span></h4>
          </a>
        </div>
      </div>
      <div class="col-3 mx-auto text-center">
        <div class="merch my-3">
          <a class="index-link" href="/colleges/<%= collegeName %>/merchandise/wearables">
            <div class="tile-image mx-auto">
              <img class="merch-icons" src="https://res.cloudinary.com/dubirhea4/image/upload/v1650388373/icons/merch_hoodie.png" alt="Wearables">
            </div>
            <h4 class="mt-2 text-mob-xs">Wearables</h4>
          </a>
        </div>
      </div>
      <div class="col-3 mx-auto text-center">
        <div class="merch my-3">
          <a class="index-link" href="/colleges/<%= collegeName %>/merchandise/accessories">
            <div class="tile-image mx-auto">
              <img class="merch-icons" src="https://res.cloudinary.com/dubirhea4/image/upload/v1650388373/icons/merch_mug.png" alt="Accessories">
            </div>
            <h4 class="mt-2 text-mob-xs">Accessories</h4>
          </a>
        </div>
      </div>
      <div class="col-3 mx-auto text-center">
        <div class="merch my-3">
          <a class="index-link" href="/colleges/<%= collegeName %>/merchandise/stickers">
            <div class="tile-image mx-auto">
              <img class="merch-icons" src="https://res.cloudinary.com/dubirhea4/image/upload/v1650388373/icons/merch_stickers.png" alt="Stickers">
            </div>
            <h4 class="mt-2 text-mob-xs">Stickers</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-2">
    <div class="row mt-3 title-heading mx-2">
      <h4 class="w-100 text-mob-xl">
        <div class="valign">
          <div class="name_div">
            <%- name %>
          </div>
        </div>
      </h4>
    </div>
    
    <% let count=0 %>
    <% for(let item of merchItems) { %>
    <% count++; %>
      <% if(count%4==1) { %>
        <div class="row mt-3 w-100 mx-auto">
      <% } %>
        <div class="col-sm-6 col-md-4 col-lg-3 text-center">
          <div class="card merch-card mx-1 my-3 p-2">
            <a href="/colleges/<%= collegeName %>/merchandise/<%- item.category %>/<%- item._id %>" class="nolink">
              <img src="<%- item.images[0] || '/images/noImage.png' %>"
                class="card-img-top item-img mx-auto cover <% if(!item.inStock) { %> out_of_stock <% } %>" alt="">
              <div class="card-body">
                <h5 class="card-title title">
                  <%- item.title %>
                </h5>
                <p class="text-muted">Posted By : <span class="posting">
                    <%= item.club.clubName %>
                  </span>
                </p>

                <% if(item.inStock) { %>
                  <p class="card-text">Price : Rs. <span class="price"><%- item.price %></span></p>
                <% } %>
                <% if(!item.inStock) { %>
                  <p class="card-text text-danger boldtext">Out Of Stock</p>
                <% } %>
                <div class="mt-1">
                  <!-- Working On This -->
                  <a href="/colleges/<%= collegeName %>/merchandise/<%- item.category %>/subtype/<%- item.subCategory %>"
                    class="text-decoration-none">
                    <mark class="product-tag px-2 py-1">
                      <%- item.subCategory %>
                    </mark>
                  </a>
                </div>
              </a>
            </div>
          </div>
        </div>
      <% if(count%4==0) { %>
        </div>
      <% } %>
    <% } %>
  </div>
</div>

<% include ../partials/footer %>