<% include ../partials/header %>
<link rel="stylesheet" href="/css/full_views/merchandises.css">


<div id="page_minheight_100" class="container px-3">
	<div id="show_merch_container">
		<div class="row my-2">
			<div class="col-md-6 mx-auto mt-4">
				<div class="product-carousel mx-auto">
					<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
						<div class="carousel-inner merch-carousel">
							<% let counter=0 %>
							<% if(merchItem.images.length){ %>
								<% for(let img of merchItem.images){ %>
									<div class="carousel-item <% if(counter == 0) { %> active  <% } %> whiteback">
										<img src="<%- img %>" class="cover item-img-show" alt="...">
									</div>
								<% counter++ ; %>
								<% } %>
							<% } else{ %>
								<div class="whiteback">
									<img src="/images/noImage.png" class="cover item-img-show" alt="...">
								</div>
							<% } %>
						</div>
						<% if(merchItem.images.length){ %>
							<button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
								data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
								data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</button>
						<% } %>
					</div>
				</div>
			</div>

			<div id="show_merch_details" class="col-md-6 my-4">
				<div class="container">
					<div class="valign">
						<div>
							<h4 class="title">
								<%- merchItem.title %>
							</h4>
						</div>
						<% if(isCollegeLevelAdmin){ %>
							<div class="remove-on-edit control-btns">
								<button id="edit-button" class="btn btn-light btn-round noshadow ml-2 mr-1 d-flex flex-row">
									<div><i class="fas fa-pen mr-2"></i></div>
									<div>Edit</div>
								</button>
								<form
									action="/colleges/<%= collegeName %>/merchandise/<%- merchItem.category %>/<%- merchItem._id %>?_method=DELETE"
									method="post">
									<button class="btn btn-danger btn-round ml-1">
										Delete
									</button>
								</form>
							</div>
						<% } %>
					</div>
				</div>
				<div class="row show-on-edit d-none">
					<div class="col-md-6 my-2">
						<form action="/colleges/<%= collegeName %>/merchandise/<%- merchItem.category %>/<%- merchItem._id %>?_method=PUT"
							method="post" class="card drop-shadow2 p-3 rounded">
							<div class="form-group">
								<label for="price">Price</label>
								<div class="input-group mb-2">
									<div class="input-group-prepend  price-field">
										<div class="input-group-text">Rs. </div>
									</div>
									<input type="text" class="form-control" id="price" name="price"
										placeholder="<%- merchItem.price %>" value="<%- merchItem.price %>">
								</div>
							</div>
							<div class="form-group">
								<span>Select Availability</span>
								<div class="availability my-2">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="inStock" id="in_stock"
											value="true" <% if(merchItem.inStock){ %> checked <% } %> >
											<label class="form-check-label" for="inlineRadio1">In Stock</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="inStock" id="out_of_stock"
											value="false" <% if(!merchItem.inStock){ %> checked <% } %> >
											<label class="form-check-label" for="inlineRadio2">Out Of Stock</label>
									</div>
								</div>
							</div>
							<div class="d-flex flex-row-reverse mt-4">
								<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</form>
					</div>
				</div>

				<p class="lead text-justify remove-on-edit">
					<%- merchItem.description %>
				</p>

				<% if(merchItem.sizes) { %>
				<h5 class="my-3 remove-on-edit mt-5 mobiletext0">
					<div class="size">
						Size :
					</div>
					<div class="size info30">
						<ul class="list-group list-group-horizontal">
							<% for(let size of merchItem.sizes) { %>
								<li class="list-group-item size-list-item">
									<%- size %>
								</li>
								<% } %>
						</ul>
					</div>
				</h5>
				<% } %>

				<% if(merchItem.colors) { %>
				<h5 class="my-3 mt-5 remove-on-edit mobiletext0">
					Color : <span class="info30">
						<span class="my-1">
							<% recommends_split(merchItem.colors); %>
						</span>
					</span>
				</h5>
				<% } %>

				<!-- <h5 class="my-3 mt-4 remove-on-edit mobiletext0">
					Posted By : <span class="posting info30">Lorem</span>
				</h5> -->

				<% if(merchItem.price) { %>
				<h5 class="my-3 remove-on-edit mobiletext0">
					Price : <span class="info30">Rs. <span class="price">
							<%- merchItem.price %>
						</span></span>
				</h5>
				<% } %>
				<h5 class="my-3 remove-on-edit mobiletext0">
					Contact : <span class="info30">
						<span class="contact_name my-1">
							<%- merchItem.contact %>
						</span>
						<!-- <span class="contact_address my-1">Lorem</span>
						<span class="contact_number my-1">XXXXXX</span> -->
					</span>
				</h5>
			</div>
		</div>
		<div id="go_back">
			<a href="/colleges/<%= collegeName %>/merchandise">Go Back</a>
		</div>
	</div>
</div>

	
<% function recommends_split(arr){ %>
	<% var len=arr.length; var i=0; for(i;i<len;i++){ %>
		<% if(i==0 && i==len-1){ %>
			<%= arr[i] %>
		<% }else if(i==0){ %>
			<%= arr[i]+',' %>
		<% }else if(i>0 && i<len-1){ %>
			<%= ' ' +arr[i]+',' %>
		<% }else if(i=len-1){ %>
			<%= ' ' +arr[i] %>
		<% } %>
	<% } %>
<% } %>


<script>
	const items = document.querySelectorAll(".remove-on-edit");
	const form = document.querySelector(".show-on-edit");
	const editBtn = document.querySelector("#edit-button")
	editBtn.addEventListener('click', (e) => {
		for (let item of items) {
			item.classList.add('d-none')
		}
		form.classList.remove('d-none')
	})
</script>
<% include ../partials/footer %>