<% include ../partials/header %>
<style>
	img {
		height: 350px;
	}
	@media (min-width: 768px) {
		.product-carousel {
			width: 300px;
		}
	}
	.carousel-control-prev,
	.carousel-control-next {
		padding: 0;
		background: 0 0;
		border: 0;
	}
	.contact-list {
		margin-top: -23.2px;
		margin-left: 70px;
	}
	.dropdown {
		display: inline-block;
	}
	.dropdown-toggle,
	.dropdown-toggle:hover {
		color: black !important;
		background-color: transparent !important;
		padding: 0 !important;
	}
	.dropdown-item {
		padding-left: 1rem !important;
	}
	.control-btns {
		width: 100%;
		display: flex;
		justify-content: end;
	}
	.price-field {
		margin: 0.5rem auto 0;
	}
	.edit-merch {
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
		border-radius: 0.1rem;
		padding: 1.2rem;
	}
	.merch-carousel {
		border-radius: 0.75rem;
	}
	.size {
		display: inline-block;
	}
	.size-list-item {
		background-color: transparent;
		border: 1px solid black;
	}
	@media (max-width: 481px) {
		.mobile-text {
			font-size: larger;
		}
	}
	@media (max-width: 361px) {
		.mobile-text {
			font-size: smaller;
		}
	}
</style>


<div class="container px-3">
	<div class="row my-2">
		<div class="col-md-6 mx-auto mt-4">
			<div class="product-carousel mx-auto">
				<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner merch-carousel">
						<% let counter=0 %>
							<% for(let img of merchItem.images){ %>
								<div class="carousel-item <% if(counter == 0) { %> active  <% } %> whiteback">
									<img src="<%- img %>" class="d-block w-100 cover" alt="...">
								</div>
								<% counter++ ; %>
									<% } %>
					</div>
					<button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
						data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
						data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-6 my-4">
			<div class="container">
				<div class="row">
					<div class="col-6">
						<h4 class="title">
							<%- merchItem.title %>
						</h4>
					</div>
					<div class="col-6 remove-on-edit">
						<div class="control-btns">
							<button class="btn btn-info ml-2 mr-1 edit-button">
								Edit
							</button>
							<form
								action="/colleges/<%= collegeName %>/merchandise/<%- merchItem.category %>/<%- merchItem._id %>?_method=DELETE"
								method="post">
								<button class="btn btn-danger ml-1 mr-2">
									Delete
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row show-on-edit d-none">
				<div class="col-md-6 my-2">
					<form action="/colleges/<%= collegeName %>/merchandise/<%- merchItem.category %>/<%- merchItem._id %>?_method=PUT"
						method="post" class="edit-merch boldtext">
						<div class="form-group">
							<label for="price">Price</label>
							<div class="input-group mb-2">
								<div class="input-group-prepend  price-field">
									<div class="input-group-text">Rs. </div>
								</div>
								<input type="text" class="form-control" id="price" name="price"
									placeholder="<%- merchItem.price %>" value="<%- merchItem.price %>">
							</div>
						</div>
						<div class="form-group">
							<span>Select Availability</span>
							<div class="availability my-2">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inStock" id="in_stock"
										value="true" <% if(merchItem.inStock){ %> checked <% } %> >
										<label class="form-check-label" for="inlineRadio1">In Stock</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inStock" id="out_of_stock"
										value="false" <% if(!merchItem.inStock){ %> checked <% } %> >
										<label class="form-check-label" for="inlineRadio2">Out Of Stock</label>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Update</button>
					</form>
				</div>
			</div>

			<p class="lead my-2 text-justify remove-on-edit">
				<%- merchItem.description %>
			</p>

			<% if(merchItem.sizes) { %>
			<h5 class="my-3 remove-on-edit mt-5 mobile-text">
				<div class="size">
					Size :
				</div>
				<div class="size info30">
					<ul class="list-group list-group-horizontal">
						<% for(let size of merchItem.sizes) { %>
							<li class="list-group-item size-list-item">
								<%- size %>
							</li>
							<% } %>
					</ul>
				</div>
			</h5>
			<% } %>

			<% if(merchItem.colors) { %>
			<h5 class="my-3 mt-5 remove-on-edit mobile-text">
				Color : <span class="info30">
					<span class="my-1">
						<% recommends_split(merchItem.colors); %>
					</span>
				</span>
			</h5>
			<% } %>

			<!-- <h5 class="my-3 mt-4 remove-on-edit mobile-text">
				Posted By : <span class="posting info30">Lorem</span>
			</h5> -->

			<% if(merchItem.price) { %>
			<h5 class="my-3 remove-on-edit mobile-text">
				Price : <span class="info30">Rs. <span class="price">
						<%- merchItem.price %>
					</span></span>
			</h5>
			<% } %>
			<h5 class="my-3 remove-on-edit mobile-text">
				Contact : <span class="info30">
					<span class="contact_name my-1">
						<%- merchItem.contact %>
					</span>
					<!-- <span class="contact_address my-1">Lorem</span>
					<span class="contact_number my-1">XXXXXX</span> -->
				</span>
			</h5>
		</div>
	</div>
	<div class="go_back">
		<a href="/colleges/<%= collegeName %>/merchandise">
			<button class="btn btn-light btn-round">Go Back</button>
		</a>
	</div>
</div>

	
<% function recommends_split(arr){ %>
	<% var len=arr.length; var i=0; for(i;i<len;i++){ %>
		<% if(i==0 && i==len-1){ %>
			<%= arr[i] %>
		<% }else if(i==0){ %>
			<%= arr[i]+',' %>
		<% }else if(i>0 && i<len-1){ %>
			<%= ' ' +arr[i]+',' %>
		<% }else if(i=len-1){ %>
			<%= ' ' +arr[i] %>
		<% } %>
	<% } %>
<% } %>


<script>
	const items = document.querySelectorAll(".remove-on-edit");
	const form = document.querySelector(".show-on-edit");
	const editBtn = document.querySelector(".edit-button")
	editBtn.addEventListener('click', (e) => {
		for (let item of items) {
			item.classList.add('d-none')
		}
		form.classList.remove('d-none')
	})
</script>
<% include ../partials/footer %>