<% include ./partials/header %>

<br>
<div class="helppad">
  <div class="mt-1 text-lg" style="font-family: 'Lato', sans-serif;">
    KEY FEATURES
  </div>
  <div class="pl-3">
    <ul style="list-style-type: none; list-style-position: outside;">
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Directory of Clubs</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/v1568982831/help/directory.png' %>">
          </div>
        </div>
        <div>One place for all the listed clubs in your organization.</div>
      </li>
      <br>
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Two types of posts</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/v1568982834/help/simple_post.png' %>">
          </div>
        </div>
        <div><span class="boldtext">1). </span>Simple posts 'without topic' to share general info & comments.</div>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/v1568982834/help/topic_post.png' %>">
          </div>
        </div>
        <div><span class="boldtext">2). </span>Posts 'with TOPIC' (with up/down votes) for discussions.</div>
      </li>
      <br>
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Discussion threads</span>
        <div>Streams of 500s of messages a time in a whatsapp group with 2-3 topics intermixed is just not very efficient & productive for discussions.</div>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6 valign">
            <div><img class="cover px-1" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/v1568982834/help/discussion1.png' %>"></div>
            <div><img class="cover px-1" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/v1568982834/help/discussion2.png' %>"></div>
          </div>
        </div>
        <div>Discuss topics in neatly segregated threads.</div>
        <div>TL;DR / Information Overload [Solved!]</div>
      </li>
      <br>
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Inshort news</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6 valign">
            <div><img class="cover px-1 py-1" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/v1568982833/help/latest_updates.png' %>"></div>
            <div><img class="cover px-1" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/v1568982833/help/hot_topics.png' %>"></div>
          </div>
        </div>
        <div>Know latest updates and events in a glance or check HOT Topics tab to know popular discussion topics this week.</div>
      </li>
      <br>
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Privacy & Exclusivity</span>
        <div>Have total control over your content.</div>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/v1568982836/help/privacy.bmp' %>">
          </div>
        </div>
        <div>Every post has:</div>
        <div><span class="boldtext">5 Privacy levels : </span>{0-Public, 1-Friends, 2-Club(all members), 3-Club(friends), 4-Private}</div>
        <div><span class="boldtext">3 Moderation levels : </span>{(-1)-Hidden, 0-Published, 1-Exclusive}</div>
        <div class="mt-3"><span class="redcolor"><strong>*</strong></span>Only posts 'without topic' & with privacy 0-1 can be published.</div>
      </li>
      <br>
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Club Members</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/v1568982831/help/club_members.png' %>">
          </div>
        </div>
        <div><span class="boldtext">5 Ranks : </span>{0-Founder/Owner, 1-Admin, 2-Moderator, 3-Sr.Member, 4-Jr.Member}</div>
      </li>
    </ul>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="d-flex flex-column">
    <div class="boldtext text-xs grey mx-auto">an Ashutosh Guleria production</div>
    <div class="text-xs lightgrey mx-auto">BETA release</div>
  </div>
</div>

<% include ./partials/footer %>