<% include ./partials/header %>

<br>
<div class="helppad">
  <div class="mt-1 text-lg" style="font-family: 'Lato', sans-serif;">
    KEY FEATURES
  </div>
  <div class="pl-3">
    <ul style="list-style-type: disc; list-style-position: inside;">
      <li>
        <span class="pl-1 boldtext underline">Directory of Clubs</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= '/help/directory.png' %>">
          </div>
        </div>
        <div>Centralized page to see list of existing groups in your college in various categories, with brief info about them.</div>
      </li>
      <br>
      <li>
        <span class="pl-1 boldtext underline">Two types of posts</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= '/help/simple_post.png' %>">
          </div>
        </div>
        <div>Simple posts to share general info & comments.[Can be public]</div>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= '/help/topic_post.png' %>">
          </div>
        </div>
        <div>Posts with TOPIC (with up/down votes) for discussions.[Club exclusive]</div>
      </li>
      <br>
      <li>
        <span class="pl-1 boldtext underline">TL;DR (Too Long Didn't Read)</span>
        <div>Streams of 500s of messages a time in a whatsapp group with 2-3 topics intermixed is just not very efficient & productive for discussions.</div>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6 valign">
            <div><img class="cover px-1" src="<%= '/help/discussion1.png' %>"></div>
            <div><img class="cover px-1" src="<%= '/help/discussion2.png' %>"></div>
          </div>
        </div>
        <div>Clubmate segregates discussions in paginated threads.</div>
      </li>
      <br>
      <li>
        <span class="pl-1 boldtext underline">Inshort news</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6 valign">
            <div><img class="cover px-1 py-1" src="<%= '/help/latest_updates.png' %>"></div>
            <div><img class="cover px-1" src="<%= '/help/hot_topics.png' %>"></div>
          </div>
        </div>
        <div>Clubmate has dedicated tab for getting events and latest updates & HOT Topics tab to know popular discussion topics.</div>
      </li>
      <br>
      <li>
        <span class="pl-1 boldtext underline">Privacy & Exclusivity</span>
        <div>Every post has:</div>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= '/help/privacy.png' %>">
          </div>
        </div>
        <div>5 Privacy levels[Share with]: 0-Public, 1-Friends, 2-Club(members), 3-Club(friends), 4-Private</div>
        <div>3 Moderation levels: (-1)-Hidden, 0-Published, 1-Exclusive</div>
        <div>Only posts with privacy 0-1 can be made public</div>
      </li>
      <br>
      <li>
        <span class="pl-1 boldtext underline">Club Members</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= '/help/club_members.png' %>">
          </div>
        </div>
        <div>5 Ranks: 0-Founder, 1-Admin, 2-Moderator, 3-Sr.Member, 4-Jr.Member</div>
        <div>Set different user status for every club</div>
      </li>
    </ul>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="d-flex flex-column">
    <div class="boldtext text-xs grey mx-auto">an Ashutosh Guleria production</div>
    <div class="text-xs lightgrey mx-auto">BETA release</div>
  </div>
</div>

<% include ./partials/footer %>