<% include ./partials/header %>

<br>
<div class="helppad">
  <div class="mt-1 text-sm">
    Go to <strong><a href="/faq">FAQs</a></strong>
  </div>
  <div class="row no-gutters">
    <div class="col-lg-10 col-md-10">
      <div class="mt-1 text-sm">
        <strong class="d-flex flex-row"><div>Follow us on</div>
          <div class="mobileNone ml-1">social media</div>
        </strong>
      </div>
      <div class="d-flex justify-content-between form-signin helppad">
        <div><a href="https://www.facebook.com/clubmateCOIN/" target="_blank"><img class="img-help" title="Facebook" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572862348/icons/facebook.png"></a></div>
        <div><a href="https://twitter.com/clubmateCOIN" target="_blank"><img class="img-help" title="Twitter" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572860356/icons/twitter.png"></a></div>
        <div><a href="https://www.instagram.com/clubmate_coin/" target="_blank"><img class="img-help" title="Instagram" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572860358/icons/instagram.png"></a></div>
        <div><a href="https://www.quora.com/topic/Clubmate-product" target="_blank"><img class="img-help" title="Quora" src="https://res.cloudinary.com/dubirhea4/image/upload/v1572860356/icons/quora.png"></a></div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 px-2">
      <div class="list-group">
        <li class="list-group-item bluecolor2 text-sm boldtext mt-3"><i class="fas fa-question-circle"></i> Did you..</li>
        <hr class="hr-light">
        <li class="list-group-item text-sm darkgrey">
          <a href="https://www.facebook.com/groups/2660887327313418/" target="_blank" class="lightgrey nounderline">
            <div>... have a <span class="boldtext">question</span>?</div>
          </a>
        </li>
        <hr class="hr-light">
        <li class="list-group-item text-sm darkgrey">
          <a href="https://www.facebook.com/groups/400084017547657/" target="_blank" class="lightgrey nounderline">
            <div>... find a <span class="boldtext">bug</span>?</div>
          </a>
        </li>
        <hr class="hr-light">
        <li class="list-group-item text-sm darkgrey">
          <a href="https://www.facebook.com/groups/1351554461692986/" target="_blank" class="lightgrey nounderline">
            <div>... have a feature <span class="boldtext">suggestion</span>?</div>
          </a>
        </li>
      </div>
    </div>
  </div>
  <br>
  <div class="mt-1 text-lg text-lato">
    KEY FEATURES
  </div>
  <div class="px-2">
    <ul style="list-style-type: none; list-style-position: outside;">
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Directory of Clubs</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/e_sharpen:50/v1582820226/help/orgPage.webp' %>" title="Image for representational purposes only">
          </div>
        </div>
        <div>One place for all the listed clubs in your college.</div>
      </li>
      <br>
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Two types of posts</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/e_sharpen:50/v1582820226/help/simple_post.webp' %>" title="Image for representational purposes only">
          </div>
        </div>
        <div><span class="boldtext">1). </span>Simple posts 'without topic' to share general info & comments.</div>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/e_sharpen:50/v1582820226/help/topic_post.webp' %>" title="Image for representational purposes only">
          </div>
        </div>
        <div><span class="boldtext">2). </span>Posts 'with TOPIC' (with up/down votes) for discussions/asking questions.</div>
      </li>
      <br>
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Discussion threads</span>
        <div><span class="boldtext">Since</span>, single stream of 500s of messages/comments is just not very efficient & productive for discussions.</div>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/e_sharpen:50/v1582820228/help/discussion.webp' %>" title="Image for representational purposes only">
          </div>
        </div>
        <div>Every topic has its neatly segregated thread. Pagination for easy navigation ; Gauge popularity of opinions with Agree/Disagree button.</div>
        <div>TL;DR / Information Overload [Solved!]</div>
      </li>
      <br>
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Inshort news</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6 valign">
            <div><img class="cover px-1 py-1" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/e_sharpen:50/v1582820227/help/latest_updates.webp' %>" title="Image for representational purposes only"></div>
            <div><img class="cover px-1" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/e_sharpen:50/v1582820227/help/hot_topics.webp' %>" title="Image for representational purposes only"></div>
          </div>
        </div>
        <div>Know latest updates and events at a glance or check HOT Topics tab to know popular discussion topics this week.</div>
      </li>
      <br>
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Privacy & Exclusivity</span>
        <div>Have total control over your content.</div>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/e_sharpen:50/v1582820226/help/privacy.webp' %>" title="Image for representational purposes only">
          </div>
        </div>
        <div>Every post has:</div>
        <div><span class="boldtext">5 Privacy levels : </span>{0-Public, 1-Friends, 2-Club(all members), 3-Club(friends), 4-Private}</div>
        <div><span class="boldtext">3 Moderation levels : </span>{(-1)-Hidden, 0-Published, 1-Exclusive}</div>
        <div class="mt-3"><span class="redcolor"><strong>*</strong></span>Only posts 'without topic' & with privacy 0-1 can be published.</div>
      </li>
      <br>
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Direct/Club chat</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/e_sharpen:50/v1582820226/help/direct_chat.webp' %>" title="Image for representational purposes only">
          </div>
        </div>
        <div>Ask admin of a club for an invite on DC or address your club members directly through CC.</div>
      </li>
      <br>
      <li><span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
        <span class="pl-1 boldtext underline">Club Members</span>
        <br>
        <div class="row no-gutters valign">
          <div class="col-12 col-md-6">
            <img class="cover" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/e_sharpen:50/v1582820226/help/club_members.webp' %>" title="Image for representational purposes only">
          </div>
        </div>
        <div><span class="boldtext">5 Ranks : </span>{0-Owner, 1-Admin, 2-Moderator, 3-Sr.Member, 4-Jr.Member}</div>
      </li>
    </ul>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="d-flex flex-column">
    <div class="boldtext text-xs grey mx-auto">an Ashutosh Guleria production</div>
    <div class="text-xs lightgrey mx-auto">BETA release | <a class="boldtext" href="/faq">FAQ</a></div>
    <div class="text-xs lightgrey mx-auto">clubmate &#9400; 2020</div>
  </div>
</div>

<% include ./partials/footer %>