<% include ../partials/header %>

<div class="row no-gutters">
	<div class="col-lg-9 order-md-first order-last card" style="min-height: 75vh;">
		<div class="organization valign orgdiv-name">
			<% if(match){ %>
				<div class="boldtext text-xxl">
					<div class="orgname d-flex">
						<span>
							<sup class="greencolor text-xs pb-auto">My </sup>
							<i class="fas fa-university lightgrey"></i>
							<span id="copyTxt"><%= org_page.name %></span>
						</span>
						<div class="tooltip">
						<button class="copyBtn ml-3" onclick="copyTxtFn()" onmouseout="outCopyTxtFn()">
						  <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
						  <i class="far fa-copy lightgrey"></i>
						  </button>
						</div>
					</div>
				</div>
			<% } else{ %>
				<div class="boldtext text-xxl">
					<div class="orgname d-flex">
						<span>
							<i class="fas fa-university lightgrey mr-1"></i><span id="copyTxt"><%= org_page.name %></span>
						</span>
						<div class="tooltip">
						<button class="copyBtn ml-3" onclick="copyTxtFn()" onmouseout="outCopyTxtFn()">
						  <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
						  <i class="far fa-copy lightgrey"></i>
						  </button>
						</div>
					</div>
					</div>
			<% } %>
			<% if(currentUser){ %>
				<% if(following){ %>
					<form action="/org_pages/<%= org_page._id %>/follow/<%= currentUser._id %>?_method=PUT" method="POST">
						<button class="btn btn-light btn-org2 orgdiv-follow py-1 px-2" name="follow" value="false" type="submit"><i class="fas fa-check"></i> Following</button>
					</form>
				<% } else{ %>
					<form action="/org_pages/<%= org_page._id %>/follow/<%= currentUser._id %>?_method=PUT" method="POST">
						<button class="btn btn-org orgdiv-follow py-1 px-2" name="follow" value="true" type="submit">Follow</button>
					</form>
				<% } %>
			<% } else{ %>
				<a href="/login" class="btn btn-org orgdiv-follow py-1 px-2">Follow</a>
			<% } %>
		</div>
		<div class="orgdiv-count valign">
			<div class="mobilebold lightgrey text-md">
				<span><span class="boldtext"><%= org_page.clubCount %></span> clubs,</span>
				<span><span class="boldtext"><%= org_page.userCount %></span> users</span>
			</div>
			<!-- <div>
				<span class=" mobilebold text-md"><%= org_page.followerCount %></span>
			</div> -->
		</div>
		<div class="orgpad py-1">
			<% for(var i=org_page.allClubs.length-1;i>=0;i--){ %>
				<% if(org_page.allClubs[i].category != ''){ %>
					<% if(org_page.allClubs[i].categoryCount>0){ %>
						<div class="boldtext mobiletext3 category">
							<%= org_page.allClubs[i].category %> (<%= org_page.allClubs[i].categoryCount %>)
						</div>
					<% } %>
				<% } else{ %>
					<% if(org_page.allClubs[i].categoryCount>0){ %>
						<div class="boldtext mobiletext3 category">
							<span class="redcolor">*</span>[Uncategorized] (<%= org_page.allClubs[i].categoryCount %>)
						</div>
					<% } %>
				<% } %>
				<div class="my-2 lineheight2">
			  <% for(var j=org_page.allClubs[i].categoryClubIds.length-1;j>=0;j--){ %>
			  	<div class="valign">
				  	<div class="d-flex flex-row">
					    <div class="py-1 mb-auto">
					      <a href="/clubs/<%= org_page.allClubs[i].categoryClubIds[j]._id %>">
					      <img class="orgdp rounded-circle" src="<%= Clubs_50_clubAvatar[i][j] || '/images/noClub.png' %>"></a>
					    </div>
					    <div class="my-auto ml-2">
					      <span>
					        <a href="/clubs/<%= org_page.allClubs[i].categoryClubIds[j]._id %>" class="grey">
					          <strong><%= org_page.allClubs[i].categoryClubIds[j].name %></strong>
					        </a>
					      </span>
					      <span class="my-auto lightgrey text-xs"><%= org_page.allClubs[i].categoryClubIds[j].banner %></span>
					    </div>
					  </div>
					  <div class="darkgrey text-sm px-1 nowrap">
			        <em><%= org_page.allClubs[i].categoryClubIds[j].membersCount %> <span class="text-xxxs"><span class="lightgrey">MBR</span></span></em>
			      </div>
			    </div>
			  <% } %>
			</div>
			<% } %>
		</div>
	</div>
	<div class="col-md-4 col-lg-3 px-2">
    <div class="list-group">
      <li class="list-group-item orangecolor text-sm boldtext mt-3"><i class="fas fa-plus"></i> Invite your friends, spread the message</li>
    </div>
  </div>
</div>

<% include ../partials/footer %>