<% include ../partials/header %>

<div class="row no-gutters mo-mx-2">
	<div class="col-lg-9">
		<div class="px-2 mt-3">
			<span class="boldtext"><a href="/clubs/<%= clubId %>" class="black"><%= clubName %></a></span>'s featured photos
		</div>
		<div class="row no-gutters">
			<!-- Update existing -->
			<% for(var i=0;i<featuredPhotos.length;i++){ %>
				<div class="card searchcard2 border-light">
					<form action="/clubs/<%= clubId %>/featured_photos?_method=PUT&_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
						<div class="d-flex d-flex-row">
							<div>
						    <div class="container gradient-wrap">
			            <img class="searchdp" src="<%= cdn_prefix+featuredPhotos[i].imageId %>" crossorigin="anonymous">
			            <label for="featuredImage<%= i %>" class="overlay4">
		                <i class="fas fa-upload"></i> Upload
		              </label>
		              <input type="file" id="featuredImage<%= i %>" class="text-sm featuredImage" name="image" accept="image/*">
						    </div>
						  </div>
						  <div class="px-2 lineheight2 fullwidth">
				    		<div class="valign">
				    			<div class="d-flex flex-column fullwidth">
				    				<div>
				    					<label for="heading<%= i %>" class="sr-only">Heading</label>
											<% if(i==0){ %> 
												<input type="text" id="heading<%= i %>" class="form-control form-control-sm boldtext" name="heading" value="<%= featuredPhotos[i].heading %>" placeholder="heading [<%= i+1 %>]" style="border-color: white;" disabled>
											<% } else{ %>
												<input type="text" id="heading<%= i %>" class="form-control form-control-sm boldtext" name="heading" value="<%= featuredPhotos[i].heading %>" placeholder="heading [<%= i+1 %>]">
											<% } %>
				    				</div>
				    				<div>
				    					<label for="description<%= i %>" class="sr-only">Description</label>
											<% if(i==0){ %> 
												<input type="text" id="description<%= i %>" class="form-control form-control-sm" name="description" value="<%= featuredPhotos[i].description %>" placeholder="description [<%= i+1 %>]" style="margin-top: 0.75rem; border-color: white;" disabled>
											<% } else{ %>
												<input type="text" id="description<%= i %>" class="form-control form-control-sm" name="description" value="<%= featuredPhotos[i].description %>" placeholder="description [<%= i+1 %>]" style="margin-top: 0.75rem;">
											<% } %>
				    				</div>
				    			</div>
				    			<div class="ml-2">
				    				<div><button class="btn btn-danger btnxs text-xxs mb-3 floatright btnshadow" name="delete" value="<%= featuredPhotos[i]._id %>" type="submit"><i class="fas fa-trash-alt"></i></button></div>
				    				<div><button class="btn btn-primary btnxs text-sm mt-3 btnshadow" name="update" value="<%= featuredPhotos[i]._id %>" type="submit" onclick="loading_spinner('load-updatefCP<%= i+1 %>','featuredImage<%= i %>');"><span id="load-updatefCP<%= i+1 %>"></span>Update</button></div>
				    			</div>
				    		</div>
				    	</div>
						</div>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					</form>
				</div>
			<% } %>

			<!-- New push -->
			<% var index = featuredPhotos.length; for(var i=0;i<(5-featuredPhotos.length);i++){ %>
				<div class="card searchcard2 border-light">
					<form action="/clubs/<%= clubId %>/featured_photos?_method=PUT&_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
						<div class="d-flex flex-row">
							<div>
								<div class="container">
			            <img class="searchdp" src="<%= '/images/noImage.png' %>">
			            <label for="featuredImage<%= index %>" class="overlay4">
		                <i class="fas fa-upload"></i> Upload
		              </label>
		              <input type="file" id="featuredImage<%= index %>" class="text-sm featuredImage" name="image" accept="image/*" required>
						    </div>
						  </div>
					    <div class="px-2 lineheight2 fullwidth">
				    		<div class="valign">
				    			<div class="d-flex flex-column fullwidth">
				    				<div>
				    					<label for="heading<%= index %>" class="sr-only">Heading</label>
	              			<input type="text" id="heading<%= index %>" class="form-control form-control-sm boldtext" name="heading" placeholder="heading [<%= index+1 %>]">
				    				</div>
				    				<div>
				    					<label for="description<%= index %>" class="sr-only">Description</label>
	              			<input type="text" id="description<%= index %>" class="form-control form-control-sm" name="description" placeholder="description [<%= index+1 %>]" style="margin-top: 0.75rem;">
				    				</div>
				    			</div>
				    			<div class="ml-2">
				    				<div><button class="btn btn-success btnxs text-sm btnshadow" name="button" value="submit" type="submit" onclick="loading_spinner('load-submitfCP<%= index+1 %>','featuredImage<%= index %>');" style="margin-top: 3.15rem;"><span id="load-submitfCP<%= index+1 %>"></span>Submit</button></div>
				    			</div>
				    		</div>
				    	</div>
						</div>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					</form>
				</div>
			<% index++; } %>
		</div>
	</div>
	<div class="col-md-9 col-lg-3 px-2 mobileNone">
    <br>
    <div class="list-group">
      <li class="list-group-item orangecolor2 boldtext greyback text-sm mt-3"><i class="fas fa-plus"></i> Invite your friends, spread the message</li>
    </div>
  </div>
</div>

<% include ../partials/footer %>
