<% include ../partials/header %>

<div class="row no-gutters content-toppad">
  <div class="col-lg-9 order-md-first order-last">
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="d-flex flex-row">
          <div>
            <div class="rounded-circle noshadow ml-3 mt-3" style="height: 100px; width: 100px;">
              <div class="container" style="overflow: hidden; border-radius: 100%;">
                <img class="image" src="<%= '/images/noRoom.png' %>">
                <% if(currentUser){ %>
                  <form action="" method="POST" enctype="multipart/form-data">
                    <label for="inputprofilePic" class="overlay4 mobiletext3">
                      <span style="top: 40%; position: absolute; left: 0; right: 0;"><i class="fas fa-camera text-xl" style="opacity: 0.85;"></i></span>
                    </label>
                    <input type="file" id="inputprofilePic" class="text-sm" name="profilePic" accept="image/*" required>
                    <button id="inputprofilePicSubmitBtn" class="btn btn-sm btn-success overlay2" style="border-top: none;" onclick="loading_spinner('load-updateprofilePic','');"><span id="load-updateprofilePic"></span>Submit</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  </form>
                <% } %>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="my-auto">
              <div id="username_profile_div">
                <div>
                  <h5 class="profilename text-left"><%= roomName %></h5>
                </div>
                <div class="profilename text-sm mobiletext4 boldtext lightgrey2 lineheight"><%= clubName %></div>
              </div>
            </div>
          </div>
        </div>
        <div class="desktopNoneFlex story-container" style="margin-bottom: 4.375rem;">
          <div class="d-flex px-3 invisible scroll moz-scroll scroll-hide" style="overflow-x: scroll;">
            <div class="d-flex flex-column mr-3">
              <div class="story mt-3 story-dark" style="border-style: dashed;"></div>
              <div class="story-label story-label2 lightgrey2 text-xxxs boldtext pb-2">something</div>
            </div>
          </div>
        </div>
        <!-- Modal HTML -->
        <div id="deleteProfilePicModal" class="fixed-padding modal fade">
          <div class="modal-dialog modal-confirm">
            <div class="modal-content">
              <div class="d-flex">
                <span class="icon-box">
                  <i class="fas fa-exclamation-triangle text-xxxl"></i>
                </span>              
                <span class="my-auto"><h5 class="modal-title">Are you sure?</h5></span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div>
                <p>Do you really want to delete your profile pic? This cannot be undone.</p>
              </div>
              <div class="my-2">
                <button type="button" class="btn btn-secondary btn-sm mr-1" data-dismiss="modal">Cancel</button>
                <form action="" method="POST" class="delete-form inline">
                  <button name="deleteProfilePic" type="submit" value="true" class="btn btn-danger btn-sm ml-1">Delete</button>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>