<% include ../partials/header %>
<link rel="stylesheet" href="/zuck.js-master/dist/zuck.min.css">
<link rel="stylesheet" href="/zuck.js-master/dist/skins/facesnap.min.css">
<link rel="stylesheet" href="/css/stories.css">
<link rel="stylesheet" href="/css/options.css">

<div class="row no-gutters content-toppad">
  <% if(currentUser && !(0 <= rank && rank <= 4)){ %>
    <div id="not_a_clubmember_margin" class="col-lg-9 order-md-first order-last">
  <% } else{ %>
    <div class="col-lg-9 order-md-first order-last">
  <% } %>
    <div class="row no-gutters">
      <div class="col-md-12">
          <div class="row no-gutters">
            <div class="col-md-3 p-1 card coverback indexcard avatar-frame lcov order-md-first order-last lpcov mx-auto">
              <div class="container">
                <% if(club.avatarId){ %>
                  <img class="avatar cover image mx-auto" src="<%= cdn_prefix+club.avatarId %>">
                <% } else{ %>
                  <img class="avatar cover image mx-auto" src="<%= '/images/noClub.png' %>">
                <% } %>
                <% if(0 <= rank && rank <= 1){ %>
                  <form action="/clubs/<%= club._id %>?_method=PUT&_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
                    <label for="inputclubAvatar" class="overlay mobiletext3">
                      <i class="fas fa-upload mr-2"></i>avatar
                    </label>
                    <input type="file" id="inputclubAvatar" class="text-sm" name="avatar" accept="image/*" required>
                    <button id="inputclubAvatarSubmitBtn" class="btn btn-sm btn-success overlay2 noborder" onclick="loading_spinner('load-updateavatar','');"><span id="load-updateavatar"></span>Submit</button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  </form>
                <% } %>
              </div>
              <div>
                <h5 class="profilename clubname"><%= club.name %></h5>
              </div>
            </div>
            <% if(club.featuredPhotos.length != 0){ %>
              <div class="col-md-9 card coverback indexcard rcov">
            <% } else{ %>
              <div class="col-md-9 p-1 card coverback indexcard rcov carousel-frame2">
            <% } %>
            <% if(club.featuredPhotos.length != 0){ %>
              <div id="carouselControls" class="carousel hascover slide carousel-fade" data-ride="carousel">
            <% } else{ %>
              <div id="carouselControls" class="carousel slide carousel-fade" data-ride="carousel">
            <% } %>
                <% if(club.featuredPhotos.length == 0){ %>
                  <div class="carousel-inner d-flex" style="border-radius: 0 0.5rem 0.5rem 0;">
                    <div class="carousel-item active carousel-div carousel-img">
                      <img class="cover mobile-cover" src="/images/noImage.png" style="opacity: 0;">
                    </div>
                  </div>
                <% } %>
                <% if(club.featuredPhotos.length != 0){ %>
                  <% if(club.featuredPhotos.length > 1){ %>
                    <ol class="carousel-indicators">
                      <% for(var i=0;i<club.featuredPhotos.length;i++){ %>
                        <li data-target="#carouselControls" data-slide-to="<%= i %>"></li>
                      <% } %>
                    </ol>
                  <% } %>
                  <div class="carousel-inner d-flex">
                    <% if(club.featuredPhotos.length >= 1){ %>
                      <% if(currentUser && !(0 <= rank && rank <= 4)){ %>
                        <div class="carousel-item active p-1 coverback indexcard rcov mobilepad">
                      <% } else{ %>
                        <div class="carousel-item active p-1 gradient-wrap coverback indexcard rcov">
                      <% } %>
                        <img class="cover mobile-cover" src="<%= cdn_prefix+club.featuredPhotos[0].imageId %>" crossorigin="anonymous">
                        <div class="carousel-caption">
                          <h6 class="carousel-caption-heading"><%= club.featuredPhotos[0].heading %></h6>
                          <div><%= club.featuredPhotos[0].description %></div>
                        </div>
                      </div>
                    <% } %>
                    <% if(club.featuredPhotos.length >= 2){ %>
                      <% for(var i=1;i<club.featuredPhotos.length;i++){ %>
                        <% if(currentUser && !(0 <= rank && rank <= 4)){ %>
                          <div class="carousel-item p-1 coverback indexcard rcov mobilepad">
                        <% } else{ %>
                          <div class="carousel-item p-1 gradient-wrap coverback indexcard rcov">
                        <% } %>
                          <img class="cover mobile-cover" src="<%= cdn_prefix+club.featuredPhotos[i].imageId %>" crossorigin="anonymous">
                          <div class="carousel-caption">
                            <h6 class="carousel-caption-heading"><%= club.featuredPhotos[i].heading %></h6>
                            <div><%= club.featuredPhotos[i].description %></div>
                          </div>
                        </div>
                      <% } %>
                    <% } %>
                  </div>
                  <% if(club.featuredPhotos.length > 1){ %>
                    <a class="carousel-control carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  <% } %>
                  <% if(0 <= rank && rank <= 2){ %>
                    <a class="btn btnxs overlay3 overlay3-grad" href="/clubs/<%= club._id %>/featured_photos">Featured photos</a>
                  <% } %>
                <% } else{ %>
                  <% if(0 <= rank && rank <= 2){ %>
                    <a class="btn btnxs overlay3" href="/clubs/<%= club._id %>/featured_photos">Featured photos</a>
                  <% } %>
                <% } %>
              </div>
            </div>
          </div>
      </div>
      <div id="club-info-mar" class="col-md-4 px-1 mobilepad mt-2 keys keyspad">
        <div class="card border-light btncollapse-div">
          <button id="drop-info" type="button" class="btn btn-sm boldtext btncollapse btncollapse-info noshadow" data-toggle="collapse" data-target="#infobox"><i class="fas fa-angle-up flipped-verticaly mr-2"></i>Info</button>
          <div id="infobox" class="collapse btncollapse-content px-2">
            <% if(currentUser){ %>
              <form action="/users/<%= currentUser._id %>/follow/<%= club._id %>?_method=PUT" method="POST">
                <div class="text-sm boldtext lightgrey my-3 text-center"><%= club.followerCount %></div>
                <!-- Member have to follow seperately too -->
                <div class="text-center my-3">
                  <% if(!isFollowingClub){ %>
                    <button class="btn btn-college2 collegediv-follow" name="followClub" value="true" type="submit">Follow</button>
                  <% } else{ %>
                    <button class="btn btn-light btn-college collegediv-follow" name="followClub" value="false" type="submit"><i class="fas fa-check"></i> Following</button>
                  <% } %>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            <% } %>
            <div>
              <div class="text-lg mt-5 mb-2 text-lato text-shadow-black lineheight" style="color: #f7ac11;"><%= club.banner %></div>
              <div class="valign">
                <div class="boldtext">Description</div>
                <% if(0 <= rank && rank <= 1){ %>
                  <div>
                    <button onclick="toggle_display('club_desc');" class="btn btn-sm dropdown-toggle"><i class="fas fa-edit"></i></button>
                  </div>
                <% } %>
              </div>
              <div class="text-sm linewrap lineheight-less mb-2"><%= club.info.description %></div>
              <% if(0 <= rank && rank <= 1){ %>
                <form id="club_desc" action="/clubs/<%= club._id %>?_method=PUT" method="POST">
                  <textchiveea class="form-control form-control-sm" type="text" name="info[description]" rows="10" required><%= club.info.description %></textarea>
                  <button class="btn btn-sm btn-primary btn-block mt-2" type="submit">Update description</button>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              <% } %>
            </div>
            <div>
              <div class="valign">
                <div class="boldtext">Rules</div>
                <% if(0 <= rank && rank <= 1){ %>
                  <div>
                    <button onclick="toggle_display('club_rules');" class="btn btn-sm dropdown-toggle"><i class="fas fa-edit"></i></button>
                  </div>
                <% } %>
              </div>
              <div class="text-sm linewrap lineheight-less mb-2"><%= club.info.rules %></div>
              <% if(0 <= rank && rank <= 1){ %>
                <form id="club_rules" action="/clubs/<%= club._id %>?_method=PUT" method="POST">
                  <textarea class="form-control form-control-sm" type="text" name="info[rules]" rows="10" required><%= club.info.rules %></textarea>
                  <button class="btn btn-sm btn-primary btn-block mt-2" type="submit">Update rules</button>
                  <br>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              <% } %>
            </div>
            <hr>
          </div>
          <div class="card-body btncollapse-content">
            <div class="dropctn">
              <h5>Keys</h5>  
              <div class="dropdown">
                <% if(currentUser){ %>
                  <button class="btn btn-sm dropdown-toggle mb-1" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
                <% } %>
                <ul class="dropdown-menu dropdown-menu-right dropbox">
                  <div class="container drop-shadow1">
                      <li><a class="dropitems text-sm">Help ?</a></li>
                    <% if(0 <= rank && rank <= 1){ %>
                      <li onclick="toggle_display('toggle_club_form');"><a class="dropitems text-sm" href="#">Edit club Keys</a></li>
                    <% } %>
                    <% if(rank == 0){ %>
                      <hr>
                      <li>
                        <button class="dropitems link-button red text-sm" href="#delClubModal<%= club._id %>" data-toggle="modal">
                          <span>Delete club</span>
                          <span><i class="fas fa-trash-alt"></i></span>
                        </button>
                      </li>
                    <% } %>
                  </div>
                </ul>
              </div>
              <% if(rank == 0){ %>
                <!-- Modal HTML -->
                <div id="delClubModal<%= club._id %>" class="fixed-padding modal fade">
                  <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                      <div class="d-flex grey">
                        <span class="icon-box">
                          <i class="fas fa-exclamation text-xxxl"></i>
                        </span>              
                        <span class="my-auto"><h5 class="modal-title">Are you sure?</h5></span>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div>
                        <p class="m-0 p-0">Do you really want to delete <%= club.name %>?</p>
                        <p>Posts created through this club might still appear in other places.</p>
                      </div>
                      <div class="my-2">
                        <button type="button" class="btn btn-secondary btn-sm mr-1" data-dismiss="modal">Cancel</button>
                        <form class="delete-form inline text-sm" action="/clubs/<%= club._id %>/delete?_method=PUT" method="POST">
                          <button class="btn btn-danger btn-sm ml-1" type="submit">Delete</button>
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
            <hr class="hr-light mobileNone">
            <div class="d-flex flex-column text-sm">
              <div class="info1">College: <div class="info30 boldtext"><a href="/colleges/<%= club.clubKeys.college %>"><%= club.clubKeys.college %></a></div></div>
              <div class="info1">Category: <div class="info30"><a href="/find_clubs/filter_search?clubs=&category=<%= club.clubKeys.category %>&college="><%= club.clubKeys.category %></a></div></div>
            </div>
          </div>
          <% if(0 <= rank && rank <= 1){ %>
            <div id="toggle_club_form">
              <hr>
              <form class="form-signin" action="/clubs/<%= club._id %>?_method=PUT" method="POST">
                <label for="name" class="sr-only">Club name</label>
                <input type="text" id="name" class="form-control form-control-sm commentbox2 text-center greyback shadow mb-2" name="name" value="<%= club.name %>" placeholder="Club name">
                <label for="banner" class="sr-only">Banner</label>
                <input type="text" id="banner" class="form-control form-control-sm commentbox2 text-center" name="banner" value="<%= club.banner %>" placeholder="Banner" autofocus>
                <br>
                <% if(!club.clubKeys.college){ %>
                  <input list="college" class="form-control form-control-sm select_dark" name="clubKeys[college]" 
                  pattern="IIT Mandi" value="" placeholder="Your College">
                <% } else{ %>
                  <input list="college" class="form-control form-control-sm select_dark" name="clubKeys[college]" pattern="IIT Mandi" value="<%= club.clubKeys.college %>" placeholder="Your College">
                <% } %>
                <datalist id="college">
                  <option value="IIT Mandi">
                </datalist>
                <label for="category" class="sr-only" title="Category">Category</label>
                <% if(!club.clubKeys.category){ %>
                  <input list="category" class="form-control form-control-sm select_dark" name="clubKeys[category]" 
                  pattern="Student bodies|TV Shows and Movies|Theatre and Literature|Film and Photography|Sports and Recreational|Automobile and Tech|Dance and Music|Art and Creative|Graphics and Animation|Memes and Video games|Trips and Travel|Food and Beverage|Political and Community service|Personal Care|Academic and Educational|Programming and Development|Bussiness and Management|Bussiness and Management|Placement and Career|Hostelers|Day scholars|Alumni and Staff|Religious and Spiritual|Miscellaneous" value="" placeholder="Club category">
                <% } else{ %>
                  <input list="category" class="form-control form-control-sm select_dark" name="clubKeys[category]" pattern="Student bodies|TV Shows and Movies|Theatre and Literature|Film and Photography|Sports and Recreational|Automobile and Tech|Dance and Music|Art and Creative|Graphics and Animation|Memes and Video games|Trips and Travel|Food and Beverage|Political and Community service|Personal Care|Academic and Educational|Programming and Development|Bussiness and Management|Bussiness and Management|Placement and Career|Hostelers|Day scholars|Alumni and Staff|Religious and Spiritual|Miscellaneous" value="<%= club.clubKeys.category %>" placeholder="Club category">
                <% } %>
                <datalist id="category">
                  <option value="Student bodies">
                  <option value="TV Shows and Movies">
                  <option value="Theatre and Literature">
                  <option value="Film and Photography">
                  <option value="Sports and Recreational">
                  <option value="Automobile and Tech">
                  <option value="Dance and Music">
                  <option value="Art and Creative">
                  <option value="Graphics and Animation">
                  <option value="Memes and Video games">
                  <option value="Trips and Travel">
                  <option value="Food and Beverage">
                  <option value="Political and Community service">
                  <option value="Personal Care">
                  <option value="Academic and Educational">
                  <option value="Programming and Development">
                  <option value="Bussiness and Management">
                  <option value="Placement and Career">
                  <option value="Hostelers">
                  <option value="Day scholars">
                  <option value="Alumni and Staff">
                  <option value="Religious and Spiritual">
                  <option value="Miscellaneous">
                </datalist>
                <button class="btn btn-sm btn-primary btn-block mt-2" type="submit">Update club profile</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
          <% } %>
        </div>
      </div>
      <div class="col-md-8 px-1 mobilepad mt-2">
        <div class="card tabcard">
          <div class="card-header tabcontainer">
            <ul class="nav nav-tabs card-header-tabs pull-right" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link boldtext black active" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Activity</a>
              </li>
              <li class="nav-item">
               <a class="nav-link boldtext black notification" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="true" onclick="document.getElementById('load-more-memberRequests-btn').click();">
                Members
              </a>
              </li>
              <li class="nav-item">
                <a class="nav-link boldtext black" id="stories-tab" data-toggle="tab" href="#stories" role="tab" aria-controls="stories" aria-selected="true">Stories</a>
              </li>
              <% if(currentUser && 0 <= rank && rank <= 4){ %>
                <li class="nav-item">
                  <a class="nav-link boldtext black" id="rooms-tab" data-toggle="tab" href="#rooms" role="tab" aria-controls="rooms" aria-selected="false">Rooms</a>
                </li>
              <% } %>
            </ul>
          </div>
            <div class="tab-content" id="myTabContent">
              <!-- Activity Tab -->
              <div class="tab-pane fade greyback show active" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                <% if(rank >= 0 && rank <=4){ %>
                  <div class="card noborder">
                    <form id="create-new-post" class="card-body pt-0 border-light-lr" action="/clubs/<%= club._id %>/posts?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data" style="padding-top: 1rem !important; margin-top: -1rem;">
                      <label for="topic" class="sr-only">Topic</label>
                      <input id="input_topic" type="text" name="topic" class="form-control topic" autocomplete="off" placeholder="ask a Question">
                      <label for="description" class="sr-only">Description</label>
                      <textarea id="description" class="emoji-input form-control text-sm description" type="text" name="description" placeholder="Describe your post" rows="4" required></textarea>
                      <label for="hyperlink" class="sr-only">Hyperlink</label>
                      <input id="hyperlink" type="text" name="hyperlink" class="form-control text-sm hyperlink" placeholder="Hyperlink">
                      <div class="d-flex flex-row righttext my-auto">
                        <div class="ml-1 my-auto">
                          <div class="emoji-panel">
                            <button class="chat-input-tool btn btn-sm text-md" type="button" title="Insert hyperlink" onclick="toggle_display('hyperlink')">
                              <i class="fas fa-link"></i>
                            </button>
                          </div>
                        </div>
                        <div class="ml-1 mr-2 my-auto">
                          <div class="emoji-panel">
                            <button id="emoji-picker" class="chat-input-tool btn btn-sm text-lg" type="button" title="Insert emoji">
                              <div id="emoji-box" class="intercom-composer-popover intercom-composer-emoji-popover emoji-right">
                                <% include ../partials/emoji_picker %>
                              </div>
                              <i class="far fa-laugh-beam"></i>
                            </button>
                          </div>
                        </div>
                        <div class="mx-1 my-auto">
                          <label for="inputImage" class="custom-file-upload" title="Upload image">
                            <i class="fas fa-upload"></i> Image
                          </label>
                          <input type="file" id="inputImage" class="text-sm" name="image" accept="image/*">
                          <img id="preview-postimg" class="rounded invisible" src="/images/noImage.png" alt="preview" />
                        </div>
                        <div class="righttext d-flex my-auto">
                          <span>
                            <button id="postbutton" class="btn btn-sm btn-success" title="Submit post" onclick="loading_spinner('load-postbutton','description');"><span id="load-postbutton"></span>Post</button>
                          </span>
                          <span>
                            <label for="privacy" class="sr-only" title="Privacy setting">Privacy setting</label>
                            <select id="privacy" name="privacy" class="shortened-select select1 blackcolor" data-toggle="tooltip" title="Privacy setting">
                              <option id="priv_everyone" value="0" data-descr="Outside College" selected></option>
                              <option id="priv_college" value="1" data-descr="This College"></option>
                              <option id="priv_friends" value="2" data-descr="My Friends"></option>
                              <option id="priv_club" value="3" data-descr="This Club"></option>
                              <option id="priv_room" value="4" data-descr="#Room" disabled></option>
                              <option id="priv_me" value="5" data-descr="Only Me"></option>
                            </select>
                          </span>
                        </div>
                      </div>
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                  </div>
                  <div class="py-5 mx-5">
                    <hr class="border-light" style="border-bottom: none !important;">
                  </div>
                <% } %>
                <div id="delegated-posts">
                  <div id="server-posts"></div>
                  <% if(currentUser){ %>
                    <div id="client-posts" class="topnotch-left topnotch-right nodisplay"></div>
                  <% } else{ %>
                    <div id="client-posts" class="topnotch-left topnotch-right offline nodisplay"></div>
                  <% } %>
                  <div class="text-center">
                    <button id="load-more-btn" class="btn btn-light btn-sm btn-load mt-2" type="button" value="<%= //foundPostIds %>">
                      <span id="load-more-span"></span>Load
                    </button>
                  </div>
                </div>
              </div>
              <!-- Members Tab -->
              <div class="tab-pane fade cardpad border-light-lr" id="members" role="tabpanel" aria-labelledby="members-tab">
                <% if(memberRequestsLength && memberRequestsLength > 0){ %>
                  <div class="greyback px-2 mb-3" style="height: 24px; margin: 0 -0.5rem;">
                    <div class="valign whiteback" style="height: inherit;">
                      <div class="lightgrey text-sm my-auto ml-2"><%= memberRequestsLength %> Requests</div>
                      <div id="show-requestsbtn">
                        <button onclick="toggle_display('client-memberRequests-div');
                        document.getElementById('show-requestsbtn').style.display = 'none';
                        document.getElementById('clubmembers-div').style.display = 'none';" 
                        class="btn btnxs text-xs btn-secondary mx-2" style="height: 26px;">Show</button>
                      </div>
                    </div>
                  </div>
                  <div id="client-memberRequests-div">
                    <div id="client-memberRequests"></div>
                    <div class="text-center">
                      <button id="load-more-memberRequests-btn" class="btn btn-light btnxxs text-sm mt-2" type="button" value="0,10">
                        <span id="load-more-memberRequests-span"></span>Load
                      </button>
                    </div>
                  </div>
                <% } %>
                <div id="clubmembers-div">
                  <div class="greyback rounded valign" style="height: 24px;">
                    <div class="d-flex flex-row">
                      <span class="lightgrey text-sm my-auto ml-2"><%= club.membersCount %> <%= club.membersCount == 1 ? 'member': 'members' %></span>
                      <% if(0 <= rank && rank <= 4){ %>
                        <span id="membersOnlineCount" class=" my-auto" style="display: block;">
                          <span class="lightgrey text-sm ml-2" style="vertical-align: text-top;">|</span>
                          <span class="text-sm boldtext greencolor2 text-shadow-white px-2 mx-0" style="vertical-align: text-top;"><%= onlineClubMembersCount %><em> online</em></span>
                        </span>
                      <% } %>
                    </div>
                    <div class="d-flex">
                      <div>
                        <% if(0 <= rank && rank <= 4){ %>
                          <button class="btn btnxs chat-input-tool my-auto" title="Search members" onclick="toggle_display('membersOnlineCount'); toggle_display('searchMember_form'); toggle_display('inv_requests');"><i class="fas fa-search"></i></button>
                        <% } else{ %>
                          <button class="btn btnxs chat-input-tool my-auto lightgrey2" title="Search members"><i class="fas fa-search"></i></button>
                        <% } %>
                      </div>
                      <div id="searchMember_form">
                        <div class="input-group input-group-sm">
                          <input id="search-members-input" type="text" name="name" class="form-control search ml-1" placeholder="Search member" autofocus required style="height: 28px; width: 185px; border: none;">
                          <div class="input-group-append">
                            <button id="search-members-btn" class="btn btn-secondary search py-0 px-1 btn-shadow" type="submit" style="height: 28px;">
                              <span id="search-members-span"></span>Go
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="server-members">
                    <% include ../partials/club_members %>
                  </div>
                  <div id="client-members"></div>
                  <% if(0 <= rank && rank <= 4){ %>
                    <div class="text-center">
                      <button id="load-more-members-btn" class="btn btn-light btnxxs text-sm mt-2" type="button" value="1,11">
                        <span id="load-more-members-span"></span>Load More
                      </button>
                    </div>
                  <% } %>
                </div>
              </div>
              <!-- Stories Tab -->
              <div class="tab-pane fade border-light-lr" id="stories" role="tabpanel" aria-labelledby="stories-tab">
                <div class="d-flex story-alt-container scroll moz-scroll p-3">
                  <% if(currentUser && 0 <= rank && rank <=2){ %>
                  <div class="d-flex flex-column mr-3">
                    <a id="new_story_wrapper" href="/clubs/<%= club._id %>/story/create/edit" class="nounderline">
                      <div id="new_story" class="story-alt text-center">
                        <div class="story-alt-plus">+</div>
                      </div>
                      <div id="new_story_label" class="story-alt-label lightgrey text-sm mobiletext3 pb-2">New update</div>
                    </a>
                  </div>
                  <% } %>
                  <div id="club_current_stories" class="storiesWrapper"></div>
                </div>
                <% //if(currentUser && 0 <= rank && rank <=4){ %>
                  <div class="p-3 mt-2">
                    <em class="darkgrey"><i class="fas fa-history mr-2"></i>ARCHIVE</em>
                    <!-- Will be added by javascript API -->
                    <div id="club_archives_stories" class="storiesWrapper mt-2"></div>
                  </div>
                <% //} %>
              </div>
              <% if(currentUser && 0 <= rank && rank <=4){ %>
                <!-- Rooms Tab -->
                <div class="tab-pane fade cardpad border-light-lr p-0 pt-2" id="rooms" role="tabpanel" aria-labelledby="rooms-tab">
                  <div class="card indexcard cardbody">
                    <div class="greyback rounded valign my-auto m-2" style="height: 24px;">
                      <div class="d-flex flex-row">
                        <span class="lightgrey text-sm mx-2 my-auto"><%= club.chatRoomsCount %> <%= club.chatRoomsCount == 1 ? 'room': 'rooms' %></span>
                      </div>
                    </div>

                    <div class="mt-2" id="audio_rooms_container">
                      <h3 class="px-3"> Audio Rooms </h3>

                      <% if(currentUser && 0 <= rank && rank <= 3){ %>
                      <div id="create-new-div" class="room-container-div" href="#createNewAudioRoom" data-toggle="modal">
                        <div class="nounderline">
                          <div id="create-new-room-container" class="room-container darkgrey">
                            <div class="mobiletext2 truncate1"><i class="fas fa-plus mr-2"></i>Create new</div>
                          </div>
                        </div>
                      </div>
                      <% } %>

                      <!-- Audio rooms will be added here by the AJAX call -->
                    </div>

                    <div class="mt-2">
                      <h3 class="px-3"> Chat Rooms </h3>
                      <div id="common-room-div" class="room-container-div">
                        <% if(conversationId != ''){ %>
                          <a href="/chats/club_rooms/<%= club._id %>/open?_csrf=<%= csrfToken %>&convId=<%= conversationId %>&profileId=<%= club._id %>&club=<%= club.name %>&roomName=Common" class="nounderline">
                        <% } else{ %>
                          <a href="/chats/club_rooms/<%= club._id %>/open?_csrf=<%= csrfToken %>&convId=&profileId=<%= club._id %>&club=<%= club.name %>&roomName=Common" class="nounderline">
                        <% } %>
                          <div class="room-container whitesmokeback">
                            <div class="mobiletext2 truncate1">Common</div>
                          </div>
                        </a>
                      </div>
                      <% if(currentUser && 0 <= rank && rank <= 1){ %>
                        <div id="create-new-div" class="room-container-div" href="#createNewRoom" data-toggle="modal">
                          <div class="nounderline">
                            <div id="create-new-room-container" class="room-container darkgrey">
                              <div class="mobiletext2 truncate1"><i class="fas fa-plus mr-2"></i>Create new</div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal HTML -->
                        <div id="createNewRoom" class="fixed-padding modal fade">
                          <div class="modal-dialog modal-dialog-centered modal-confirm">
                            <div class="modal-content">
                              <div class="d-flex grey">
                                <span>
                                  <img class="icon-box" src="<%= '/images/round-table.svg' %>" title="Designed by [Freepik] from @flaticon">
                                </span>              
                                <span class="my-auto"><h5 class="modal-title ml-2">Create new room</h5></span>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              </div>
                              <form class="my-2" action="/clubs/<%= club._id %>/rooms/create" method="POST">
                                <div class="form-signin">
                                  <label for="roomname" class="sr-only">Room name</label>
                                  <input id="roomname" class="form-control form-control-sm shadow commentbox2 text-center" type="text" name="roomname" placeholder="Room name" required>
                                  <br>
                                  <br>
                                  <button class="btn btn-sm btn-success btn-block" title="Create new room" onclick="loading_spinner('load-createclub','name');"><span id="load-createclub"></span>Submit</button>
                                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      <% } %>
                      <% if(club.chatRoomsCount > 1){ %>
                        <% for(var i=1;i<club.chatRoomsCount;i++){ %>
                          <div id="custom_room_div<%= i %>" class="room-container-div">
                            <a href="/clubs/<%= club._id %>/rooms/<%= club.chatRooms[i-1].conversationId %>" class="nounderline">
                              <div class="room-container">
                                <div class="mobiletext2 truncate1"></i><%= club.chatRooms[i-1].name %></div>
                              </div>
                            </a>
                          </div>
                        <% } %>
                      <% } %>
                    </div>

                        <!-- Modal HTML -->
                        <div id="createNewAudioRoom" class="fixed-padding modal fade">
                          <div class="modal-dialog modal-dialog-centered modal-confirm">
                            <div class="modal-content">
                              <div class="d-flex grey">
                                <span>
                                  <img class="icon-box" src="<%= '/images/round-table.svg' %>" title="Designed by [Freepik] from @flaticon">
                                </span>
                                <span class="my-auto"><h5 class="modal-title ml-2">Create new audio room</h5></span>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              </div>
                              <form id="new-audio-room-form" class="my-2" action="/clubs/<%= club._id %>/audio/create" method="POST">
                                <div class="form-signin">
                                  <div class="form-group">
                                    <label for="aroomname" class="sr-only">Room name</label>
                                    <input id="aroomname" class="form-control form-control-sm shadow commentbox2 text-center" type="text" name="aroomname" placeholder="Room name" required>
                                  </div>
                                  <div class="form-group">
                                    <label for="aroomdesc" class="sr-only">Room desc</label>
                                    <input id="aroomdesc" class="form-control form-control-sm shadow commentbox2 text-center" type="text" name="aroomdesc" placeholder="Room description" required>
                                  </div>
                                  <% if(currentUser && 0 <= rank && rank <= 1){ %>
                                  <div class="form-group">
                                    <div class="valign">
                                      <div class="darkgrey">Club Exclusive</div>
                                      <div>
                                        <label class="switch">
                                          <input id="aroomexclusive" type="checkbox" name="aroomexclusive" value="true" checked="">
                                          <span class="slider round"></span>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                  <% } else { %>
                                  Only admins can open a club to public.
                                  <% } %>

                                  <!-- TODO add room exclusive -->
                                  <br>
                                  <br>
                                  <button class="btn btn-sm btn-success btn-block" title="Create new room" type="submit"><span id="load-createaudioclub"></span>Submit</button>
                                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      
                  </div>
                </div>
              <% } %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <% if(currentUser && 0 <= rank && rank <=4){ %>
    <div class="col-md-4 col-lg-3 px-2 pb-2">
      <% include ../partials/hot_topics %>
    </div>
  <% } else if(currentUser && !(0 <= rank && rank <= 4)){ %>
    <div class="col-md-4 col-lg-3 px-2 pb-2">
      <div class="m-0">
        <div class="lightgrey lineheight-less text-sm text-center">
          <i class="fas fa-exclamation redcolor"></i> You are not a member of this club. Ask for an invite to participate in exclusive content & conversations ;)
        </div>
        <div class="card-body hr1 mx-3">
          <div class="lightgrey lineheight-less text-sm text-center">
            <% if(!sentMemberReq){ %>
              <button id="memberReq-btn" class="gb gb8 gb-bordered hover-slide gb-rounded btn-shadow text-sm boldtext" onclick="toggle_display('memberReq-div')">Ask</button>
            <% } else{ %>
              <form action="/clubs/<%= club._id %>/member_requests?_method=PUT" method="POST">
                <button id="cancelReq-btn" class="btn btnxs text-sm btn-dark" name="cancelReq" value="<%= club._id %>">Cancel Request</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            <% } %>
          </div>
        </div>
        <div id="memberReq-div" class="mx-3 my-2 mt-3">
          <div class="card-body mail-wrap mx-auto px-0 pb-0">
            <div class="memberRequest_form whiteback">
              <form action="/clubs/<%= club._id %>/member_requests?_method=PUT" method="POST">
                <div class="form-signin">
                  <label for="message" class="sr-only">Club name</label>
                    <textarea id="message" class="form-control form-control-sm rounded" type="text" name="message" placeholder="Request message" rows="3" required></textarea>
                  <button class="btn btn-sm btn-success btn-shadow d-flex ml-auto" title="member request" name="memberReq" value="<%= club._id %>">Send</button>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</div>

<script>
  var club = <%- JSON.stringify(club) %>;
  var csrfToken = "<%= csrfToken %>";

  <% if(currentUser){ %>
    const guserRank = <%= rank %>;
  <% } else { %>
    const guserRank = 4;
  <% } %>

  <% if(currentUser && 0 <= rank && rank <= 2){ %>
  openDeleteAudioRoomModal = (e, roomId) => {
    e.preventDefault();

    $(`#deleteAudioRoomModal${roomId}`).modal();
  }

  deleteAudioRoom = (roomId) => {
    loading_spinner('load-deleteaudioclub','name');

    async function postData(url = '', data = {}) {
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data) // body data type must match "Content-Type" header
      });
      return response.json(); // parses JSON response into native JavaScript objects
    }

    postData(`/audio/delete/${roomId}`, { club_id: club._id, _csrf: csrfToken })
      .then(data => {
        if (data.success) {
          document.getElementById(`audio_room_${roomId}`).remove();
          $(`#deleteAudioRoomModal${roomId}`).modal('hide');
        } else {
          // TODO: Show some failing error
        }
      }).catch(err => {
        // TODO: Show some failing error
      }).finally(() => {
        remove_loading_spinner('load-deleteaudioclub','name');
      });
  }
  <% } %>

</script>

<script src="/zuck.js-master/dist/zuck.js"></script>
<script src="/js/club-stories.js"></script>
<script type='text/javascript'>
  fetch('/clubs/' + club._id + '/stories').then(res => res.json()).then(function(storiesData) {
    createCurrentStories('club_current_stories', storiesData, club, csrfToken = csrfToken, userRank = guserRank);
  }).catch(function(err) {
    ok = true;
    console.log("Fetching stories failed", err);
  });

  fetch('/clubs/' + club._id + '/archives').then(res => res.json()).then(function(archives) {
    createArchives('club_archives_stories', archives, club, csrfToken, userRank = guserRank);
  }).catch(function(err) {
    ok = true;
    console.log("Fetching archives failed", err);
  });

  fetch('/clubs/' + club._id + '/audio/rooms').then(res => res.json()).then(function(audioRooms) {
    let audioRoomsHTML = ``;

    for (const room of audioRooms) {
      audioRoomsHTML += `<div id="audio_room_${room.roomId}" class="room-container-div">
        <a href="/audio/join/${room.roomId}" class="nounderline">
          <div class="room-container whiteback">
            <div class="mobiletext2 truncate1"></i>${room.name}</div>
            ${guserRank <= 2 ?
              `<span class="room-del"> 
                <i onclick="openDeleteAudioRoomModal(event, '${room.roomId}')" class="fas fa-trash-alt mr-2 room-del-img" alt="Delete room"> </i>
              </span>`
              : ''}
          </div>
        </a>
      </div>
      
      ${guserRank <= 2 ?
      `<!-- Delete Audio Room modal -->
      <div id="deleteAudioRoomModal${room.roomId}" class="fixed-padding modal fade">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="d-flex grey">
              <span class="icon-box">
                <i class="fas fa-exclamation text-xxxl"></i>
              </span>              
              <span class="my-auto"><h5 class="modal-title">Are you sure?</h5></span>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div>
              <p>Do you really want to delete ${room.name}? This cannot be undone.</p>
            </div>
            <div class="my-2">
              <button type="button" class="btn btn-secondary btn-sm mr-1" data-dismiss="modal">Cancel</button>
              <button name="deleteAudioRoom" onclick="deleteAudioRoom('${room.roomId}')" class="btn btn-danger btn-sm ml-1"> <span id="load-deleteaudioclub"></span> Delete </button>
            </div>
          </div>
        </div>
      </div>`
      : ''}`;
    }

    document.getElementById("audio_rooms_container").innerHTML += audioRoomsHTML;
  }).catch(function(err) {
    ok = true;
    console.log("Fetching audio rooms failed", err);
  });

  // New audio form
  document.getElementById('new-audio-room-form').onsubmit = function(e) {
    e.preventDefault();

    const aroomname = document.getElementById('aroomname').value;
    const aroomdesc = document.getElementById('aroomdesc').value;
    const aroomexclusive = (guserRank <= 1) ? document.getElementById('aroomexclusive').checked : true;

    async function postData(url = '', data = {}) {
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data) // body data type must match "Content-Type" header
      });
      return response.json(); // parses JSON response into native JavaScript objects
    }

    // HARDCODED moderators list right now
    const dataObject = {
      _csrf: csrfToken,
      roomName: aroomname,
      roomDesc: aroomdesc,
      isClubExclusive: aroomexclusive,
      moderators: ["5dc19df7792d0826e97ba442"]
    }

    loading_spinner('load-createaudioclub','name');

    postData(`/clubs/${club._id}/audio/create`, dataObject)
      .then(data => {
        // JSON data parsed by `data.json()` call
        
        if (data.success) {
          window.location = "/audio/join/" + data.roomId;
        } else {
          // TODO: Show the error message
        }
      }).finally(() => {
        // TODO: stop the loading spinner!!
      });
  }


</script>

<% include ../partials/footer %>

<%
  function rankTitle(rank){
    if(rank == 0){return 'President';}
    else if(rank == 1){return 'Admin.';}
    else if(rank == 2){return 'Moderator';}
    else if(rank == 3){return 'Sr. member';}
    else if(rank == 4){return 'Jr. member';}
  }

  function rankTitle2(rank){
    if(rank == 0){return 'Pr';}
    else if(rank == 1){return 'Ad';}
    else if(rank == 2){return 'Mo';}
    else if(rank == 3){return 'Sr';}
    else if(rank == 4){return 'Jr';}
  }
%>