<% include ../partials/header %>

<div class="row no-gutters">
	<div class="col-lg-9 order-md-first order-last">
	<% if(!filter){ %>
		<div class="ml-2">Search results for: <span class="boldtext" value="<%= query %>" id="query"><%= query %></span></div>
	<% } else{ %>
		<div class="ml-2 lineheight">Search results for <strong>(</strong>
			<% if(filterKeys.clubs){ %>
				<span class="lightgrey text-xs">Club name=</span><span class="boldtext text-sm nothing"><%= filterKeys.clubs %></span>
			<% } %>
			<% if(filterKeys.organization){ %>
				<span class="lightgrey text-xs">College=</span><span class="boldtext text-sm nothing"><%= filterKeys.organization %></span>
			<% } %>
			<% if(filterKeys.category){ %>
				<span class="lightgrey text-xs">Category=</span><span class="boldtext text-sm nothing"><%= filterKeys.category %></span>
			<% } %>
			<% if(filterKeys.location){ %>
				<span class="lightgrey text-xs">Club location=</span><span class="boldtext text-sm nothing"><%= filterKeys.location %></span>
			<% } %>
			<% if(filterKeys.distance){ %>
				<span class="lightgrey text-xs">In</span><span class="boldtext text-sm"><%= filterKeys.distance %></span><span class="lightgrey nothing text-xs">Km radius</span>
			<% } %><strong>)</strong>
	</div>
	<% } %>
	<div id="server-search-clubs">
		<% var len = clubs.length; var k=0; for(k;k<len;k++){ %>
			<div class="card searchcard2">
				<div class="d-flex flex-row">
					<div>
			      <a href="/clubs/<%= clubs[k]._id %>">
            	<img class="searchdp" src="<%= clubs[k].avatar || '/images/noClub.png' %>">
          	</a>
			    </div>
			    <div class="card-body3 lineheight2 fullwidth" style="overflow: hidden;">
			    	<div class="valign">
			    		<div>
					    	<a href="/clubs/<%= clubs[k]._id %>" class="green">
					      	<span class="nothing text-lg"><strong class="searchname"><%= clubs[k].name %></strong></span>
					      </a>
					    </div>
				    	<div>
					    	<% if(currentUser){ 
					    		currentUser.userClubs.forEach(function(userClub){ 
					    			if(clubs[k]._id.equals(userClub.id)){ %>
						    		<button class="btn btn-white btnxxs text-sm noshadow nopoint nowrap" type="button">
			                <i class="fas fa-check"></i> Member</button>
					    	<% }})} %>
					    </div>
					  </div>
					  <div class="grey text-xs"><%= clubs[k].banner %></div>
			      <br>
			      <% if(clubs[k].clubKeys){ %>
				      <div class="text-sm boldtext darkgrey"><%= clubs[k].clubKeys.weblink %></div>
				      <div class="grey text-xs boldtext"><%= clubs[k].clubKeys.location %></div>
				      <div class="grey text-xs"><%= clubs[k].clubKeys.category %></div>
				    <% } %>
			      <div class="valign">
				      <div class="grey text-xs"><em><%= break_arr(clubs[k].clubKeys.tags) %></em></div>
				      <% if(clubs[k].clubKeys){ %>
				      	<div class="darkgrey text-sm mt-auto text-right ml-1"><%= clubs[k].clubKeys.organization %></div>
				      <% } %>
				    </div>
			    </div>
			  </div>
		  </div>
		<% } %>
	</div>
	<div id="client-search-clubs"></div>
	<% if(!filter){ %>
		<div class="text-center mt-2">
			<% if(clubs.length != 0 && !clubs.length < 10){ %>
	      <button id="load-more-search-clubs-btn" class="btn btn-primary btnxs text-sm" type="button" value="<%= foundClubIds %>">
	    <% } else{ %>
	    	<button id="load-more-search-clubs-btn" class="btn btn-primary btnxs text-sm nodisplay" type="button" value="<%= foundClubIds %>">
	    <% } %>
	    	<span id="load-more-search-clubs-span"></span>Load More
	    </button>
	  </div>
	<% } else{ %>
		<div class="text-center mt-2">
			<% if(clubs.length != 0 && !clubs.length < 10){ %>
	      <button id="load-more-filterSearch-clubs-btn" class="btn btn-primary btnxs text-sm" type="button" value="<%= foundClubIds %>">
	    <% } else{ %>
	    	<button id="load-more-filterSearch-clubs-btn" class="btn btn-primary btnxs text-sm nodisplay" type="button" value="<%= foundClubIds %>">
	    <% } %>
	    	<span id="load-more-filterSearch-clubs-span"></span>Load More
	    </button>
	  </div>
	<% } %>
	</div>
	<div class="col-lg-3 px-2 mb-3">
    <br class="mobileNone">
    <br class="mobileNone">
    <span><i class="fas fa-filter ml-2"></i></span>
    <span><button class="btn-search text-lg ml-2" onclick="toggle_display('club_filter')">Filter search</button></span>
    <% if(query){ %>
    	<form id="club_filter" class="form-signin" action="/find_clubs/filter_search" method="GET">
    <% } else{ %>
    	<form id="club_filter" style="display: block;" class="form-signin" action="/find_clubs/filter_search" method="GET">
    <% } %>
			<label for="search" class="sr-only">Search</label>
			<input class="form-control text-center commentbox mb-2" type="text" placeholder="Club name" name="clubs" id="search" value="<%= query.clubs %>" autofocus>
			<h6 class="nothing">Club keys</h6>
			<div>
      	<label for="organization" class="sr-only">College name</label>
				<input class="form-control form-control-sm" type="text" placeholder="College name" name="organization" id="organization" value="<%= query.organization %>">
      </div>
	  	<div>
        <label for="category" class="sr-only" title="Category">Category</label>
        <% if(!query.category){ %>
      		<input list="category" class="form-control form-control-sm select_dark" name="category" value="" placeholder="Club category">
      	<% } else{ %>
      		<input list="category" class="form-control form-control-sm select_dark" name="category" value="<%= query.category %>" placeholder="Club category">
      	<% } %>
        <datalist id="category">
          <option value="Academic & Educational">
          <option value="Programming & Development">
          <option value="Robotics">
          <option value="Entreprenurship">
          <option value="Student bodies">
          <option value="Bussiness & Management">
          <option value="Dance & Music">
          <option value="Theatre & Literature">
          <option value="Film & Photography">
          <option value="Graphics & Animation">
          <option value="Sports & Recreational">
          <option value="Events & Sponsor management">
          <option value="Magazines & Newspaper">
          <option value="Placement & Career">
          <option value="Hostelers">
          <option value="Day scholars">
          <option value="Community service">
          <option value="Religious & Spiritual">
        </datalist>
      </div>
      <div class="d-flex flex-row">
		  	<label for="location" class="sr-only">Location</label>
		  	<input type="text" id="location" class="form-control form-control-sm" name="location" placeholder="Club location or zipcode" value="<%= query.location %>">
		  	<a href="#" id="find-me" class="my-auto mx-1" title="Use my location"><i class="fas fa-crosshairs text-lg"></i></a>
		  </div>
		  <p id="location_status" class="text-sm darkgrey"></p>
	  	<div>
		    <input type="radio" name="distance" id="distance25" value="25" <%= query.distance === '25' ? 'checked' : '' %>>
	  	  <label for="distance25" class="text-sm darkgrey">within 25 Km</label>
	  	</div>
	  	<div>
		    <input type="radio" name="distance" id="distance50" value="50" <%= query.distance === '50' ? 'checked' : '' %>>
	  	  <label for="distance50" class="text-sm darkgrey">50 Km</label>
	  	</div>
	  	<div>
		    <input type="radio" name="distance" id="distance100" value="100" <%= query.distance === '100' ? 'checked' : '' %>>
			  <label for="distance100" class="text-sm darkgrey">100 Km</label>
	  	</div>
			<div>
				<a href="/find_clubs/search?clubs=">Reset keys</a>
			</div>
			<button id="search-moreFilterClubs-btn" class="btn btn-primary btn-sm fullwidth" type="submit" value="<%= moreClubsUrl %>">Search</button>
		</form>
  </div>
</div>

<script src="/js/use-my-location.js"></script>
<% include ../partials/footer %>

<%
function break_arr(arr){
	if(arr && arr.length){
		for(i=0;i<arr.length;i++){
			if(i == 0){
				var str = arr[i];
			} else{
				var str = str +', '+ arr[i];
			}
		}
		return str;
	} else{
		return '';
	}
}
%>
