<% include ../partials/header %>

<div class="row no-gutters">
	<div class="col-lg-9 order-md-first order-last">
	<% if(!filter){ %>
		<div class="mt-2 ml-2 mobiletext">Search results for: <span class="boldtext" value="<%= query %>" id="query"><%= query %></span></div>
	<% } else{ %>
		<div class="mt-2 ml-2 mobiletext lineheight">Search results for <strong>(</strong>
			<% if(filterKeys.clubs){ %>
				<span class="lightgrey text-xs">Club name=</span><span class="boldtext text-sm nothing"><%= filterKeys.clubs %></span>
			<% } %>
			<% if(filterKeys.college){ %>
				<span class="lightgrey text-xs">College=</span><span class="boldtext text-sm nothing"><%= filterKeys.college %></span>
			<% } %>
			<% if(filterKeys.category){ %>
				<span class="lightgrey text-xs">Category=</span><span class="boldtext text-sm nothing"><%= filterKeys.category %></span>
			<% } %>
			<% if(filterKeys.distance){ %>
				<span class="lightgrey text-xs">In</span><span class="boldtext text-sm"><%= filterKeys.distance %></span><span class="lightgrey nothing text-xs">Km radius</span>
			<% } %><strong>)</strong>
	</div>
	<% } %>
	<div id="server-search-clubs">
		<% var len = clubs.length; var k=0; for(k;k<len;k++){ %>
			<div class="card searchcard2 border-light">
				<div class="d-flex flex-row">
					<div>
			      <a href="/clubs/<%= clubs[k]._id %>">
            	<img class="searchdp" src="<%= Clubs_100_Avatar[k] || '/images/noClub.png' %>">
          	</a>
			    </div>
			    <div class="card-body3 lineheight2 fullwidth" style="overflow: hidden;">
			    	<div class="valign">
			    		<div>
					    	<a href="/clubs/<%= clubs[k]._id %>" class="grey">
					      	<span class="nothing text-lg"><strong class="searchname"><%= clubs[k].name %></strong></span>
					      </a>
					    </div>
				    	<div>
					    	<% if(currentUser){ 
					    		currentUser.userClubs.forEach(function(userClub){ 
					    			if(clubs[k]._id.equals(userClub.id)){ %>
						    		<button class="btn btn-white btnxxs text-sm noshadow nopoint search-topright" type="button">
			                <i class="fas fa-check"></i></button>
					    	<% }})} %>
					    </div>
					  </div>
					  <div class="lightgrey text-xs"><%= clubs[k].banner %></div>
			      <br>
			      <div class="valign">
			      	<div>
					      <% if(clubs[k].clubKeys){ %>
						      <div class="text-xs boldtext darkgrey"><%= clubs[k].clubKeys.category %></div>
						      <div class="lightgrey text-xs"><%= clubs[k].clubKeys.weblink %></div>
						    <% } %>
						  </div>
				      <% if(clubs[k].clubKeys){ %>
				      	<div class="darkgrey text-xs mt-auto text-right search-bottomright ml-1" style="max-width: 30%;"><%= clubs[k].clubKeys.college %></div>
				      <% } %>
					  </div>
			    </div>
			  </div>
		  </div>
		<% } %>
	</div>
	<div id="client-search-clubs"></div>
	<% if(!filter){ %>
		<div class="text-center mt-2">
			<% if(clubs.length != 0 && !clubs.length < 10){ %>
	      <button id="load-more-search-clubs-btn" class="btn btn-light btnxs text-sm" type="button" value="<%= foundClubIds %>">
	    <% } else{ %>
	    	<button id="load-more-search-clubs-btn" class="btn btn-light btnxs text-sm nodisplay" type="button" value="<%= foundClubIds %>">
	    <% } %>
	    	<span id="load-more-search-clubs-span"></span>Load More
	    </button>
	  </div>
	<% } else{ %>
		<div class="text-center mt-2">
			<% if(clubs.length != 0 && !clubs.length < 10){ %>
	      <button id="load-more-filterSearch-clubs-btn" class="btn btn-light btnxs text-sm" type="button" value="<%= foundClubIds %>">
	    <% } else{ %>
	    	<button id="load-more-filterSearch-clubs-btn" class="btn btn-light btnxs text-sm nodisplay" type="button" value="<%= foundClubIds %>">
	    <% } %>
	    	<span id="load-more-filterSearch-clubs-span"></span>Load More
	    </button>
	  </div>
	<% } %>
	</div>
	<div class="col-lg-3 px-2 mb-3">
    <br>
    <br class="mobileNone">
    <div>
	    <span><i class="fas fa-filter ml-2"></i></span>
	    <span><button class="btn-search text-lg ml-2" onclick="toggle_display('club_filter')">Filter search</button></span>
	  </div>
    <% if(query){ %>
    	<form id="club_filter" class="form-signin" action="/find_clubs/filter_search" method="GET">
    <% } else{ %>
    	<form id="club_filter" style="display: block;" class="form-signin" action="/find_clubs/filter_search" method="GET">
    <% } %>
			<label for="search" class="sr-only">Search</label>
			<input class="form-control text-center commentbox mb-2" type="text" placeholder="Club name" name="clubs" id="search" value="<%= query.clubs %>" autofocus>
			<h6 class="nothing">Club keys</h6>
			<div>
      	<label for="college" class="sr-only">College name</label>
				<input class="form-control form-control-sm" type="text" placeholder="College name" name="college" id="college" value="<%= query.college %>">
      </div>
	  	<div>
        <label for="category" class="sr-only" title="Category">Category</label>
        <% if(!query.category){ %>
      		<input list="category" class="form-control form-control-sm select_dark" name="category" pattern="Student bodies|TV Shows and Movies|Theatre and Literature|Film and Photography|Sports and Recreational|Automobile and Tech|Dance and Music|Art and Creative|Graphics and Animation|Memes and Video games|Trips and Travel|Food and Beverage|Political and Community service|Personal Care|Academic and Educational|Programming and Development|Bussiness and Management|Bussiness and Management|Placement and Career|Hostelers|Day scholars|Alumni and Staff|Religious and Spiritual|Miscellaneous" value="" placeholder="Club category">
      	<% } else{ %>
      		<input list="category" class="form-control form-control-sm select_dark" name="category" pattern="Student bodies|TV Shows and Movies|Theatre and Literature|Film and Photography|Sports and Recreational|Automobile and Tech|Dance and Music|Art and Creative|Graphics and Animation|Memes and Video games|Trips and Travel|Food and Beverage|Political and Community service|Personal Care|Academic and Educational|Programming and Development|Bussiness and Management|Bussiness and Management|Placement and Career|Hostelers|Day scholars|Alumni and Staff|Religious and Spiritual|Miscellaneous" value="<%= query.category %>" placeholder="Club category">
      	<% } %>
        <datalist id="category">
          <option value="Student bodies">
          <option value="TV Shows and Movies">
          <option value="Theatre and Literature">
          <option value="Film and Photography">
          <option value="Sports and Recreational">
          <option value="Automobile and Tech">
          <option value="Dance and Music">
          <option value="Art and Creative">
          <option value="Graphics and Animation">
          <option value="Memes and Video games">
          <option value="Trips and Travel">
          <option value="Food and Beverage">
          <option value="Political and Community service">
          <option value="Personal Care">
          <option value="Academic and Educational">
          <option value="Programming and Development">
          <option value="Bussiness and Management">
          <option value="Placement and Career">
          <option value="Hostelers">
          <option value="Day scholars">
          <option value="Alumni and Staff">
          <option value="Religious and Spiritual">
          <option value="Miscellaneous">
        </datalist>
      </div>
			<div>
				<a href="/find_clubs/filter_search?clubs=&college=&category=">Reset keys</a>
			</div>
			<button id="search-moreFilterClubs-btn" class="btn btn-success btn-sm fullwidth" type="submit" value="<%= moreClubsUrl %>">Search</button>
		</form>
  </div>
</div>

<% include ../partials/footer %>