<% include ../partials/header %>

<div class="row no-gutters">
	<div class="col-md-9 order-md-first order-last">
	<div class="ml-2 mt-4 pt-2 mobiletext4">Search results for: <span class="boldtext" value="<%= query %>" id="query"><%= query %></span></div>
	<div id="server-search-college_pages" class="mo-mx-2">
		<% var len = college_pages.length; var k=0; for(k;k<len;k++){ %>
			<div class="card searchcard2 border-light">
				<div class="d-flex flex-column">
					<div>
						<a href="/colleges/<%= college_pages[k].name %>">
							<img class="cover searchdp m-0 w-100" src="<%= college_pages[k].cover %>">
						</a>
					</div>
			    <div class="lineheight1 w-100">
			    	<div class="notification px-2 py-1 college d-flex flex-column">
							<div class="boldtext text-xxl">
								<div class="collegename-search d-flex">
									<span>
										<% if(matchArr[k]){ %>
											<sup class="greencolor text-xs pb-auto boldtext mr-2 text-lato">My </sup>
										<% } %>
										<a href="/colleges/<%= college_pages[k].name %>" class="black">
											<span id="copyTxt"><%= college_pages[k].name %></span>
										</a>
									</span>
								</div>
							</div>
							<span class="badge text-sm"><%= college_pages[k].clubCount %></span>
						</div>
			    </div>
			  </div>
		  </div>
		<% } %>
	</div>
	<div id="client-search-college_pages" class="mo-mx-2"></div>
	<div class="text-center mt-2">
		<% if(college_pages.length != 0 && !college_pages.length < 10){ %>
      <button id="load-more-search-college_pages-btn" class="btn btn-light btnxs text-sm" type="button" value="<%= foundCollegePageIds %>">
    <% } else{ %>
    	<button id="load-more-search-college_pages-btn" class="btn btn-light btnxs text-sm d-none" type="button" value="<%= foundCollegePageIds %>">
    <% } %>
    	<span id="load-more-search-college_pages-span"></span>Load More
    </button>
  </div>
	</div>
	<div class="col-md-3 px-2">
		<br>
    <div class="mx-2 text-sm boldtext">Search colleges:</div>
		<form action="/find_colleges/search" method="GET" class="form-signin">
      <div class="input-group input-group-sm">
        <input type="text" name="college" class="form-control search" placeholder="College name" autofocus required>
        <div class="input-group-append">
          <button class="btn btn-secondary search btn-shadow" type="submit">
            Go
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<% include ../partials/footer %>