<% include ../partials/header %>

<div class="row no-gutters">
	<div class="col-lg-9">
		<div class="ml-2">Search results for: <span class="boldtext"><%= query %></span></div>

		<div class="card d-inline-flex flex-row valign mt-3 mb-2 mobilewidth">
			<div class="mx-2 text-sm">Search user by email:</div>
			<div class="card-body">
				<form action="/find_email/search" method="GET" class="form-inline">
		      <div class="input-group input-group-sm">
		        <input type="email" name="email" class="form-control search" placeholder="simon@riley.com" required>
		        <div class="input-group-append">
		          <button class="btn btn-secondary search" type="submit">
		            Go
		          </button>
		        </div>
		      </div>
		    </form>
		  </div>
	  </div>
		<br>
		<% if(users.length != 0){ %>
			<form action="/find_people/search" method="GET">
				<button class="btn-search ml-2" type="submit" value="<%= query %>" name="people">People</button>
			</form>
		<% } else{ %>
			<button class="btn-search ml-2 grey nopoint" name="people">People</button>
		<% } %>
		<div class="row no-gutters">
			<% if(users.length == 0){ %>
				<h6 class="grey ml-2">No matching users found :(</h6>
			<% }else{ %>
				<% var len = users.length; var k=0; for(k;k<len;k++){ %>
					<div class="col-md-4 mobilepad px-1">
						<div class="card searchcard">
							<div class="d-inline-flex">
								<div>
						      <a href="/users/<%= users[k]._id %>">
			            	<img class="searchdp" style="margin: 0 !important;" src="<%= users[k].profilePic || '/images/noUser.png' %>">
			          	</a>
						    </div>
						    <div class="card-body3 lineheight fullwidth">
							    <div>
							    	<a href="/users/<%= users[k]._id %>" class="green">
							      	<span class="nothing text-lg"><strong class="searchname"><%= users[k].fullName %></strong></span>
							      </a>
							    </div>
						      <div class="grey text-xs"><%= users[k].note %></div>
						      <br>
						      <div class="darkgrey text-sm text-right"><%= users[k].userKeys.residence %></div>
						    </div>
						  </div>
					  </div>
					</div>
			  <% } %>
			<% } %>
		</div>

		<br>
		<% if(clubs.length != 0){ %>
			<form action="/find_clubs/search" method="GET">
				<button class="btn-search ml-2" type="submit" value="<%= query %>" name="clubs">Clubs</button>
			</form>
		<% } else{ %>
			<button class="btn-search ml-2 grey nopoint" name="clubs">Clubs</button>
		<% } %>
		<div class="row no-gutters">
			<% if(clubs.length == 0){ %>
				<h6 class="grey ml-2">No matching clubs found :(</h6>
			<% }else{ %>
				<% var len = clubs.length; var k=0; for(k;k<len;k++){ %>
					<div class="col-md-4 mobilepad px-1">
						<div class="card searchcard">
							<div class="d-inline-flex">
								<div>
						      <a href="/clubs/<%= clubs[k]._id %>">
			            	<img class="searchdp" style="margin: 0 !important;" src="<%= clubs[k].avatar || 'https://res.cloudinary.com/dubirhea4/image/upload/v1544819201/defaults/noUser.png' %>">
			          	</a>
						    </div>
						    <div class="card-body3 lineheight fullwidth">
						    	<div>
							    	<a href="/clubs/<%= clubs[k]._id %>" class="green">
							      	<span class="nothing text-lg"><strong class="searchname"><%= clubs[k].name %></strong></span>
							      </a>
							    </div>
						      <div class="grey text-xs"><%= clubs[k].banner %></div>
						      <br>
						      <div class="darkgrey text-sm text-right"><%= clubs[k].clubKeys.location %></div>
						    </div>
						  </div>
					  </div>
					</div>
			  <% } %>
			<% } %>
		</div>
	</div>
	<div class="col-lg-3 px-2 mobileNone">
    <br>
    <div class="list-group">
      <li class="list-group-item orangecolor text-sm boldtext mt-3"><i class="fas fa-plus"></i> Invite your friends, spread the message</li>
    </div>
  </div>
</div>

<% include ../partials/footer %>