<% include ../partials/header %>

<div class="row no-gutters">
	<div class="col-lg-9 order-md-first order-last">
		<% if(query){ %>
			<div class="ml-2 mt-5 mobiletext4">Search results for: <span class="boldtext"><%= query %></span></div>
		<% } else{ %>
			<div class="ml-2 mt-5 mobiletext4 boldtext">Search for :-</div>
		<% } %>
		<br>
		<form action="/find_people/search" method="GET">
			<span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
			<button class="btn-search ml-2" type="submit" value="<%= query %>" name="user">People</button>
		</form>
		<div class="row no-gutters">
			<% if(users.length == 0){ %>
				<% if(query){ %>
					<h6 class="lightgrey ml-2 mt-1">No matching users found :(</h6>
				<% } %>
			<% }else{ %>
				<% var len = users.length; var k=0; for(k;k<len;k++){ %>
					<div class="col-md-4 mobilepad px-1">
						<div class="card searchcard border-light">
							<div class="d-inline-flex">
								<div>
						      <a href="/users/<%= users[k]._id %>">
										<% if(users[k].userKeys.sex == 'Male'){ %>
			            		<img class="searchdp mx-0" src="<%= Users_100_profilePic[k] || '/images/noUserMale.png' %>">
										<% } else if(users[k].userKeys.sex == 'Female'){ %>
			            		<img class="searchdp mx-0" src="<%= Users_100_profilePic[k] || '/images/noUserFemale.png' %>">
										<% } %>
			          	</a>
						    </div>
						    <div class="card-body3 lineheight fullwidth">
						    	<div>
							    	<a href="/users/<%= users[k]._id %>" class="grey">
							      	<span class="nothing text-lg"><strong class="searchname">
							      		<% if(!users[k].isVerified){ %><span class="text-xxl redcolor">*</span><% } %><%= users[k].fullName %></strong>
							      	</span>
							      </a>
							    </div>
						      <div class="lightgrey text-xs"><%= users[k].note %></div>
						      <br>
									<div class="valign search-bottompos">
										<div></div>
						      	<div class="darkgrey text-xs text-right lineheight2" style="max-width: 50%;"><%= users[k].userKeys.residence %></div>
									</div>
						    </div>
						  </div>
					  </div>
					</div>
			  <% } %>
			<% } %>
		</div>

		<br>
		<form action="/find_clubs/search" method="GET">
			<span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
			<button class="btn-search ml-2" type="submit" value="<%= query %>" name="club">Clubs</button>
		</form>
		<div class="row no-gutters">
			<% if(clubs.length == 0){ %>
				<% if(query){ %>
					<h6 class="lightgrey ml-2 mt-1">No matching clubs found :(</h6>
				<% } %>
			<% }else{ %>
				<% var len = clubs.length; var k=0; for(k;k<len;k++){ %>
					<div class="col-md-4 mobilepad px-1">
						<div class="card searchcard border-light">
							<div class="d-inline-flex">
								<div>
						      <a href="/clubs/<%= clubs[k]._id %>">
			            	<img class="searchdp mx-0" src="<%= Clubs_100_Avatar[k] || '/images/noClub.png' %>">
			          	</a>
						    </div>
						    <div class="card-body3 lineheight fullwidth">
						    	<div>
							    	<a href="/clubs/<%= clubs[k]._id %>" class="grey">
							      	<span class="nothing text-lg"><strong class="searchname"><%= clubs[k].name %></strong></span>
							      </a>
							    </div>
						      <div class="lightgrey text-xs"><%= clubs[k].banner %></div>
						      <br>
									<div class="valign search-bottompos">
										<div></div>
						      	<div class="darkgrey text-xs text-right" style="max-width: 50%;"><%= clubs[k].clubKeys.college %></div>
									</div>
						    </div>
						  </div>
					  </div>
					</div>
			  <% } %>
			<% } %>
		</div>

		<br>
		<form action="/find_colleges/search" method="GET">
			<span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
			<button class="btn-search ml-2" type="submit" value="<%= query %>" name="college">College</button>
		</form>
		<div class="row no-gutters">
			<% if(college_pages.length == 0){ %>
				<% if(query){ %>
					<h6 class="lightgrey ml-2 mt-1">No matching colleges found :(</h6>
				<% } %>
			<% }else{ %>
				<% var len = college_pages.length; var k=0; for(k;k<len;k++){ %>
					<div class="col-md-4 mobilepad px-1">
						<div class="card searchcard border-light">
							<div class="d-inline-flex">
						    <div class="card-body3 lineheight fullwidth">
						    	<div class="notification px-2 py-1 college d-flex flex-column">
										<div class="boldtext text-xxl">
											<div class="collegename-search">
												<a href="/colleges/<%= college_pages[k].name %>" class="black"><%= college_pages[k].name %></a>
											</div>
										</div>
										<span class="badge text-sm"><%= college_pages[k].userCount %></span>
									</div>
						      <br>
						      <div class="text-sm">
						      	<span>
						      		<span class="lightgrey"></span><span class="boldtext lightgrey nothing text-md"><%= college_pages[k].clubCount %></span> <span class="lightgrey nothing">clubs</span>
						      	</span>
						      </div>
						    </div>
						  </div>
					  </div>
					</div>
			  <% } %>
			<% } %>
		</div>
	</div>
	<div class="col-md-4 col-lg-3 px-2">
    <br class="mobileNone">
    <div class="list-group">
      <li class="list-group-item orangecolor2 boldtext greyback text-sm mt-3"><i class="fas fa-plus"></i> Invite your friends, spread the message</li>
    </div>
  </div>
</div>

<% include ../partials/footer %>