<% include ../partials/header %>

<div class="row no-gutters">
	<div class="col-lg-9 order-md-first order-last">
		<% if(query){ %>
			<div class="ml-2">Search results for: <span class="boldtext"><%= query %></span></div>
		<% } else{ %>
			<div class="ml-2 boldtext">Search for :-</div>
		<% } %>
		<br>
		<form action="/find_people/search" method="GET">
			<span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
			<button class="btn-search ml-2" type="submit" value="<%= query %>" name="people">People</button>
		</form>
		<div class="row no-gutters">
			<% if(users.length == 0){ %>
				<% if(query){ %>
					<h6 class="lightgrey ml-2">No matching users found :(</h6>
				<% } %>
			<% }else{ %>
				<% var len = users.length; var k=0; for(k;k<len;k++){ %>
					<div class="col-md-4 mobilepad px-1">
						<div class="card searchcard">
							<div class="d-inline-flex">
								<div>
						      <a href="/users/<%= users[k]._id %>">
			            	<img class="searchdp" style="margin: 0 !important;" src="<%= users[k].profilePic || '/images/noUser.png' %>">
			          	</a>
						    </div>
						    <div class="card-body3 lineheight fullwidth">
							    <div>
							    	<a href="/users/<%= users[k]._id %>" class="grey">
							      	<span class="nothing text-lg"><strong class="searchname"><%= users[k].fullName %></strong></span>
							      </a>
							    </div>
						      <div class="lightgrey text-xs"><%= users[k].note %></div>
						      <br>
						      <div class="darkgrey text-sm text-right"><%= users[k].userKeys.residence %></div>
						    </div>
						  </div>
					  </div>
					</div>
			  <% } %>
			<% } %>
		</div>

		<br>
		<form action="/find_clubs/search" method="GET">
			<span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
			<button class="btn-search ml-2" type="submit" value="<%= query %>" name="clubs">Clubs</button>
		</form>
		<div class="row no-gutters">
			<% if(clubs.length == 0){ %>
				<% if(query){ %>
					<h6 class="lightgrey ml-2">No matching clubs found :(</h6>
				<% } %>
			<% }else{ %>
				<% var len = clubs.length; var k=0; for(k;k<len;k++){ %>
					<div class="col-md-4 mobilepad px-1">
						<div class="card searchcard">
							<div class="d-inline-flex">
								<div>
						      <a href="/clubs/<%= clubs[k]._id %>">
			            	<img class="searchdp" style="margin: 0 !important;" src="<%= clubs[k].avatar || 'https://res.cloudinary.com/dubirhea4/image/upload/v1544819201/defaults/noUser.png' %>">
			          	</a>
						    </div>
						    <div class="card-body3 lineheight fullwidth">
						    	<div>
							    	<a href="/clubs/<%= clubs[k]._id %>" class="grey">
							      	<span class="nothing text-lg"><strong class="searchname"><%= clubs[k].name %></strong></span>
							      </a>
							    </div>
						      <div class="lightgrey text-xs"><%= clubs[k].banner %></div>
						      <br>
						      <div class="darkgrey text-sm text-right"><%= clubs[k].clubKeys.location %></div>
						    </div>
						  </div>
					  </div>
					</div>
			  <% } %>
			<% } %>
		</div>

		<br>
		<form action="/find_org_pages/search" method="GET">
			<span class="text-sm boldtext lightgrey ml-2"><i class="far fa-hand-point-right"></i> </span>
			<button class="btn-search ml-2" type="submit" value="<%= query %>" name="org_pages">College</button>
		</form>
		<div class="row no-gutters">
			<% if(org_pages.length == 0){ %>
				<% if(query){ %>
					<h6 class="lightgrey ml-2">No matching colleges found :(</h6>
				<% } %>
			<% }else{ %>
				<% var len = org_pages.length; var k=0; for(k;k<len;k++){ %>
					<div class="col-md-4 mobilepad px-1">
						<div class="card searchcard">
							<div class="d-inline-flex">
						    <div class="card-body3 lineheight fullwidth">
						    	<div>
							    	<a href="/org_pages/<%= org_pages[k].name %>" class="black">
							      	<span class="nothing searchname organization-light p-1 boldtext"><%= org_pages[k].name %></span>
							      </a>
							    </div>
						      <br>
						      <div class="text-sm text-right">
						      	<span>
						      		<span class="lightgrey">[</span><span class="boldtext lightgrey nothing text-lg"><%= org_pages[k].clubCount %></span> <span class="lightgrey nothing">clubs</span>
						      	</span>
						      	<span>
						      		<span class="boldtext darkgrey"><span class="redcolor text-lg"><%= org_pages[k].userCount %></span></span> <span class="lightgrey nothing">users]</span>
						      	</span>
						      </div>
						    </div>
						  </div>
					  </div>
					</div>
			  <% } %>
			<% } %>
		</div>
	</div>
	<div class="col-lg-3 px-2">
    <br class="mobileNone">
    <div class="list-group">
      <li class="list-group-item orangecolor text-sm boldtext mt-3"><i class="fas fa-plus"></i> Invite your friends, spread the message</li>
    </div>
  </div>
</div>

<% include ../partials/footer %>