<% include ../partials/header %>

<div class="row no-gutters">
	<div class="col-lg-9 order-md-first order-last">
	<% if(!filter){ %>
		<div class="ml-2 mt-4 pt-2 mobiletext4">Search results for: <span class="boldtext" value="<%= query %>" id="query"><%= query %></span></div>
	<% } else{ %>
		<div class="ml-2 mt-4 pt-2 mobiletext4 lineheight">Search results for <strong>(</strong>
			<% if(filterKeys.users){ %>
				<span class="lightgrey text-xs">Name=</span><span class="boldtext text-sm nothing"><%= filterKeys.users %></span>
			<% } %>
			<% if(filterKeys.college){ %>
				<span class="lightgrey text-xs">College=</span><span class="boldtext text-sm nothing"><%= filterKeys.college %></span>
			<% } %>
			<% if(filterKeys.school){ %>
				<span class="lightgrey text-xs">High School=</span><span class="boldtext text-sm nothing"><%= filterKeys.school %></span>
			<% } %>
			<% if(filterKeys.location){ %>
				<span class="lightgrey text-xs">Residence=</span><span class="boldtext text-sm nothing"><%= filterKeys.location %></span>
			<% } %>
			<% if(filterKeys.distance){ %>
				<span class="lightgrey text-xs">In</span><span class="boldtext text-sm"><%= filterKeys.distance %></span><span class="lightgrey nothing text-xs">Km radius</span>
			<% } %><strong>)</strong>
		</div>
	<% } %>
	<div id="server-search-people">
		<% var len = users.length; var k=0; for(k;k<len;k++){ %>
			<div class="card searchcard2 border-light">
				<div class="d-flex flex-row">
					<div>
			      <a href="/users/<%= users[k]._id %>">
							<% if(users[k].userKeys.sex == 'Male'){ %>
            		<img class="searchdp" src="<%= Users_100_profilePic[k] || '/images/noUserMale.png' %>">
							<% } else if(users[k].userKeys.sex == 'Female'){ %>
            		<img class="searchdp" src="<%= Users_100_profilePic[k] || '/images/noUserFemale.png' %>">
							<% } %>
          	</a>
			    </div>
			    <div class="card-body3 lineheight2 fullwidth" style="overflow: hidden;">
			    	<div class="valign">
			    		<div>
					    	<a href="/users/<%= users[k]._id %>" class="grey">
					      	<span class="nothing text-lg"><strong class="searchname"><% if(!users[k].isVerified){ %><span class="text-xxl redcolor">*</span><% } %><%= users[k].fullName %></strong></span>
					      </a>
					    </div>
			    		<div>
					    	<% if(currentUser && users[k]._id.equals(currentUser._id)){ %>
					    		<button class="btn btn-white btnxxs text-sm noshadow nopoint search-topright" type="button">
			              <i class="fas fa-ghost" aria-hidden="true"></i></button>
					    	<% } else if(currentUser && !users[k]._id.equals(currentUser._id)){ 
					    		currentUser.friends.forEach(function(friend){ 
					    			if(users[k]._id.equals(friend)){ %>
						    		<button class="btn btn-white btnxxs text-sm noshadow nopoint search-topright" type="button">
			                <i class="fas fa-check"></i></button>
					    	<% }})} %>
					    </div>
				    </div>
			      <div class="lightgrey text-xs"><%= users[k].note %></div>
			      <br>
			      <div class="valign">
			      	<div>
			      		<div class="text-xs mobilebold darkgrey"><%= users[k].userKeys.college %></div>
				      	<% if(users[k].userKeys){ %>
						      <div class="lightgrey text-xs"><%= users[k].userKeys.school %></div>
						    <% } %>
					    </div>
					    <% if(users[k].userKeys){ %>
				      	<div class="darkgrey text-xs mt-auto text-right search-bottomright ml-1" style="max-width: 30%;"><%= users[k].userKeys.residence %></div>
				      <% } %>
				    </div>
			    </div>
			  </div>
		  </div>
		<% } %>
	</div>
	<div id="client-search-people"></div>
	<% if(!filter){ %>
		<div class="text-center mt-2">
			<% if((users.length != 0 && !users.length < 10) && !emailSearch){ %>
	    	<button id="load-more-search-people-btn" class="btn btn-light btnxs text-sm" type="button" value="<%= foundUserIds %>">
	    <% } else{ %>
	    	<button id="load-more-search-people-btn" class="btn btn-light btnxs text-sm nodisplay" type="button" value="<%= foundUserIds %>">
	    <% } %>
	    	<span id="load-more-search-people-span"></span>Load More
	    </button>
	  </div>
	<% } else{ %>
	  <div class="text-center mt-2">
			<% if(users.length != 0 && !users.length < 10){ %>
	    	<button id="load-more-filterSearch-people-btn" class="btn btn-light btnxs text-sm" type="button" value="<%= foundUserIds %>">
	    <% } else{ %>
	    	<button id="load-more-filterSearch-people-btn" class="btn btn-light btnxs text-sm nodisplay" type="button" value="<%= foundUserIds %>">
	    <% } %>
	    	<span id="load-more-filterSearch-people-span"></span>Load More
	    </button>
	  </div>
	<% } %>
	</div>
	<div class="col-lg-3 px-2">
		<br class="mobileNone">
		<div id="user_email" style="display: block;">
	    <div class="mx-2 mt-3 text-sm boldtext">Search user by email:</div>
			<form  action="/find_email/search" method="GET" class="form-signin">
	      <div class="input-group input-group-sm">
	        <input type="email" name="email" class="form-control search" placeholder="simon@riley.com" autofocus required>
	        <div class="input-group-append">
	          <button class="btn btn-secondary search btnshadow" type="submit">
	            Go
	          </button>
	        </div>
	      </div>
	    </form>
	  </div>
	  <div class="mt-3">
	    <span><i class="fas fa-filter ml-2"></i></span>
	    <span><button class="btn-search text-lg ml-2" onclick="toggle_display('user_filter'); toggle_display('user_email');">Filter search</button></span>
	  </div>
    <% if(query){ %>
    	<form id="user_filter" class="form-signin" action="/find_people/filter_search" method="GET">
    <% } else{ %>
    	<form id="user_filter" class="form-signin" action="/find_people/filter_search" method="GET">
    <% } %>
			<label for="search" class="sr-only">Search</label>
			<input class="form-control text-center commentbox mb-2" type="text" placeholder="Name" name="users" id="search" value="<%= query.users %>">
			<h6 class="nothing mb-1">User keys</h6>
      <div>
      	<label for="college" class="sr-only">College</label>
				<input class="form-control form-control-sm" type="text" placeholder="College" name="college" id="college" value="<%= query.college %>">
			</div>
      <div>
      	<label for="school" class="sr-only">School</label>
				<input class="form-control form-control-sm" type="text" placeholder="School" name="school" id="school" value="<%= query.school %>">
      </div>
			<div class="d-flex flex-row">
		  	<label for="location" class="sr-only">Location</label>
		  	<input type="text" id="location" class="form-control form-control-sm" name="location" placeholder="Residence or zipcode" value="<%= query.location %>">
		  	<a href="#" id="find-me" class="my-auto mx-1" title="Use my location"><i class="fas fa-crosshairs text-lg"></i></a>
		  </div>
		  <p id="location_status" class="text-sm darkgrey"></p>
	  	<div>
		    <input type="radio" name="distance" id="distance25" value="25" <%= query.distance === '25' ? 'checked' : '' %>>
	  	  <label for="distance25" class="text-sm darkgrey">within 25 Km</label>
	  	</div>
	  	<div>
		    <input type="radio" name="distance" id="distance50" value="50" <%= query.distance === '50' ? 'checked' : '' %>>
	  	  <label for="distance50" class="text-sm darkgrey">50 Km</label>
	  	</div>
	  	<div>
		    <input type="radio" name="distance" id="distance100" value="100" <%= query.distance === '100' ? 'checked' : '' %>>
			  <label for="distance100" class="text-sm darkgrey">100 Km</label>
	  	</div>
			<div>
				<a href="/find_people/filter_search?users=&college=&school=&location=">Reset keys</a>
			</div>
			<button id="search-moreFilterPeople-btn" class="btn btn-success btn-sm fullwidth" type="submit" value="<%= morePeopleUrl %>">Search</button>
		</form>
  </div>
</div>

<script src="/js/use-my-location.js"></script>
<% include ../partials/footer %>
