<% include ../partials/header %>

<div class="row no-gutters">
	<div class="col-md-9 order-md-first order-last">
	<% if(!filter){ %>
		<div class="ml-2 mt-4 pt-2 text-mob-xs">Search results for: <span class="boldtext" value="<%= query %>" id="query"><%= query %></span></div>
	<% } else{ %>
		<div class="ml-2 mt-4 pt-2 text-mob-xs lineheight">Search results for <strong>(</strong>
			<% if(filterKeys.users){ %>
				<span class="lightgrey text-xs">Name=</span><span class="boldtext text-sm m-0 p-0"><%= filterKeys.users %></span>
			<% } %>
			<% if(filterKeys.college){ %>
				<span class="lightgrey text-xs">College=</span><span class="boldtext text-sm m-0 p-0"><%= filterKeys.college %></span>
			<% } %>
			<% if(filterKeys.batch){ %>
				<span class="lightgrey text-xs">Batch=</span><span class="boldtext text-sm m-0 p-0"><%= filterKeys.batch %></span>
			<% } %>
			<% if(filterKeys.house){ %>
				<span class="lightgrey text-xs">House=</span><span class="boldtext text-sm m-0 p-0"><%= filterKeys.house %></span>
			<% } %>
			<% if(filterKeys.branch){ %>
				<span class="lightgrey text-xs">Branch=</span><span class="boldtext text-sm m-0 p-0"><%= filterKeys.branch %></span>
			<% } %>
			<% if(filterKeys.school){ %>
				<span class="lightgrey text-xs">High School=</span><span class="boldtext text-sm m-0 p-0"><%= filterKeys.school %></span>
			<% } %>
			<% if(filterKeys.hometown){ %>
				<span class="lightgrey text-xs">Home Town=</span><span class="boldtext text-sm m-0 p-0"><%= filterKeys.hometown %></span>
			<% } %>
			<% if(filterKeys.distance){ %>
				<span class="lightgrey text-xs">In</span><span class="boldtext text-sm"><%= filterKeys.distance %></span><span class="lightgrey m-0 p-0 text-xs">Km radius</span>
			<% } %><strong>)</strong>
		</div>
	<% } %>
	<div id="server-search-users" class="mo-mx-2">
		<% var len = users.length; var k=0; for(k;k<len;k++){ %>
			<div class="card searchcard2 border-light">
				<div class="d-flex flex-row">
					<div>
			      <a href="/users/<%= users[k]._id %>">
							<% if(!users[k].userKeys.sex){ %>
								<img class="searchdp" src="<%= Users_100_profilePic[k] || '/images/noUser.png' %>">
							<% } else if(users[k].userKeys.sex == 'Male'){ %>
								<img class="searchdp" src="<%= Users_100_profilePic[k] || '/images/noUserMale.png' %>">
							<% } else if(users[k].userKeys.sex == 'Female'){ %>
								<img class="searchdp" src="<%= Users_100_profilePic[k] || '/images/noUserFemale.png' %>">
							<% } %>
          	</a>
			    </div>
			    <div class="card-body py-1 lineheight-lesser w-100" style="overflow: hidden;">
			    	<div class="valign">
			    		<div>
					    	<a href="/users/<%= users[k]._id %>" class="grey">
					      	<span class="m-0 p-0 text-lg"><strong class="searchname"><% if(!users[k].isVerified){ %><span class="text-xxl redcolor">*</span><% } %><%= users[k].fullName %></strong></span>
					      </a>
					    </div>
			    		<div>
					    	<% if(currentUser && users[k]._id.equals(currentUser._id)){ %>
					    		<button class="btn btn-white btnxxs text-sm shadow-none nopoint search-topright" type="button">
			              <i class="fas fa-ghost" aria-hidden="true"></i></button>
					    	<% } %>
					    </div>
				    </div>
			      <div class="lightgrey text-xs pr-3"><%= users[k].note %></div>
			      <br>
			      <div class="valign search-bottompos search-bottompos-desktop">
			      	<div class="mt-auto">
			      		<div class="text-xs text-mob-xs mobilebold darkgrey"><%= users[k].userKeys.college %></div>
				      	<% if(users[k].userKeys){ %>
						      <div class="lightgrey text-xs text-mob-xs"><%= users[k].userKeys.school %></div>
						    <% } %>
					    </div>
					    <% if(users[k].userKeys){ %>
				      	<div class="darkgrey text-xs text-mob-xs mt-auto text-right lineheight-lesser ml-1" style="max-width: 30%;"><%= users[k].userKeys.hometown %></div>
				      <% } %>
				    </div>
			    </div>
			  </div>
		  </div>
		<% } %>
	</div>
	<div id="client-search-users" class="mo-mx-2"></div>
	<% if(!filter){ %>
		<div class="text-center mt-2">
			<% if((users.length != 0 && !users.length < 10) && !emailSearch){ %>
	    	<button id="load-more-search-users-btn" class="btn btn-light btn-xs text-sm" type="button" value="<%= foundUserIds %>">
	    <% } else{ %>
	    	<button id="load-more-search-users-btn" class="btn btn-light btn-xs text-sm d-none" type="button" value="<%= foundUserIds %>">
	    <% } %>
	    	<span id="load-more-search-users-span"></span>Load More
	    </button>
	  </div>
	<% } else{ %>
	  <div class="text-center mt-2">
			<% if(users.length != 0 && !users.length < 10){ %>
	    	<button id="load-more-filterSearch-users-btn" class="btn btn-light btn-xs text-sm" type="button" value="<%= foundUserIds %>">
	    <% } else{ %>
	    	<button id="load-more-filterSearch-users-btn" class="btn btn-light btn-xs text-sm d-none" type="button" value="<%= foundUserIds %>">
	    <% } %>
	    	<span id="load-more-filterSearch-users-span"></span>Load More
	    </button>
	  </div>
	<% } %>
	</div>
	<div class="col-md-3 px-2">
		<br class="mobileNone">
		<div id="user_email" style="display: block;">
	    <div class="mx-2 mt-3 text-sm boldtext">Search user by email:</div>
			<form  action="/find_email/search" method="GET" class="form-signin">
	      <div class="input-group input-group-sm">
	        <input type="email" name="email" class="form-control search" placeholder="simon@riley.com" autofocus required>
	        <div class="input-group-append">
	          <button class="btn btn-secondary search btn-shadow" type="submit">
	            Go
	          </button>
	        </div>
	      </div>
	    </form>
	  </div>
	  <div class="mt-3">
	    <span><i class="fas fa-filter ml-2"></i></span>
	    <span><button class="btn-search text-lg ml-2" onclick="toggle_display('user_filter'); toggle_display('user_email');">Filter search</button></span>
	  </div>
    <% if(query){ %>
    	<form id="user_filter" class="form-signin" action="/find_users/filter_search" method="GET">
    <% } else{ %>
    	<form id="user_filter" class="form-signin" action="/find_users/filter_search" method="GET">
    <% } %>
			<label for="search" class="sr-only">Search</label>
			<input class="form-control text-center commentbox mb-2" type="text" placeholder="Name" name="users" id="search" value="<%= query.users %>">
			<h6 class="m-0 p-0 mb-1">User keys</h6>
      <div>
      	<label for="college" class="sr-only">College</label>
				<input list="college" class="form-control form-control-sm select_dark" name="college" pattern="IIT Mandi" value="<%= query.college %>" placeholder="Your College">
				<datalist id="college">
					<option value="IIT Mandi">
				</datalist>
			</div>
			<div>
				<label for="batch" class="sr-only">Batch</label>
				<input list="batch" class="form-control form-control-sm select_dark" name="batch" pattern="2015|2016|2017|2018|2019|2020|2021" value="<%= query.batch %>" placeholder="Batch (First year)">
				<datalist id="batch">
					<option value="2015">
					<option value="2016">
					<option value="2017">
					<option value="2018">
					<option value="2019">
					<option value="2020">
					<option value="2021">
				</datalist>
      </div>
			<div>
				<label for="house" class="sr-only">House</label>
				<input list="house" class="form-control form-control-sm select_dark" name="house" value="<%= query.house %>" placeholder="House / Hostel">
				<datalist id="house">
					<option value="Beaskund">
					<option value="Gaurikund">
					<option value="Suraj Tal">
					<option value="Dashir">
					<option value="Nako">
					<option value="Prashar">
					<option value="Suvalsar">
					<option value="Chandrataal">
				</datalist>
      </div>
			<div>
				<label for="branch" class="sr-only">Branch</label>
				<input list="branch" class="form-control form-control-sm select_dark" name="branch" value="<%= query.branch %>" placeholder="Branch / Major">
				<datalist id="branch">
					<option value="Civil Engineering">
					<option value="Computer Science & Engineering">
					<option value="Electrical Engineering">
					<option value="Mechanical Engineering">
					<option value="Engineering Physics">
					<option value="Data Science and Engineering">
					<option value="M.S/Ph.D.">
					<option value="M.Tech/M.Sc.">
				</datalist>
      </div>
      <div>
      	<label for="school" class="sr-only">School</label>
				<input class="form-control form-control-sm" type="text" placeholder="School" name="school" id="school" value="<%= query.school %>">
      </div>
			<div class="d-flex flex-row">
		  	<label for="hometown" class="sr-only">HomeTown</label>
		  	<input type="text" id="hometown" class="form-control form-control-sm mt-0" name="hometown" placeholder="Home Town" value="<%= query.hometown %>">
		  	<a href="#" id="find-me" class="my-auto mx-1" title="Use my location"><i class="fas fa-crosshairs text-lg"></i></a>
		  </div>
		  <p id="location_status" class="text-sm darkgrey"></p>
	  	<div>
		    <input type="radio" name="distance" id="distance100" value="100" <%= query.distance === '100' ? 'checked' : '' %>>
	  	  <label for="distance100" class="text-sm darkgrey">within 100 Km</label>
	  	</div>
	  	<div>
		    <input type="radio" name="distance" id="distance200" value="200" <%= query.distance === '200' ? 'checked' : '' %>>
	  	  <label for="distance200" class="text-sm darkgrey">200 Km</label>
	  	</div>
	  	<div>
		    <input type="radio" name="distance" id="distance500" value="500" <%= query.distance === '500' ? 'checked' : '' %>>
			  <label for="distance500" class="text-sm darkgrey">500 Km</label>
	  	</div>
			<div>
				<a href="/find_users/filter_search?users=&college=&school=&hometown=">Reset keys</a>
			</div>
			<button id="search-moreFilterUsers-btn" class="btn btn-success btn-sm w-100" type="submit" value="<%= moreUsersUrl %>">Search</button>
		</form>
  </div>
</div>

<script src="/js/use-my-location.js"></script>
<% include ../partials/footer %>
