<% include ../partials/header %>

<div class="row no-gutters">
	<div class="col-lg-9">
		<div class="ml-2 mt-3 valign">
			<div style="text-transform: capitalize;"><%= queryName %>: <%= queryValue %></div>
		</div>

		<div class="dropctn mt-2">
			<div class="pr-2">
	      <button class="btn btn-sm dropdown-toggle editprofile pr-0 py-0 invisible" type="button" data-toggle="dropdown"><i class="fas fa-chevron-down"></i></button>
	    </div>
			<div>
	      <nav aria-label="Page navigation">
		    <% if (pages && pages > 0){ %>
		    	<ul class="pagination justify-content-center">
		        <% if (current == 1){ %>
		        <li class="page-item disabled text-sm"><a class="page-link">«</a></li>
		        <% } else{ %>
		        <li><a class="page-link text-sm" href="/all_students/colleges/<%= collegeKey %>?<%= queryName %>=<%= queryValue %>">«</a></li>
		        <% } %>
		 
		        <% var i=(Number(current)>3 ? Number(current)-2:1) %>
		        <% for (i;i<=(Number(current)+2) && i<=pages; i++){ %>
			        <% if (i == current) { %>
			        <li class="active"><a class="page-link text-sm"><%= i %></a></li>
			        <% } else{ %>
			        <li><a class="page-link text-sm" href="/all_students/colleges/<%= collegeKey %>?<%= queryName %>=<%= queryValue %>&page=<%= i %>"><%= i %></a></li>
			        <% } %>
		        <% } %>
		 
		        <% if (current == pages){ %>
		        <li class="page-item disabled text-sm"><a class="page-link">»</a></li>
		        <% } else{ %>
		        <li><a class="page-link text-sm" href="/all_students/colleges/<%= collegeKey %>?<%= queryName %>=<%= queryValue %>&page=<%= pages %>">»</a></li>
		        <% } %>
		    	</ul>
		    <% } %>
				</nav>
	    </div>
	    <div id="paginate-go-to">
	      <div class="dropdown ml-auto pr-2">
	        <button class="btn btn-sm dropdown-toggle editprofile pr-0 py-0" type="button" data-toggle="dropdown"><i class="fas fa-chevron-down"></i></button>
	        <div class="dropdown-menu dropdown-menu-right dropbox transparent">
	          <div class="container drop-shadow1 floatright page-index-back">
	            <div class="input-group input-group-sm px-2">
	              <input href="/all_students/colleges/<%= collegeKey %>?<%= queryName %>=<%= queryValue %>&page=" type="number" id="page-index-input2" class="form-control search text-xs px-1" placeholder="Page ..">
	              <div class="input-group-append">
	                <button id="page-index-button2" class="btn btn-secondary text-sm btnxs btnshadow" type="submit"> Go </button>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>

		<div id="server-students">
			<div class="row no-gutters mo-mx-2">
				<% if(studentsCount == 0){ %>
					<h6 class="lightgrey m-2">No students yet :)</h6>
				<% }else{ %>
					<% var len = users.length; var k=0; for(k;k<len;k++){ %>
						<div class="col-md-4 mobilepad px-1">
							<div class="card searchcard border-light">
								<div class="d-inline-flex">
									<div>
							      <a href="/users/<%= users[k]._id %>">
											<% if(users[k].userKeys.sex == 'Male'){ %>
				            		<img class="searchdp" style="margin: 0 !important;" src="<%= Students_100_profilePic[k] || '/images/noUserMale.png' %>">
											<% } else if(users[k].userKeys.sex == 'Female'){ %>
				            		<img class="searchdp" style="margin: 0 !important;" src="<%= Students_100_profilePic[k] || '/images/noUserFemale.png' %>">
											<% } %>
				          	</a>
							    </div>
							    <div class="card-body3 lineheight fullwidth">
							    	<div class="valign">
								    	<div>
									    	<a href="/users/<%= users[k]._id %>" class="grey">
									      	<span class="nothing text-lg"><strong class="searchname"><%= users[k].fullName %></strong></span>
									      </a>
									    </div>
									    <% if(users[k].lastActive >= (new Date() - 120*1000)){ %>
										    <div class="mb-auto pt-1">
	                        <svg height="16" width="16">
	                          <circle cx="8" cy="7" r="5" stroke="#60b769" stroke-width="1" fill="#9feca6"/>
	                        </svg>
	                      </div>
											<% } else if(users[k].lastActive >= (new Date() - 24*3600*1000)){ %>
												<div class="mb-auto pt-1">
													<svg height="16" width="16">
														<circle cx="8" cy="7" r="5" stroke="#f9af4a" stroke-width="1" fill="#ffdfaf"/>
													</svg>
												</div>
											<% } %>
									   </div>
							      <div class="lightgrey text-xs pr-3"><%= users[k].note %></div>
							      <br>
										<div class="valign search-bottompos">
											<div></div>
							      	<div class="darkgrey text-xs mobiletext4 text-right lineheight2 ml-1" style="max-width: 50%;"><%= users[k].userKeys.hometown %></div>
										</div>
							    </div>
							  </div>
						  </div>
						</div>
				  <% } %>
				<% } %>
			</div>
		</div>
	</div>
	<div class="col-lg-3 px-2 mobileNone tabletNone">
    <br>
    <div class="list-group">
      <li class="list-group-item orangecolor2 boldtext greyback text-sm mt-3"><i class="fas fa-plus"></i> Invite your friends, spread the message</li>
    </div>
  </div>
</div>

<% include ../partials/footer %>