<% include ../partials/header %>

<script type='text/javascript'>
  var adminClubs = <%- JSON.stringify(adminClubs) %>;
  var invitedUser = <%- JSON.stringify(user._id) %>;
  var clubInvites = <%- JSON.stringify(clubInvites) %>;
</script>

<div class="row no-gutters content-toppad">
  <div class="col-lg-9 order-md-first order-last">
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="d-flex flex-row mobileNoneFlex">
          <div id="profilePic-frame-div-desktop">
            <% if(currentUser && match && user.profilePicId){ %>
              <div>
                <button id="delete_profilePic-desktop" class="btn btn-danger btnxs text-xxs btnshadow" type="button"
                style="position: absolute; top: 0; left: 4px; display: none;" title="Delete profile pic" href="#deleteProfilePicModal" data-toggle="modal">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            <% } %>
            <div class="container p-1 ml-1 card coverback2 profilePic-frame indexcard lcov" style="overflow: hidden;">
              <% if(user.userKeys.sex == 'Male'){ %>
                <% if(user.profilePicId){ %>
                  <img class="profilePic cover image" src="<%= cdn_prefix+user.profilePicId %>">
                <% } else{ %>
                  <img class="profilePic cover image" src="<%= '/images/noUserMale.png' %>">
                <% } %>
              <% } else if(user.userKeys.sex == 'Female'){ %>
                <% if(user.profilePicId){ %>
                  <img class="profilePic cover image" src="<%= cdn_prefix+user.profilePicId %>">
                <% } else{ %>
                  <img class="profilePic cover image" src="<%= '/images/noUserFemale.png' %>">
                <% } %>
              <% } %>
              <% if(currentUser && match){ %>
                <form action="/users/<%= user._id %>?_method=PUT&_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
                  <label for="inputprofilePic" class="overlay pt-0 mobiletext3" style="outline: 4px solid rgba(0,0,0,0.5); padding-bottom: 2.5rem;">
                    <i class="fas fa-upload"></i> Update pic
                  </label>
                  <input type="file" id="inputprofilePic" class="text-sm" name="profilePic" accept="image/*" required>
                  <button class="btn btn-sm btn-success overlay2" style="border-top: none;" onclick="loading_spinner('load-updateprofilePic','');"><span id="load-updateprofilePic"></span>Submit</button>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              <% } %>
            </div>
          </div>
          <div>
            <% if(currentUser && match){ %>
              <div class="d-flex flex-column" style="height: 50%;">
            <% } else{ %>
              <div class="d-flex flex-column" style="height: 100%;">
            <% } %>
            <div class="my-auto" style="margin-left: 2.75rem;">
              <div>
                <% if(user.isVerified){ %>
                  <h5 class="profilename text-left text-left"><%= user.fullName %></h5>
                <% } else{ %>
                  <h5 class="profilename text-left text-left"><sub class="redcolor" title="Not Verified" style="font-size: 2rem; cursor: default;">*</sub><%= user.fullName %></h5>
                <% } %>
              </div>
              <div class="text-sm mb-2 boldtext lineheight"><%= user.note %></div>
            </div>
            </div>
            <% if(currentUser && match){ %>
              <div class="story-container" style="height: 50%; margin-left: 2.75rem;">
                <div class="d-flex story-container2 scroll moz-scroll mt-3">
                  <div class="d-flex flex-column mr-3">
                    <div class="story text-center" title="Coming Soon.."><i class="fas fa-plus text-xxxl py-3 lightgrey story-plus"></i></div>
                    <div class="story-label lightgrey text-xxxs boldtext pb-2">Add story</div>
                  </div>
                  <!-- <%// for(var i=0;i<3;i++){ %>
                    <div class="d-flex flex-column mr-3">
                      <div class="story"></div>
                      <div class="story-label lightgrey text-xxxs boldtext pb-2">something</div>
                    </div> 
                  <%// } %> -->
                </div>
              </div>
            <!-- <%// } else{ %>
              <div class="story-container" style="height: 50%; margin-left: 2.75rem;">
                <div class="d-flex story-container2 scroll moz-scroll mt-3">
                  <div class="d-flex flex-column mr-3">
                    <div class="story text-center story-dark"></div>
                    <div class="story-label lightgrey text-xxxs boldtext pb-2">something</div>
                  </div>
                </div>
              </div> -->
            <% } %>
          </div>
        </div>
        <div class="desktopNoneFlex">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row">
              <div id="profilePic-frame-div-mobile" class="ml-2">
                <% if(currentUser && match && user.profilePicId){ %>
                  <div>
                    <button id="delete_profilePic-mobile" class="btn btn-danger btnxs text-xxs btnshadow" type="button"
                    style="position: absolute; top: 0; left: 8px; display: none;" title="Delete profile pic" href="#deleteProfilePicModal" data-toggle="modal">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                <% } %>
                <div class="container p-1 card coverback2 profilePic-frame indexcard lcov" style="overflow: hidden;">
                  <% if(user.userKeys.sex == 'Male'){ %>
                    <% if(user.profilePicId){ %>
                      <img class="profilePic cover image" src="<%= cdn_prefix+user.profilePicId %>">
                    <% } else{ %>
                      <img class="profilePic cover image" src="<%= '/images/noUserMale.png' %>">
                    <% } %>
                  <% } else if(user.userKeys.sex == 'Female'){ %>
                    <% if(user.profilePicId){ %>
                      <img class="profilePic cover image" src="<%= cdn_prefix+user.profilePicId %>">
                    <% } else{ %>
                      <img class="profilePic cover image" src="<%= '/images/noUserFemale.png' %>">
                    <% } %>
                  <% } %>
                  <% if(currentUser && match){ %>
                    <form action="/users/<%= user._id %>?_method=PUT&_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
                      <label for="inputprofilePic2" class="overlay pt-0 mobiletext3" style="outline: 4px solid rgba(0,0,0,0.5); padding-bottom: 2.5rem;">
                        <i class="fas fa-upload"></i> Update pic
                      </label>
                      <input type="file" id="inputprofilePic2" class="text-sm" name="profilePic" accept="image/*" required>
                      <button class="btn btn-sm btn-success overlay2" style="border: none;" onclick="loading_spinner('load-updateprofilePic','');"><span id="load-updateprofilePic"></span>Submit</button>
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                  <% } %>
                </div>
              </div>
              <div>
                <div class="d-flex flex-column" style="height: 85%;">
                  <div class="my-auto pl-3">
                    <div>
                      <% if(user.isVerified){ %>
                        <h5 class="profilename text-left"><%= user.fullName %></h5>
                      <% } else{ %>
                        <h5 class="profilename text-left"><sub class="redcolor" title="Not Verified" style="font-size: 2rem; cursor: default;">*</sub><%= user.fullName %></h5>
                      <% } %>
                    </div>
                    <div class="mobiletext4 mb-2 boldtext lineheight" style="min-height: 20px;"><%= user.note %></div>
                  </div>
                </div>
              </div>
            </div>
            <% if(currentUser && match){ %>
              <div class="story-container" style="margin-bottom: 5.625rem;">
                <div class="d-flex px-3" style="overflow: hidden; overflow-x: scroll;">
                  <div class="d-flex flex-column mr-3">
                    <div class="story mt-3 text-center" title="Coming Soon.."><i class="fas fa-plus text-xxxl py-3 lightgrey story-plus"></i></div>
                    <div class="story-label lightgrey text-xxxs boldtext pb-2">Add story</div>
                  </div>
                  <!-- <%// for(var i=0;i<3;i++){ %>
                    <div class="d-flex flex-column mr-3">
                      <div class="story mt-3"></div>
                      <div class="story-label lightgrey text-xxxs boldtext pb-2">something</div>
                    </div>
                  <%// } %> -->
                </div>
              </div>
            <% } else{ %>
              <div class="story-container" style="margin-bottom: 4.5rem;">
                <div class="d-flex px-3 invisible style="overflow: hidden; overflow-x: scroll;">
                  <div class="d-flex flex-column mr-3">
                    <div class="story mt-3 story-dark" style="border-style: dashed;"></div>
                    <div class="story-label story-label2 lightgrey2 text-xxxs boldtext pb-2">something</div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
        <!-- Modal HTML -->
        <div id="deleteProfilePicModal" class="fixed-padding modal fade">
          <div class="modal-dialog modal-confirm">
            <div class="modal-content">
              <div class="d-flex">
                <span class="icon-box">
                  <i class="fas fa-exclamation-triangle text-xxxl"></i>
                </span>              
                <span class="my-auto"><h5 class="modal-title">Are you sure?</h5></span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div>
                <p>Do you really want to delete your profile pic? This cannot be undone.</p>
              </div>
              <div class="my-2">
                <button type="button" class="btn btn-secondary btn-sm mr-1" data-dismiss="modal">Cancel</button>
                <form action="/users/<%= user._id %>?_method=PUT&_csrf=<%= csrfToken %>" method="POST" class="delete-form inline">
                  <button name="deleteProfilePic" type="submit" value="true" class="btn btn-danger btn-sm ml-1">Delete</button>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-1 mobilepad desktop-mt-2 keyspad">
        <div class="card border-light"> 
          <div class="card-body">
            <div class="dropctn">
              <h5>Keys</h5>      
              <div class="dropdown">
                <% if(currentUser){ %>
                  <button class="btn btn-sm dropdown-toggle mb-1" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
                <% } %>
                <ul class="dropdown-menu dropdown-menu-right dropbox">
                  <div class="container drop-shadow1">
                    <% if(currentUser && match){ %>
                      <li onclick="toggle_display('toggle_profile_form');"><a class="dropitems text-sm" href="#">Edit user Keys</a></li>
                    <% } %>
                    <li><a class="dropitems text-sm" href="#">Help ?</a></li>
                  </div>
                </ul>
              </div>
            </div>
            <hr class="hr-light mobileNone">
            <div class="d-flex flex-column text-sm">
              <div class="info1">College: <div class="info30 boldtext"><a href="/colleges/<%= user.userKeys.college %>"><%= user.userKeys.college %></a></div></div>
              <div class="info1">Batch: <div class="info30"><a href="/find_people/filter_search?users=&college=<%= user.userKeys.college %>&batch=<%= user.userKeys.batch %>&house=&branch=&school=&location="><%= user.userKeys.batch %></a></div></div>
              <div class="info1">Branch: <div class="info30"><a href="/find_people/filter_search?users=&college=<%= user.userKeys.college %>&batch=&house=&branch=<%= user.userKeys.branch %>&school=&location="><%= user.userKeys.branch %></a></div></div>
            </div>
          </div>
          <% if(currentUser && match){ %>
            <div id="toggle_profile_form">
              <hr>
              <form class="form-signin" action="/users/<%= user._id %>?_method=PUT" method="POST">
                <label for="note" class="sr-only">Note</label>
                <input type="text" id="note" class="form-control form-control-sm commentbox2 text-center" name="note" value="<%= user.note %>" placeholder="Short note" autofocus>
                <br>
                <label for="college" class="sr-only text-xs lightgrey"><span class="redcolor">* </span> Unique college key</label>
                <% if(!user.userKeys.college){ %>
                  <input list="college" class="form-control form-control-sm select_dark" name="userKeys[college]" 
                  pattern="JIIT Noida Sector 62" value="" placeholder="Your College">
                <% } else{ %>
                  <input list="college" class="form-control form-control-sm select_dark" name="userKeys[college]" pattern="JIIT Noida Sector 62" value="<%= user.userKeys.college %>" placeholder="Your College">
                <% } %>
                <datalist id="college">
                  <option value="JIIT Noida Sector 62">
                </datalist>
                <label for="batch" class="sr-only">Batch</label>
                <% if(!user.userKeys.batch){ %>
                  <input list="batch" class="form-control form-control-sm select_dark" name="userKeys[batch]" 
                  pattern="2015|2016|2017|2018|2019|2020|2021" value="" placeholder="First year">
                <% } else{ %>
                  <input list="batch" class="form-control form-control-sm select_dark" name="userKeys[batch]" pattern="2015|2016|2017|2018|2019|2020|2021" value="<%= user.userKeys.batch %>" placeholder="Your batch">
                <% } %>
                <datalist id="batch">
                  <option value="2015">
                  <option value="2016">
                  <option value="2017">
                  <option value="2018">
                  <option value="2019">
                  <option value="2020">
                  <option value="2021">
                </datalist>
                <label for="branch" class="sr-only">Branch</label>
                <% if(!user.userKeys.branch){ %>
                  <input list="branch" class="form-control form-control-sm select_dark" name="userKeys[branch]" 
                  pattern="Civil Engineering|Computer Science & Engineering|Electrical Engineering|Mechanical Engineering|Engineering Physics|Data Science and Engineering|M.S/Ph.D.|M.Tech/M.Sc.>" value="" placeholder="Branch / Major">
                <% } else{ %>
                  <input list="branch" class="form-control form-control-sm select_dark" name="userKeys[branch]" pattern="Civil Engineering|Computer Science & Engineering|Electrical Engineering|Mechanical Engineering|Engineering Physics|Data Science and Engineering|M.S/Ph.D.|M.Tech/M.Sc.>" value="<%= user.userKeys.branch %>" placeholder="Branch / Major">
                <% } %>
                <datalist id="branch">
                  <option value="Civil Engineering">
                  <option value="Computer Science & Engineering">
                  <option value="Electrical Engineering">
                  <option value="Mechanical Engineering">
                  <option value="Engineering Physics">
                  <option value="Data Science and Engineering">
                  <option value="M.S/Ph.D.">
                  <option value="M.Tech/M.Sc.">
                </datalist>
                <button class="btn btn-sm btn-primary btn-block mt-2" type="submit">Update user profile</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
          <% } %>
        </div>
        <div class="mt-2">
          <div class="card mt-0 border-light btncollapse-div">
            <% if(currentUser && match){ %>
              <button type="button" class="btn btn-sm boldtext btncollapse text-left mobiletext3" data-toggle="collapse" data-target="#friends">
                <span><i class="fas fa-users"></i></span><span class="boldtext">Friends</span>
                <span class="lightgrey text-sm nopad"> . <%= user.friendsCount %></span>
              </button>
              <div id="friends" class="collapse btncollapse-content row no-gutters" style="padding-right: 0.25rem;">
            <% } else if(currentUser && !match){ %>
              <button type="button" class="btn btn-sm boldtext btncollapse text-left mobiletext3" data-toggle="collapse" data-target="#friends">
                <span><i class="fas fa-users"></i></span><span class="boldtext">Mutual</span>
                <span class="lightgrey text-sm nopad"> . <%= foundFriends.length %></span>
              </button>
              <div id="friends" class="collapse btncollapse-content row no-gutters" style="padding-right: 0.25rem;">
            <% } else{ %>
              <button type="button" class="btn btn-sm boldtext btncollapse text-left mobiletext3" data-toggle="collapse" data-target="#friends">
                <span><i class="fas fa-users"></i></span><span class="boldtext">Friends</span>
                <span class="lightgrey text-sm nopad"> . <%= user.friendsCount %></span>
              </button>
              <div id="friends" class="collapse btncollapse-content row no-gutters" style="padding-right: 0.25rem;">
            <% } %>
            <% for(i=0;i<foundFriends.length;i++){ %>
              <% if(foundFriends[i]){ %>
                <div class="col-3 pl-1 py-1">
                  <a href="/users/<%= foundFriends[i]._id %>">
                    <% if(user.userKeys.sex == 'Male'){ %>
                      <img class="friends-dp" src="<%= Friends_100_profilePic[i] || '/images/noUserMale.png' %>">
                    <% } else if(user.userKeys.sex == 'Female'){ %>
                      <img class="friends-dp" src="<%= Friends_100_profilePic[i] || '/images/noUserFemale.png' %>">
                    <% } %>
                  </a>
                  <div class="lineheight3">
                    <span><a class="text-xs boldtext nopad friends-text" href="/users/<%= foundFriends[i]._id %>"><%= foundFriends[i].fullName %></a></span>
                  </div>
                </div>
              <% } %>
            <% } %>
            </div>
          </div>
        </div>
        <div class="text-center"><a href="/users/<%= user._id %>/all_friends" class="black text-sm mobiletext2">View all friends</a></div>
      </div>
      <div class="col-md-8 px-1 mobilepad desktop-mt-2">
        <div class="card tabcard">
          <div class="card-header tabcontainer">
            <ul class="nav nav-tabs card-header-tabs pull-right" id="myTab" role="tablist">
              <li class="nav-item">
                <% if(currentUser && !match){ %>
                  <a class="nav-link boldtext black active" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true">Activity</a>
                <% } else{ %>
                  <a class="nav-link boldtext black" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true">Activity</a>
                <% } %>
              </li>
              <li class="nav-item">
                <a class="nav-link boldtext black" id="clubs-tab" data-toggle="tab" href="#clubs" role="tab" aria-controls="clubs" aria-selected="false">Clubs</a>
              </li>
              <li class="nav-item">
                <% if(currentUser && match){ %>
                  <a class="nav-link boldtext black active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Info</a>
                <% } else{ %>
                  <a class="nav-link boldtext black" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Info</a>
                <% } %>
              </li>
              <% if(currentUser && match){ %>
                <li class="nav-item">
                 <a class="nav-link boldtext black" id="hearts-tab" data-toggle="tab" href="#hearts" role="tab" aria-controls="hearts" aria-selected="true" onclick="document.getElementById('load-more-heart-btn').click();">Hearts</a>
                </li>
              <% } else if(currentUser && !match){ %>
                <li class="nav-item">
                 <a class="nav-link boldtext black" id="chats-tab" data-toggle="tab" href="#chats" role="tab" aria-controls="chats" aria-selected="true">Chat</a>
                </li>
              <% } %>
            </ul>
          </div>
          <div class="tab-content" id="myTabContent">
            <!-- Activity Tab -->
            <% if(currentUser && !match){ %>
              <div class="tab-pane fade greyback show active" id="activity" role="tabpanel" aria-labelledby="activity-tab">
            <% } else{ %>
              <div class="tab-pane fade greyback" id="activity" role="tabpanel" aria-labelledby="activity-tab">
            <% } %>
              <div id="delegated-posts">
                <div id="server-posts">
                  <% //include ../partials/posts_user %>
                </div>
                <div id="client-posts" class="topnotch-left topnotch-right nodisplay"></div>
                <div class="text-center">
                  <button id="load-more-btn" class="btn btn-light btn-sm btn-load mt-2" type="button" value="<%= //foundPostIds %>">
                    <span id="load-more-span"></span>Load
                  </button>
                </div>
              </div>
            </div>
            <!-- Clubs Tab -->
            <div class="tab-pane fade cardpad border-light-lr" id="clubs" role="tabpanel" aria-labelledby="clubs-tab">
              <div class="greyback valign my-auto" style="height: 23px;">
                <div class="d-flex flex-row">
                  <span class="lightgrey text-sm mx-2 my-auto"><%= clubCount %> clubs</span>
                </div>
                <div class="d-flex flex-row">
                  <% if(currentUser && !match && adminClubs.length!=0){ %>
                    <span>
                      <form action="/requests?_method=PUT" method="POST" class="form-inline">
                        <div id="clubInvite-select" class="clubInvite-select"></div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      </form>
                    </span>
                  <% } %>
                  <% if(currentUser && !match && user.clubInvites.length!=0){ %>
                    <span>
                      <form action="/requests?_method=PUT" method="POST" class="form-inline">
                        <div id="inviteCancel-select" class="inviteCancel-select"></div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      </form>
                    </span>
                  <% } %>
                  <% if(currentUser && match){ %>
                    <span class="d-flex">
                      <button onclick="toggleclass_display('newClub_form')" class="btn btnxs text-xs btn-secondary my-auto" style="height: 27px;">Start a new club</button>
                    </span>
                  <% } %>
                </div>
              </div>
              <div class="newClub_form my-2" style="outline: 2px dashed lightgrey;">
                <form action="/users/<%= user._id %>/clubs?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
                  <div class="form-signin">
                    <label for="name" class="sr-only">Club name</label>
                    <input id="name" class="form-control form-control-sm shadow commentbox2 text-center" type="text" name="name" placeholder="Club name" required>
                    <label for="banner" class="sr-only">Club banner</label>
                    <input id="banner" class="form-control form-control-sm shadow" type="text" name="banner" placeholder="Banner">
                    <label for="inputavatar" class="custom-file-upload fullwidth text-center" title="Upload club avatar">
                      <i class="fas fa-upload"></i> Club avatar
                    </label>
                    <input type="file" id="inputavatar" class="text-sm" name="avatar" accept="image/*" required="">
                    <br>
                    <br>
                    <button class="btn btn-sm btn-success btn-block" title="Start new club" onclick="loading_spinner('load-createclub','name');"><span id="load-createclub"></span>Submit</button>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              </div>
              <% if((isFriend || match) && clubs.length!=0){ %>
                <div id="server-clubs">
                  <% include ../partials/user_clubs %>
                </div>
                <div id="client-clubs"></div>
                <% if(clubCount > 10){ %>
                  <div class="text-center">
                    <button id="load-more-clubs-btn" class="btn btn-light btnxxs text-sm mt-2" type="button" value="10,20">
                      <span id="load-more-clubs-span"></span>Load More
                    </button>
                  </div>
                <% } %>
              <% } %>
            </div>
            <!-- **********************Info START************************ -->
            <% if(currentUser && match){ %>
              <div class="tab-pane fade cardpad show active border-light-lr" id="info" role="tabpanel" aria-labelledby="info-tab">
            <% } else{ %>
              <div class="tab-pane fade cardpad" id="info" role="tabpanel" aria-labelledby="info-tab">
            <% } %>
              <div class="d-flex flex-row">
                <span class="ml-auto">
                  <% if(currentUser && match && !isFriend && !sentRequest && !haveRequest){ %>
                    <a href="/users/<%= user._id %>/settings">
                      <button class="btn btn-white btn-settings text-sm"title="Account settings">
                        <i class="fas fa-user-cog"></i>
                      </button>
                    </a>
                  <% } else{ %>
                    <button class="btn btn-white btnxxs text-sm invisible" type="button">
                    Not Me</button>
                  <% } %>
                </span>
              </div>
              <div class="d-flex flex-column px-1 mobilepad mt-2">
                <div class="dropctn">
                  <strong class="info-size">Bio:</strong>
                </div>
                <% if(currentUser && (match || user.bio.aboutme)){ %>
                  <div class="info1">
                    About me: 
                    <div class="info30">
                      <% if(currentUser && match){ %>
                        <button onclick="toggle_display('aboutme_form_div');" class="btn btn-sm dropdown-toggle floatright nothing d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
                      <% } %>
                      <span class="clubchat-msg-div"><%= user.bio.aboutme %></span>
                      <br>
                      <div id="aboutme_form_div" class="greyback">
                        <form class="form-inline d-flex justify-content-between mt-2 px-2" action="/users/<%= user._id %>?_method=PUT" method="POST">
                          <div id="aboutme_form" class="fullwidth">
                            <label for="aboutme" class="sr-only">About me</label>
                            <input type="hidden" id="aboutme" name="aboutme" value="#">
                            <textarea type="text" id="aboutmetext" class="form-control fullwidth" name="aboutmetext" placeholder="Tell about yourself" rows="5"><%= user.bio.aboutme %></textarea>
                          </div>
                          <div class="d-flex flex-row-reverse fullwidth mb-1">
                            <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                          </div>
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                      </div>
                      <br>
                    </div>
                  </div>
                <% } %>
                <% if(currentUser && (match || (user.bio.instagram || user.bio.facebook || user.bio.linkedin || user.bio.twitter || user.bio.discord
                || user.bio.github || user.bio.spotify || user.bio.youtube || user.bio.custom1 || user.bio.custom2))){ %>
                  <div class="info1">
                    Find me on: 
                    <div class="info30">
                      <% if(currentUser && match){ %>
                        <button onclick="toggle_display('followon_form_div');" class="btn btn-sm dropdown-toggle floatright nothing d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
                      <% } %>
                      <% if(user.bio.instagram){ %>
                        <a href="<%= decodeURI(user.bio.instagram) %>" target="_blank" rel="noopener" class="text-xxxl lightgrey mr-2"><i class="fab fa-instagram"></i></a>
                      <% } %>
                      <% if(user.bio.facebook){ %>
                        <a href="<%= decodeURI(user.bio.facebook) %>" target="_blank" rel="noopener" class="text-xxxl lightgrey mr-2"><i class="fab fa-facebook"></i></a>
                      <% } %>
                      <% if(user.bio.linkedin){ %>
                        <a href="<%= decodeURI(user.bio.linkedin) %>" target="_blank" rel="noopener" class="text-xxxl lightgrey mr-2"><i class="fab fa-linkedin"></i></a>
                      <% } %>
                      <% if(user.bio.twitter){ %>
                        <a href="<%= decodeURI(user.bio.twitter) %>" target="_blank" rel="noopener" class="text-xxxl lightgrey mr-2"><i class="fab fa-twitter"></i></a>
                      <% } %>
                      <% if(user.bio.discord){ %>
                        <a href="<%= decodeURI(user.bio.discord) %>" target="_blank" rel="noopener" class="text-xxxl lightgrey mr-2"><i class="fab fa-discord"></i></a>
                      <% } %>
                      <% if(user.bio.github){ %>
                        <a href="<%= decodeURI(user.bio.github) %>" target="_blank" rel="noopener" class="text-xxxl lightgrey mr-2"><i class="fab fa-github"></i></a>
                      <% } %>
                      <% if(user.bio.spotify){ %>
                        <a href="<%= decodeURI(user.bio.spotify) %>" target="_blank" rel="noopener" class="text-xxxl lightgrey mr-2"><i class="fab fa-spotify"></i></a>
                      <% } %>
                      <% if(user.bio.youtube){ %>
                        <a href="<%= decodeURI(user.bio.youtube) %>" target="_blank" rel="noopener" class="text-xxxl lightgrey mr-2"><i class="fab fa-youtube"></i></a>
                      <% } %>
                      <% if(user.bio.custom1){ %>
                        <a href="<%= decodeURI(user.bio.custom1) %>" target="_blank" rel="noopener" class="text-xxxl lightgrey mr-2"><i class="fas fa-link"></i></a>
                      <% } %>
                      <% if(user.bio.custom2){ %>
                        <a href="<%= decodeURI(user.bio.custom2) %>" target="_blank" rel="noopener" class="text-xxxl lightgrey mr-2"><i class="fas fa-link"></i></a>
                      <% } %>
                      <br>
                      <div id="followon_form_div" class="greyback">
                        <form class="form-inline d-flex justify-content-between mt-2 px-2" action="/users/<%= user._id %>?_method=PUT" method="POST">
                          <div id="followon_form" class="d-flex flex-column fullwidth">
                            <div class="d-flex flex-row">
                              <div class="text-xxxxl lightgrey my-auto mr-2"><i class="fab fa-instagram" style="width: 36px;"></i></div>
                              <div class="fullwidth"><input type="text" class="form-control form-control-sm" name="instagram" placeholder="Instagram profile" style="width: inherit;" value="<%= decodeURI(user.bio.instagram) %>"></div>
                            </div>
                            <div class="d-flex flex-row">
                              <div class="text-xxxxl lightgrey my-auto mr-2"><i class="fab fa-facebook" style="width: 36px;"></i></div>
                              <div class="fullwidth"><input type="text" class="form-control form-control-sm" name="facebook" placeholder="Facebook profile" style="width: inherit;" value="<%= decodeURI(user.bio.facebook) %>"></div>
                            </div>
                            <div class="d-flex flex-row">
                              <div class="text-xxxxl lightgrey my-auto mr-2"><i class="fab fa-linkedin" style="width: 36px;"></i></div>
                              <div class="fullwidth"><input type="text" class="form-control form-control-sm" name="linkedin" placeholder="LinkedIn profile" style="width: inherit;" value="<%= decodeURI(user.bio.linkedin) %>"></div>
                            </div>
                            <div class="d-flex flex-row">
                              <div class="text-xxxxl lightgrey my-auto mr-2"><i class="fab fa-twitter" style="width: 36px;"></i></div>
                              <div class="fullwidth"><input type="text" class="form-control form-control-sm" name="twitter" placeholder="Twitter profile" style="width: inherit;" value="<%= decodeURI(user.bio.twitter) %>"></div>
                            </div>
                            <div class="d-flex flex-row">
                              <div class="text-xxxxl lightgrey my-auto mr-2"><i class="fab fa-discord" style="width: 36px;"></i></div>
                              <div class="fullwidth"><input type="text" class="form-control form-control-sm" name="discord" placeholder="Discord server / profile" style="width: inherit;" value="<%= decodeURI(user.bio.discord) %>"></div>
                            </div>
                            <div class="d-flex flex-row">
                              <div class="text-xxxxl lightgrey my-auto mr-2"><i class="fab fa-github" style="width: 36px;"></i></div>
                              <div class="fullwidth"><input type="text" class="form-control form-control-sm" name="github" placeholder="GitHub account" style="width: inherit;" value="<%= decodeURI(user.bio.github) %>"></div>
                            </div>
                            <div class="d-flex flex-row">
                              <div class="text-xxxxl lightgrey my-auto mr-2"><i class="fab fa-spotify" style="width: 36px;"></i></div>
                              <div class="fullwidth"><input type="text" class="form-control form-control-sm" name="spotify" placeholder="Spotify playlist" style="width: inherit;" value="<%= decodeURI(user.bio.spotify) %>"></div>
                            </div>
                            <div class="d-flex flex-row">
                              <div class="text-xxxxl lightgrey my-auto mr-2"><i class="fab fa-youtube" style="width: 36px;"></i></div>
                              <div class="fullwidth"><input type="text" class="form-control form-control-sm" name="youtube" placeholder="YouTube channel / playlists" style="width: inherit;" value="<%= decodeURI(user.bio.youtube) %>"></div>
                            </div>
                            <div class="d-flex flex-row">
                              <div class="text-xxxxl lightgrey my-auto mr-2"><i class="fas fa-link" style="width: 36px;"></i></div>
                              <div class="fullwidth"><input type="text" class="form-control form-control-sm" name="custom1" placeholder="Custom link 1" style="width: inherit;" value="<%= decodeURI(user.bio.custom1) %>"></div>
                            </div>
                            <div class="d-flex flex-row">
                              <div class="text-xxxxl lightgrey my-auto mr-2"><i class="fas fa-link" style="width: 36px;"></i></div>
                              <div class="fullwidth"><input type="text" class="form-control form-control-sm" name="custom2" placeholder="Custom link 2" style="width: inherit;" value="<%= decodeURI(user.bio.custom2) %>"></div>
                            </div>
                            <input type="hidden" id="followon" name="followon" value="#">
                          </div>
                          <div class="d-flex flex-row-reverse fullwidth mb-1">
                            <button class="btn btn-sm btnxs btn-primary ml-2 mb-1" type="submit">Update</button>
                          </div>
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                      </div>
                      <br>
                    </div>
                  </div>
                <% } %>
              </div>
              <div class="d-flex flex-column px-1 mobilepad">
                <div class="info1">
                  <strong class="info-size">Account info:</strong>
                  <div class="info30">
                    <% if(currentUser && match){ %>
                      <button id="edit-account-info" onclick="toggle_display('account_info_form_div');" class="btn btn-sm dropdown-toggle floatright"><i class="fas fa-edit"></i></button>
                    <% } %>
                  </div>
                  <div class="info1">
                    Name: <span class="info30"><%= user.fullName %></span>
                    <% if(currentUser && match){ %>
                      <br>
                      Email: <span class="info30"><%= user.email %>
                        <% if(!user.isVerified){ %>
                          <span class="text-xs orangecolor">Not Verified</span>
                        <% } %>
                      </span>
                    <% } %>
                    <br>
                    Sex: <span class="info30"><%= user.userKeys.sex %></span>
                    <br>
                    <div class="info30">
                      <div id="account_info_form_div" class="greyback mb-2">
                        <form class="pb-1 px-1" action="/users/<%= user._id %>?_method=PUT" method="POST">
                          <div class="valign">
                            <div class="mx-2">
                              <label for="inputFirstName" class="sr-only">First Name</label>
                              <input type="text" id="inputFirstName" class="form-control form-control-sm" name="firstName" placeholder="first name" value="<%= user.firstName %>" required>
                            </div>
                            <div class="mx-2">
                              <label for="inputLastName" class="sr-only">Last Name</label>
                              <input type="text" id="inputLastName" class="form-control form-control-sm" name="lastName" placeholder="last name" value="<%= user.lastName %>">
                            </div>
                          </div>
                          <div class="px-2">
                            <div class="form-check-inline">
                              <label class="form-check-label">
                                <% if(user.userKeys.sex == 'Male'){ %>
                                  <input type="radio" class="form-check-input" name="userKeys[sex]" value="Male" required checked>Male
                                <% } else{ %>
                                  <input type="radio" class="form-check-input" name="userKeys[sex]" value="Male" required>Male
                                <% } %>
                              </label>
                            </div>
                            <div class="form-check-inline">
                              <label class="form-check-label">
                                <% if(user.userKeys.sex == 'Female'){ %>
                                  <input type="radio" class="form-check-input" name="userKeys[sex]" value="Female" checked>Female
                                <% } else{ %>
                                  <input type="radio" class="form-check-input" name="userKeys[sex]" value="Female">Female
                                <% } %>
                              </label>
                            </div>
                          </div>
                          <div class="d-flex flex-row-reverse fullwidth mt-2">
                            <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                          </div>
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="info1">
                  Joined on: <span class="info30"><%= moment(user.createdAt).format('ll') %></span>
                  <br>
                  <% if(!match){ %>
                    <% if(user.lastActive >= (new Date() - 60*1000)){ %>
                      <span>
                        <svg height="16" width="16">
                          <circle cx="8" cy="7" r="5" stroke="#60b769" stroke-width="1" fill="#9feca6"/>
                        </svg>
                      </span>
                      <span class="greencolor">Online</span>
                    <% } else{ %>
                      Last active: <span class="info30 nothing"><%= moment(user.lastActive).fromNow() %></span>
                    <% } %>
                  <br>
                  <br>
                    <% if(mutualClubs.length != 0){ %>
                      <div class="info1">Mutual clubs: <div class="info30">
                        <% var len = mutualClubs.length; for(var i=len-1;i>=0;i--){ %>
                        <% if(i==0 && i==len-1){ %>
                          <span class="nothing"><a href="/clubs/<%= mutualClubs[i]._id %>"><%= mutualClubs[i].name %></a></span>
                          <% } else if(i==len-1){ %>
                          <span class="nothing"><a href="/clubs/<%= mutualClubs[i]._id %>"><%= mutualClubs[i].name %></a>,</span>
                          <% } else if(i>0 && i<len){ %>
                          <span class="nothing"><a href="/clubs/<%= mutualClubs[i]._id %>"><%= ' '+mutualClubs[i].name %></a>,</span>
                          <% } else if(i==0){ %>
                          <span class="nothing"><a href="/clubs/<%= mutualClubs[i]._id %>"><%= ' '+mutualClubs[i].name %></a></span>
                        <% }} %>
                      </div></div>
                    <% } %>
                  <% } %>
                  <% if(match){ %>
                    <br>
                    <div class="info1">Following: <div class="info30">
                      <div id="show-following-server" class="nothing">(<%= currentUser.followingClubCount %>) <a href="#">Show ++</a></div>
                      <div id="show-following-client" class="nothing nodisplay"><a href="#">Show ++</a></div>
                    </div></div>
                  <% } %>
                </div>
              </div>
              <br>
              <div class="d-flex flex-column px-1 mobilepad mt-2">
                <div class="info1">
                  <strong class="info-size">Personal info:</strong>
                  <div class="info30">
                    <% if(currentUser && match){ %>
                      <button id="edit-account-info" onclick="toggle_display('personal_info_form_div');" class="btn btn-sm dropdown-toggle floatright"><i class="fas fa-edit"></i></button>
                    <% } %>
                  </div>
                  <div class="info1">
                    <% if(currentUser && (match || user.userKeys.house)){ %>
                      House: <span class="info30"><a href="/find_people/filter_search?users=&college=&batch=&house=<%= user.userKeys.house %>&branch=&school=&location="><%= user.userKeys.house %></a></span>
                    <% } %>
                    <br>
                    <% if(currentUser && (match || user.userKeys.school)){ %>
                      High School: <span class="info30"><a href="/find_people/filter_search?users=&college=&batch=&house=&branch=&school=<%= user.userKeys.school %>&location="><%= user.userKeys.school %></a></span>
                      <br>
                    <% } %>
                    <% if(currentUser && (match || user.userKeys.hometown)){ %>
                      Home Town: <span class="info30"><a href="/find_people/filter_search?users=&college=&batch=&house=&branch=&school=&location=<%= user.userKeys.hometown %>"><%= user.userKeys.hometown %></a></span>
                      <br>
                    <% } %>
                    <% if(currentUser && (match || user.userKeys.birthdate)){ %>
                      Birthday: <span class="info30"><a href="#">
                        <% if(user.userKeys.birthdate != null){ %><%= moment(user.userKeys.birthdate).format('MMM Do YY'); %><% } %>
                      </a></span>
                    <% } %>
                  </div>
                  <div class="info30">
                    <div id="personal_info_form_div" class="greyback mb-2">
                      <form class="pb-1 px-1" action="/users/<%= user._id %>?_method=PUT" method="POST">
                        <div class="pt-1 px-2">
                          <label for="house" class="sr-only">House</label>
                          <% if(!user.userKeys.house){ %>
                            <input list="house" class="form-control form-control-sm select_dark" name="userKeys[house]" 
                            pattern="Beaskund|Gaurikund|Suraj Tal|Dashir|Nako|Prashar|Suvalsar|Chandrataal" value="" placeholder="House / Hostel">
                          <% } else{ %>
                            <input list="house" class="form-control form-control-sm select_dark" name="userKeys[house]" pattern="Beaskund|Gaurikund|Suraj Tal|Dashir|Nako|Prashar|Suvalsar|Chandrataal" value="<%= user.userKeys.house %>" placeholder="House / Hostel">
                          <% } %>
                          <datalist id="house">
                            <option value="Beaskund">
                            <option value="Gaurikund">
                            <option value="Suraj Tal">
                            <option value="Dashir">
                            <option value="Nako">
                            <option value="Prashar">
                            <option value="Suvalsar">
                            <option value="Chandrataal">
                          </datalist>
                        </div>
                        <div class="px-2">
                          <label for="school" class="sr-only">School</label>
                          <input type="text" id="school" class="form-control form-control-sm" name="userKeys[school]" value="<%= user.userKeys.school %>" placeholder="High School">
                          <label for="hometown" class="sr-only">HomeTown</label>
                          <input type="text" id="hometown" class="form-control form-control-sm" name="userKeys[hometown]" value="<%= user.userKeys.hometown %>" placeholder="Home Town">
                        </div>
                        <div class="input-group mt-1 px-2 date" id="datetimepicker4" data-target-input="nearest">
                          <input id="edit_birthdate" name="userKeys[birthdate]" type="text" class="form-control form-control-sm datetimepicker-input commentbox5 text-sm mobiletext3" data-target="#datetimepicker4" placeholder="birth date (mm/dd/yyyy)" value="<%= moment(user.userKeys.birthdate).format('L'); %>" required>
                          <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                          </div>
                        </div>
                        <div class="d-flex flex-row-reverse fullwidth mt-2">
                          <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <% if(currentUser && (match || isFriend)){ %>
                <div class="d-flex flex-column px-1 mobilepad mt-2">
                  <div class="info1">
                    <strong class="info-size">Interests:</strong> 
                    <div class="info30">
                      <% if(currentUser && match){ %>
                        <button onclick="toggle_display('interests_form_div');" class="btn btn-sm dropdown-toggle floatright nothing d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
                      <% } %>
                      <% recommends_split(user.interests); %>
                      <% if((currentUser && match) || (user.interests && user.interests.length)){ %>
                        <br>
                      <% } %>
                      <div id="interests_form_div" class="greyback">
                        <form class="form-inline d-flex justify-content-between mt-2 px-2" action="/users/<%= user._id %>?_method=PUT" method="POST">
                          <div id="interests_form" class="form-inline d-flex justify-content-between fullwidth">
                            <% var interests = user.interests; var len = interests.length; var i=0;
                            for(i;i<=len;i++){ %>
                              <input type="text" class="form-control form-control-sm info-form" name="interests" placeholder="Interests" value="<%= interests[i] %>">
                            <% } %>
                          </div>
                          <div class="d-flex flex-row-reverse fullwidth mb-1">
                            <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                            <button onclick="recommends_add('interests_form','interests','Interests');" class="btn btn-sm btnxs btn-primary btn-round noshadow ml-auto" type="button"><strong> + </strong></button>
                          </div>
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                      </div>
                      <br>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-column px-1 mobilepad mt-2">
                  <div class="dropctn">
                    <strong class="info-size">Recommends:</strong>
                  </div>
                  <% if(user.recommends.music.length || (currentUser && match)){ %>
                    <div class="info1">
                      Music: 
                      <div class="info30">
                        <% if(currentUser && match){ %>
                          <button onclick="toggle_display('recommends_form1_div');" class="btn btn-sm dropdown-toggle floatright nothing d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
                        <% } %>
                        <% recommends_split(user.recommends.music); %>
                        <br>
                        <div id="recommends_form1_div" class="greyback">
                          <form class="form-inline d-flex justify-content-between mt-2 px-2" action="/users/<%= user._id %>?_method=PUT" method="POST">
                            <div id="recommends_form1" class="form-inline d-flex justify-content-between fullwidth">
                              <% var music = user.recommends.music; var len = music.length; var i=0;
                              for(i;i<=len;i++){ %>
                                <input type="text" class="form-control form-control-sm info-form" name="music" placeholder="Music" value="<%= music[i] %>">
                              <% } %>
                            </div>
                            <div class="d-flex flex-row-reverse fullwidth mb-1">
                              <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                              <button onclick="recommends_add('recommends_form1','music','Music');" class="btn btn-sm btnxs btn-primary btn-round noshadow ml-auto" type="button"><strong> + </strong></button>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          </form>
                        </div>
                        <br>
                      </div>
                    </div>
                  <% } %>
                  <% if(user.recommends.movies.length || (currentUser && match)){ %>
                    <div class="info1">
                      Movies: 
                      <div class="info30">
                        <% if(currentUser && match){ %>
                          <button onclick="toggle_display('recommends_form2_div');" class="btn btn-sm dropdown-toggle floatright nothing d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
                        <% } %>
                        <% recommends_split(user.recommends.movies); %>
                        <br>
                        <div id="recommends_form2_div" class="greyback">
                          <form class="form-inline d-flex justify-content-between mt-2 px-2" action="/users/<%= user._id %>?_method=PUT" method="POST">
                            <div id="recommends_form2" class="form-inline d-flex justify-content-between fullwidth">
                              <% var movies = user.recommends.movies; var len = movies.length; var i=0;
                              for(i;i<=len;i++){ %>
                                <input type="text" class="form-control form-control-sm info-form" name="movies" placeholder="Movies" value="<%= movies[i] %>">
                              <% } %>
                            </div>
                            <div class="d-flex flex-row-reverse fullwidth mb-1">
                              <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                              <button onclick="recommends_add('recommends_form2','movies','Movies');" class="btn btn-sm btnxs btn-primary btn-round noshadow ml-auto" type="button"><strong> + </strong></button>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          </form>
                        </div>
                        <br>
                      </div>
                    </div>
                  <% } %>
                  <% if(user.recommends.tvshows.length || (currentUser && match)){ %>
                    <div class="info1">
                      TV Shows: 
                      <div class="info30">
                        <% if(currentUser && match){ %>
                          <button onclick="toggle_display('recommends_form3_div');" class="btn btn-sm dropdown-toggle floatright nothing d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
                        <% } %>
                        <% recommends_split(user.recommends.tvshows); %>
                        <br>
                        <div id="recommends_form3_div" class="greyback">
                          <form class="form-inline d-flex justify-content-between mt-2 px-2" action="/users/<%= user._id %>?_method=PUT" method="POST">
                            <div id="recommends_form3" class="form-inline d-flex justify-content-between fullwidth">
                              <% var tvshows = user.recommends.tvshows; var len = tvshows.length; var i=0;
                              for(i;i<=len;i++){ %>
                                <input type="text" class="form-control form-control-sm info-form" name="tvshows" placeholder="TV Shows" value="<%= tvshows[i] %>">
                              <% } %>
                            </div>
                            <div class="d-flex flex-row-reverse fullwidth mb-1">
                              <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                              <button onclick="recommends_add('recommends_form3','tvshows','TV Shows');" class="btn btn-sm btnxs btn-primary btn-round noshadow ml-auto" type="button"><strong> + </strong></button>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          </form>
                        </div>
                        <br>
                      </div>
                    </div>
                  <% } %>
                  <% if(user.recommends.places.length || (currentUser && match)){ %>
                    <div class="info1">
                      Places: 
                      <div class="info30">
                        <% if(currentUser && match){ %>
                          <button onclick="toggle_display('recommends_form4_div');" class="btn btn-sm dropdown-toggle floatright nothing d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
                        <% } %>
                        <% recommends_split(user.recommends.places); %>
                        <br>
                        <div id="recommends_form4_div" class="greyback">
                          <form class="form-inline d-flex justify-content-between mt-2 px-2" action="/users/<%= user._id %>?_method=PUT" method="POST">
                            <div id="recommends_form4" class="form-inline d-flex justify-content-between fullwidth">
                              <% var places = user.recommends.places; var len = places.length; var i=0;
                              for(i;i<=len;i++){ %>
                                <input type="text" class="form-control form-control-sm info-form" name="places" placeholder="Places" value="<%= places[i] %>">
                              <% } %>
                            </div>
                            <div class="d-flex flex-row-reverse fullwidth mb-1">
                              <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                              <button onclick="recommends_add('recommends_form4','places','Places');" class="btn btn-sm btnxs btn-primary btn-round noshadow ml-auto" type="button"><strong> + </strong></button>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          </form>
                        </div>
                        <br>
                      </div>
                    </div>
                  <% } %>
                  <% if(user.recommends.books.length || (currentUser && match)){ %>
                    <div class="info1">
                      Books: 
                      <div class="info30">
                        <% if(currentUser && match){ %>
                          <button onclick="toggle_display('recommends_form5_div');" class="btn btn-sm dropdown-toggle floatright nothing d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
                        <% } %>
                        <% recommends_split(user.recommends.books); %>
                        <br>
                        <div id="recommends_form5_div" class="greyback">
                          <form class="form-inline d-flex justify-content-between mt-2 px-2" action="/users/<%= user._id %>?_method=PUT" method="POST">
                            <div id="recommends_form5" class="form-inline d-flex justify-content-between fullwidth">
                              <% var books = user.recommends.books; var len = books.length; var i=0;
                              for(i;i<=len;i++){ %>
                                <input type="text" class="form-control form-control-sm info-form" name="books" placeholder="Books" value="<%= books[i] %>">
                              <% } %>
                            </div>
                            <div class="d-flex flex-row-reverse fullwidth mb-1">
                              <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                              <button onclick="recommends_add('recommends_form5','books','Books');" class="btn btn-sm btnxs btn-primary btn-round noshadow ml-auto" type="button"><strong> + </strong></button>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          </form>
                        </div>
                        <br>
                      </div>
                    </div>
                  <% } %>
                </div>
              <% } else{ %>
                <div class="d-flex flex-column px-1 mobilepad mt-2">
                  <div class="info1">
                    <strong class="info-size">Interests:</strong> 
                    <div class="info30 lightgrey"><i class="fas fa-eye-slash" title="Add as friend to see"></i></div>
                  </div>
                </div>
                <div class="d-flex flex-column px-1 mobilepad mt-2">
                  <div class="info1">
                    <strong class="info-size">Recommends:</strong> 
                    <div class="info30 lightgrey"><i class="fas fa-eye-slash" title="Add as friend to see"></i></div>
                  </div>
                </div>
              <% } %>
            </div>
            <% if(currentUser && match){ %>
              <!-- Hearts Tab -->
              <div class="tab-pane fade greyback" id="hearts" role="tabpanel" aria-labelledby="hearts-tab">
                <div id="delegated-heart-posts">
                  <div id="client-heart-posts" class="topnotch-left topnotch-right nodisplay"></div>
                  <div class="text-center">
                    <button id="load-more-heart-btn" class="btn btn-danger btn-sm mt-2" type="button" value="">
                      <span id="load-more-heart-span"></span>Load
                    </button>
                  </div>
                </div>
              </div>
            <% } else if(currentUser && !match){ %>
              <!-- Chats Tab -->
              <div class="tab-pane fade greyback" id="chats" role="tabpanel" aria-labelledby="chats-tab">
                <div id="pin-chatbox" class="pin-chatbox3 chatbox-user" value="<%= currentUser.firstName %>">
                  <div id="user-convoId" class="user-convoId" value="<%= conversationId %>,<%= recipientId %>,<%= currentUser._id %>">
                    <div id="lastMsgBy" value="">
                      <% include ../users/chats %>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if(currentUser && !match){ %>
    <div class="col-md-4 col-lg-3 px-2 pb-2">
      <div class="valign lb-absolute" style="padding: 0.75rem 0.5rem;">
        <div>
          <% if(currentUser && !match && !isFriend && !sentRequest && !haveRequest){ %>
            <form action="/requests?_method=PUT" method="POST" class="dropdown">
              <button class="gb gb5 gb-bordered hover-fill gb-rounded noborder px-2 text-index" name="friendReq" type="submit" value="<%= user._id %>">
                <i class="fas fa-user-plus"></i> Add Friend
              </button>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
          <% } else if(currentUser && !match && isFriend && !sentRequest && !haveRequest){ %>
            <div class="dropdown">
              <button class="gb gb11 hover-slide hover-fill gb-rounded noborder px-2 text-index" type="button" data-toggle="dropdown">
                <i class="fas fa-check"></i> Friends
              </button>
              <ul class="dropdown-menu dropdown-menu-right dropbox">
                <div class="container drop-shadow1 drop-items text-sm">
                  <li>
                    <button class="dropitems2 py-1 link-button text-sm red" href="#unfriendModal<%= user._id %>" data-toggle="modal">Unfriend</button> 
                  </li>
                  <hr>
                  <li><a class="dropitems2 py-1 text-sm" href="#">Help ?</a></li>
                </div>
              </ul>
            </div>
            <!-- Modal HTML -->
            <div id="unfriendModal<%= user._id %>" class="fixed-padding modal fade">
              <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                  <div class="d-flex">
                    <span class="icon-box">
                      <i class="fas fa-exclamation-triangle text-xxxl"></i>
                    </span>              
                    <span class="my-auto"><h5 class="modal-title">Are you sure?</h5></span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div>
                    <p>Do you really want to unfriend <%= user.firstName %>? This cannot be undone.</p>
                  </div>
                  <div class="my-2">
                    <button type="button" class="btn btn-secondary btn-sm mr-1" data-dismiss="modal">Cancel</button>
                    <form action="/requests?_method=PUT" method="POST" class="delete-form inline">
                      <button name="unFriendReq" type="submit" value="<%= user._id %>" class="btn btn-danger btn-sm ml-1">Unfriend</button>
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <% } else if(currentUser && !match && !isFriend && sentRequest && !haveRequest){ %>
            <form action="/requests?_method=PUT" method="POST" class="dropdown">
              <button class="gb gb5 gb-bordered hover-fill gb-rounded noborder px-2 text-index" name="cancelReq" type="submit" value="<%= user._id %>">
                <i class="fas fa-minus"></i> Request Pending
              </button>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
          <% } else if(currentUser && !match && !isFriend && !sentRequest && haveRequest){ %>
            <form action="/requests?_method=PUT" method="POST" class="dropdown">
              <button class="gb gb5 gb-bordered hover-fill gb-rounded noborder px-2 text-index" name="acceptReq" type="submit" value="<%= user._id %>"><i class="fas fa-user"></i> Accept Request</button>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
          <% } %>
        </div>
        <div class="ml-2">
          <% if(currentUser && !match){ %>
            <% if(wasActiveToday && wasActiveMinuteago){ %>
              <svg id="isUserInRoom" height="12" width="12">
                <circle cx="6" cy="6" r="4" stroke="#60b769" stroke-width="1" fill="#9feca6"/>
              </svg>
            <% } else if(wasActiveToday && !wasActiveMinuteago){ %>
              <svg id="isUserInRoom" height="12" width="12">
                <circle cx="6" cy="6" r="4" stroke="#f9af4a" stroke-width="1" fill="#ffdfaf"/>
              </svg>
            <% } else{ %>
              <svg id="isUserInRoom" height="12" width="12">
                <circle cx="6" cy="6" r="4" stroke="silver" stroke-width="1" fill="#e0e0e0"/>
              </svg>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  <% } else if(currentUser && match){ %>
    <div class="col-md-4 col-lg-3 px-2 pb-2">
      <% include ../partials/latest_updates %>
    </div>
  <% } %>
</div>

<% include ../partials/footer %>

<% function recommends_split(arr){ %>
  <% var len = arr.length; var i=0; for(i;i<len;i++){ %>
  <% if(i==0 && i==len-1){ %>
    <%= arr[i] %>
    <% }else if(i==0){ %>
    <%= arr[i]+',' %>
    <% }else if(i>0 && i<len-1){ %>
    <%= ' '+arr[i]+',' %>
    <% }else if(i=len-1){ %>
    <%= ' '+arr[i] %>
  <% }} %>
<% } %>

<%
  function rankTitle(rank){
    if(rank == 0){return 'President';}
    else if(rank == 1){return 'Admin.';}
    else if(rank == 2){return 'Moderator';}
    else if(rank == 3){return 'Sr. member';}
    else if(rank == 4){return 'Jr. member';}
  }

  function rankTitle2(rank){
    if(rank == 0){return 'Pr';}
    else if(rank == 1){return 'Ad';}
    else if(rank == 2){return 'Mo';}
    else if(rank == 3){return 'Sr';}
    else if(rank == 4){return 'Jr';}
  }

  function privacyText(privacy){
    if(privacy == 0){return 'Public';}
    else if(privacy == 1){return 'College';}
    else if(privacy == 2){return 'Friends';}
    else if(privacy == 3){return 'Club';}
    else if(privacy == 4){return 'Club(friends)';}
    else if(privacy == 5){return 'Private';}
  }
%>
