<% include ../partials/header %>
<script>
	if(window.innerWidth < 768){
		if(location.pathname.split('/')[1] == 'chats'){
			document.getElementById('inbox_mobile_div').classList.add('nodisplay');
			document.getElementById('mobile_toggler_div').classList.remove('nodisplay');
		}
	}
</script>

<div class="row no-gutters">
	<div id="chats-list" class="col-lg-4 col-md-4 col-12 chatlist-box scroll moz-scroll">
		<div class="greyback valign">
			<div>
				<h3 id="chats-notificationCount" class="chatpad mt-3" value="<%= notificationCount %>">Chats</h3>
			</div>
			<div class="p-2 desktopNone chat-discover" style="margin-bottom: -1.125rem;"><a class="lightgrey2" href="/discover"><i class="far fa-compass"></i></a></div>
		</div>
		<div class="d-flex flex-row">
			<div class="my-2">
				<a href="/chats">
					<img class="chats_chevron flipped" src="<%= '/images/double-chevron.svg' %>" title="Designed by [Pixel perfect] from @flaticon">
				</a>
			</div>
		</div>
		<div class="card mt-0 border-light d-flex flex-row">
			<div class="greyback">
				<% if(chatList.length){ %>
					<% for(var i=0;i<chatList.length;i++){ %>
						<form class="chat-form" action="/chats/open" method="GET">
							<% if((chatList[i].type == 'user' && chatList[i].id.toString() == recipientId2) || (chatList[i].type == 'club' && chatList[i].id.toString() == convClubId2)){ %>
								<div id="<%= chatList[i]._id %>^<%= chatList[i].name %>^<%= chatList[i].id %>" class="px-2 chat-item2 active" value="<%= chatList[i].type %>">
							<% } else{ %>
								<div id="<%= chatList[i]._id %>^<%= chatList[i].name %>^<%= chatList[i].id %>" class="px-2 chat-item2" value="<%= chatList[i].type %>">
							<% } %>
								<div>
									<div class="py-2 my-1 px-1">
										<% if(chatList[i].type == 'user'){ %>
											<% if(chatList[i].id.toString() == recipientId2){ %>
												<a href="#">
													<% if(chatList[i].userKeys.sex == 'Male'){ %>
														<img class="collegedp chatsdp mr-0 active" src="<%= chatList[i].image || '/images/noUserMale.png' %>">
													<% } else if(chatList[i].userKeys.sex == 'Female'){ %>
														<img class="collegedp chatsdp mr-0 active" src="<%= chatList[i].image || '/images/noUserFemale.png' %>">
													<% } %>
												</a>
											<% } else{ %>
												<a href="#">
													<% if(chatList[i].userKeys.sex == 'Male'){ %>
														<img class="collegedp chatsdp mr-0 rounded-circle" src="<%= chatList[i].image || '/images/noUserMale.png' %>">
													<% } else if(chatList[i].userKeys.sex == 'Female'){ %>
														<img class="collegedp chatsdp mr-0 rounded-circle" src="<%= chatList[i].image || '/images/noUserFemale.png' %>">
													<% } %>
												</a>
											<% } %>
										<% } else if(chatList[i].type == 'club'){ %>
											<% if(chatList[i].id.toString() == convClubId2){ %>
												<a href="#"><img class="collegedp chatsdp mr-0 active" src="<%= chatList[i].image || '/images/noClub.png' %>"></a>
											<% } else{ %>
												<a href="#"><img class="collegedp chatsdp mr-0 rounded-circle" src="<%= chatList[i].image || '/images/noClub.png' %>"></a>
											<% } %>
										<% } %>
									</div>
								</div>
							</div>
							<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						</form>
					<% } %>
				<% } else{ %>
					<div class="d-flex mx-auto my-2 text-xs lightgrey">Nothing here</div>
				<% } %>
			</div>
			<div></div>
		</div>
	</div>
	<div class="col-lg-8 col-md-8 col-12">
		<div>
			<img class="chats-img mobileNone" src="<%= '/images/chat.svg' || 'https://res.cloudinary.com/dubirhea4/image/upload/v1602840522/icons/chat.svg' %>" title="Designed by [Freepik] from @flaticon">
			<% if(chatType == 'user'){ %>
				<div id="pin-chatbox" class="chatbox-user pin-chatbox2 col-md-8 col-lg-6 col-12" value="<%= currentUser.firstName %>">
		      <div id="user-convoId" class="user-convoId" value="<%= conversationId %>,<%= recipientId %>,<%= currentUserId %>">
						<div id="lastMsgBy" value="">
							<% include ../chats/userchat %>
						</div>
		      </div>
		    </div>
			<% } else if(chatType == 'club'){ %>
				<div id="pin-chatbox" class="chatbox-club pin-chatbox2 col-md-8 col-lg-6 col-12" value="<%= currentUser.firstName %>">
		      <div id="club-convoId" class="club-convoId" value="<%= conversationId %>^<%= convClubId %>^<%= currentUserId %>^<%= currentUser.fullName %>^<%= currentUser.profilePic50 %>">
						<div id="lastMsgBy" value="">
							<% include ../chats/clubchat %>
						</div>
		      </div>
				</div>
			<% } %>
		</div>
	</div>
</div>

<% include ../partials/footer %>