<% include ../partials/header %>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<script>
	if(window.innerWidth < 768){
		if(location.pathname.split('/')[1] == 'chats'){
			document.getElementById('inbox_mobile_div').classList.add('nodisplay');
			document.getElementById('mobile_toggler_div').classList.remove('nodisplay');
		}
	}
</script>
<script src="/js/libs/hammer.min.js"></script>


<div class="row no-gutters">
	<div id="chats-list" class="col-lg-4 col-md-4 col-12 scroll_list_container scroll moz-scroll">
		<div class="greyback valign">
			<div>
				<h3 class="chatpad mt-3">Chats</h3>
			</div>
			<div class="p-2 desktopNone chat-discover" style="margin-bottom: -1.125rem;"><a class="lightgrey2" href="/discover"><i class="far fa-compass"></i></a></div>
		</div>
		<div class="d-flex flex-row">
			<div class="mb-2">
				<a id="chatlist-chevron" href="/chats/feed">
					<img class="chats_chevronimg flipped" src="<%= '/images/double-chevron.svg' || 'https://res.cloudinary.com/dubirhea4/image/upload/v1621172289/icons/double-chevron.svg' %>" title="Designed by [Pixel perfect] from @flaticon">
				</a>
			</div>
		</div>
		<div class="card mt-0 border-light d-flex flex-row" style="min-height: 100%;">
			<div class="greyback" style="border-radius: 0 0.5rem 0.5rem 0;">
				<% if(clubs.length){ %>
					<% for(var i=0;i<clubs.length;i++){ %>
						<% if(clubs[i].id.toString() == openedClub.id){ %>
							<div class="px-2 chatlist-club active">
						<% } else{ %>
							<div class="px-2 chatlist-club">
						<% } %>
							<div>
								<div style="padding: 0.75rem 0.25rem;">
									<% if(clubs[i].id.toString() == openedClub.id){ %>
										<a href="/chats/club_rooms/<%= clubs[i].id %>"><img class="collegedp chatsdp mr-0 active" src="<%= Clubs_50_clubAvatar[i] || '/images/noClub.png' %>"></a>
									<% } else{ %>
										<a href="/chats/club_rooms/<%= clubs[i].id %>"><img class="collegedp chatsdp mr-0 rounded-circle" src="<%= Clubs_50_clubAvatar[i] || '/images/noClub.png' %>"></a>
									<% } %>
								</div>
							</div>
						</div>
					<% } %>
				<% } else{ %>
					<div class="d-flex mx-auto my-2 text-xs lightgrey">Nothing here</div>
				<% } %>
			</div>
			<div class="fullwidth" style="margin-left: 2.5rem;">
				<div class="my-4 mx-2 py-1 text-sm boldtext grey">
					<a class="darkgrey" href="/clubs/<%= openedClub.id %>"><%= openedClub.name %></a>
				</div>
				<div>
					<form class="chat-form" action="/chats/club_rooms/<%= openedClub.id %>/open" method="GET">
						<% if(chatHeadName != null && openedRoomConvId == openedClub.conversationId){ %>
							<div id="<%= openedClub.conversationId %>^<%= openedClub.name %>^<%= openedClub.id %>^Common" class="d-flex flex-row chatlist-item active chatlist-room" value="club">
						<% } else{ %>
							<div id="<%= openedClub.conversationId %>^<%= openedClub.name %>^<%= openedClub.id %>^Common" class="d-flex flex-row chatlist-item chatlist-room" value="club">
						<% } %>
							<div class="py-2 m-2"><i class="fas fa-user-friends text-sm mr-2"></i>Common</div>
						</div>
						<% if(openedClub.chatRoomsCount > 1){ %>
							<% for(var i=0;i<openedClub.chatRoomsCount-1;i++){ %>
								<div class="valign">
									<% if(openedClub.chatRooms[i].conversationId.allParticipantIds.includes(currentUser._id)){ %>
										<% if(openedRoomConvId == openedClub.chatRooms[i].conversationId._id){ %>
											<div id="<%= openedClub.chatRooms[i].conversationId._id %>^<%= openedClub.name %>^<%= openedClub.id %>^<%= openedClub.chatRooms[i].name %>" class="d-flex flex-row chatlist-item active chatlist-room" value="club">
										<% } else{ %>
											<div id="<%= openedClub.chatRooms[i].conversationId._id %>^<%= openedClub.name %>^<%= openedClub.id %>^<%= openedClub.chatRooms[i].name %>" class="d-flex flex-row chatlist-item chatlist-room" value="club">
										<% } %>
											<div class="pointer py-2 m-2"><i class="fas fa-hashtag text-sm mr-2"></i><%= openedClub.chatRooms[i].name %></div>
										</div>
										<div class="lightgrey2 mx-2" title="Not shown on feed"><i class="far fa-eye-slash"></i></div>
									<% } else { %>
										<div id="not_in_room" class="d-flex flex-row">
											<div class="py-2 m-2"><i class="fas fa-hashtag mr-2"></i><%= openedClub.chatRooms[i].name %></div>
										</div>
									<% } %>
								</div>
							<% } %>
						<% } %>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-8 col-md-8 col-12">
		<div>
			<% if(currentUser.darkTheme == false){ %>
				<img class="chats-img mobileNone" src="<%= '/images/chat.svg' || 'https://res.cloudinary.com/dubirhea4/image/upload/v1621172316/icons/chat.svg' %>" title="Designed by [Freepik] from @flaticon">
			<% } else{ %>
				<img class="chats-img mobileNone" src="<%= '/images/chat-dark.svg' || 'https://res.cloudinary.com/dubirhea4/image/upload/v1621173958/icons/chat-dark.svg' %>" title="Designed by [Freepik] from @flaticon">
			<% } %>
			<div id="chatbox-loadingarea" class="chatbox-club chatbox-loadingarea2 col-md-8 col-lg-6 col-12" value="<%= currentUser.firstName %>">
				<div id="club-convoId" class="club-convoId" value="<%= openedRoomConvId %>^<%= convClubId %>^<%= currentUserId %>^<%= currentUser.fullName %>^<%= CU_50_profilePic %>">
					<div id="lastMsgBy" value="">
						<% if(chatHeadName != null){ %>
							<% include ../chats/clubchat %>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>