<% include ../partials/header %>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<script>
	if(window.innerWidth < 768){
		if(location.pathname.split('/')[1] == 'chats'){
			document.getElementById('inbox_mobile_div').classList.add('nodisplay');
			document.getElementById('mobile_toggler_div').classList.remove('nodisplay');
		}
	}
</script>
<script src="/js/libs/hammer.min.js"></script>

<div class="row no-gutters">
	<div id="chats-list" class="col-lg-4 col-md-4 col-12 scroll_list_container scroll moz-scroll">
		<div class="greyback valign">
			<div>
				<h3 id="chats-notificationCount" class="chatpad mt-4 pt-1" value="<%= notificationCount %>">Chats</h3>
			</div>
			<div class="p-2 mt-2 desktopNone chat-discover" style="margin-bottom: -1.125rem;"><a class="lightgrey2" href="/discover"><i class="far fa-compass"></i></a></div>
		</div>
		<div class="d-flex flex-row">
			<div class="mb-2">
        <a id="chatlist-chevron" href="/chats/club_rooms/<%= lastOpenedChatListClub %>" class="pr-5 pointer">
				  <img class="chats_chevronimg" src="<%= '/images/double-chevron.svg' || 'https://res.cloudinary.com/dubirhea4/image/upload/v1621172289/icons/double-chevron.svg' %>" title="Designed by [Pixel perfect] from @flaticon">
        </a>
			</div>
		</div>
		<div class="card mt-0 chatlist-background border-light">
			<% if(chatList.length){ %>
				<% for(var i=0;i<chatList.length;i++){ %>
					<form class="chat-form" action="/chats/feed/open" method="GET">
						<% if((chatList[i].type == 'user' && chatList[i].id.toString() == recipientId2) || (chatList[i].type == 'club' && chatList[i].id.toString() == convClubId2)){ %>
							<div id="<%= chatList[i]._id %>^<%= chatList[i].name %>^<%= chatList[i].id %>^" class="d-flex flex-row px-2 chatlist-item active" value="<%= chatList[i].type %>">
						<% } else{ %>
							<div id="<%= chatList[i]._id %>^<%= chatList[i].name %>^<%= chatList[i].id %>^" class="d-flex flex-row px-2 chatlist-item" value="<%= chatList[i].type %>">
						<% } %>
							<div>
								<div class="py-2 my-1 px-1">
									<% if(chatList[i].type == 'user'){ %>
										<% if(chatList[i].id.toString() == recipientId2){ %>
											<a href="/users/<%= chatList[i].id %>">
												<% if(chatList[i].userKeys.sex == 'Male'){ %>
													<img class="collegedp chatsdp active" src="<%= chatList[i].image || '/images/noUserMale.png' %>">
												<% } else if(chatList[i].userKeys.sex == 'Female'){ %>
													<img class="collegedp chatsdp active" src="<%= chatList[i].image || '/images/noUserFemale.png' %>">
												<% } %>
											</a>
										<% } else{ %>
											<a href="/users/<%= chatList[i].id %>">
												<% if(chatList[i].userKeys.sex == 'Male'){ %>
													<img class="collegedp chatsdp rounded-circle" src="<%= chatList[i].image || '/images/noUserMale.png' %>">
												<% } else if(chatList[i].userKeys.sex == 'Female'){ %>
													<img class="collegedp chatsdp rounded-circle" src="<%= chatList[i].image || '/images/noUserFemale.png' %>">
												<% } %>
											</a>
										<% } %>
									<% } else if(chatList[i].type == 'club'){ %>
										<% if(chatList[i].id.toString() == convClubId2){ %>
											<a href="/clubs/<%= chatList[i].id %>"><img class="collegedp chatsdp active" src="<%= chatList[i].image || '/images/noClub.png' %>"></a>
										<% } else{ %>
											<a href="/clubs/<%= chatList[i].id %>"><img class="collegedp chatsdp rounded-circle" src="<%= chatList[i].image || '/images/noClub.png' %>"></a>
										<% } %>
									<% } %>
								</div>
							</div>
							<div class="d-flex chatlist-content fullwidth">
								<div class="my-auto ml-2 mr-1 fullwidth">
									<div class="d-flex flex-column lineheight">
										<div class="valign">
											<div class="grey boldtext chatname">
												<% if(chatList[i].type == 'user'){ %>
													<span><%= chatList[i].name %></span>
												<% } else if(chatList[i].type == 'club'){ %>
													<span class="text-xs mr-1"><i class="fas fa-user-friends"></i></span><span><%= chatList[i].name %></span>
												<% } %>
											</div>
											<div>
												<% if(chatList[i].lastMsgOn && chatList[i].lastMsgOn != ''){ %>
													<% if((Date.now() - chatList[i].lastMsgOn) < 3600000*24){ %>
														<em id="timeLocal<%= chatList[i]._id %>" class="timeLocal1 text-xxs lightgrey nowrap"></em>
														<em id="timeUTC<%= chatList[i]._id %>" class="timeUTC_Chats timeUTC1 text-xxs lightgrey nowrap invisible"><%= moment(chatList[i].lastMsgOn).format('YYYY-MM-DD HH:mm:ss') %></em>
													<% } else if((Date.now() - chatList[i].lastMsgOn) < 3600000*24*3){ %>
														<em id="timeLocal<%= chatList[i]._id %>" class="timeLocal3 text-xxs lightgrey nowrap"></em>
														<em id="timeUTC<%= chatList[i]._id %>" class="timeUTC_Chats timeUTC3 text-xxs lightgrey nowrap invisible"><%= moment(chatList[i].lastMsgOn).format('YYYY-MM-DD HH:mm:ss') %></em>
													<% } else if((Date.now() - chatList[i].lastMsgOn) < 3600000*24*7){ %>
														<em id="timeLocal<%= chatList[i]._id %>" class="timeLocal7 text-xxs lightgrey nowrap"></em>
														<em id="timeUTC<%= chatList[i]._id %>" class="timeUTC_Chats timeUTC7 text-xxs lightgrey nowrap invisible"><%= moment(chatList[i].lastMsgOn).format('YYYY-MM-DD HH:mm:ss') %></em>
													<% } else{ %>
														<em id="timeLocal<%= chatList[i]._id %>" class="timeLocal365 text-xxs lightgrey nowrap"></em>
														<em id="timeUTC<%= chatList[i]._id %>" class="timeUTC_Chats timeUTC365 text-xxs lightgrey nowrap invisible"><%= moment(chatList[i].lastMsgOn).format('YYYY-MM-DD HH:mm:ss') %></em>
													<% } %>
												<% } %>
											</div>
										</div>
										<div class="valign">
											<div class="my-auto lightgrey lastmsg truncate1">
												<% if(chatList[i].lastMsgBy && chatList[i].lastMsgBy.toString() == currentUser._id){ %>
													<span class="bluecolor boldtext">></span>
												<% } %>
												<%= chatList[i].lastMessage %>
											</div>
											<div>
												<% if(chatList[i].messageCount-chatList[i].seenMsgCursor > 0){ %>
													<span class="badge badge-success badge-round2"><%= chatList[i].messageCount-chatList[i].seenMsgCursor %></span>
												<% } else{ %>
													<span class="badge badge-success badge-round2 nodisplay">0</span>
												<% } %>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					</form>
				<% } %>
			<% } else{ %>
				<div class="d-flex mx-auto my-2 text-xs lightgrey">Nothing here</div>
			<% } %>
		</div>
	</div>
	<div class="col-lg-8 col-md-8 col-12">
		<div>
			<% if(currentUser.darkTheme == false){ %>
				<img class="chats-img mobileNone" src="<%= '/images/chat-light.svg' || 'https://res.cloudinary.com/dubirhea4/image/upload/v1621172316/icons/chat.svg' %>" title="Designed by [Freepik] from @flaticon">
			<% } else{ %>
				<img class="chats-img mobileNone" src="<%= '/images/chat-dark.svg' || 'https://res.cloudinary.com/dubirhea4/image/upload/v1621173958/icons/chat-dark.svg' %>" title="Designed by [Freepik] from @flaticon">
			<% } %>
			<% if(chatType == 'user'){ %>
				<div id="chatbox-loadingarea" class="chatbox-user chatbox-loadingarea2 col-md-8 col-lg-6 col-12" value="<%= currentUser.firstName %>">
		      <div id="user-convoId" class="user-convoId" value="<%= conversationId %>,<%= recipientId %>,<%= currentUserId %>">
						<div id="lastMsgBy" value="">
							<% include ../chats/userchat %>
						</div>
		      </div>
		    </div>
			<% } else if(chatType == 'club'){ %>
				<div id="chatbox-loadingarea" class="chatbox-club chatbox-loadingarea2 col-md-8 col-lg-6 col-12" value="<%= currentUser.firstName %>">
		      <div id="club-convoId" class="club-convoId" value="<%= conversationId %>^<%= convClubId %>^<%= currentUserId %>^<%= currentUser.fullName %>^<%= currentUser.profilePic50 %>">
						<div id="lastMsgBy" value="">
							<% include ../chats/clubchat %>
						</div>
		      </div>
				</div>
			<% } %>
		</div>
	</div>
</div>

<% include ../partials/footer %>