<% include ../partials/header %>

<div class="row no-gutters">
	<div class="col-lg-4 card chatlist-box scroll moz-scroll">
		<% for(var i=0;i<chatList.length;i++){ %>
			<form class="row no-gutters chat-form" action="/chats?_method=PUT" method="POST">
				<% if((chatList[i].type == 'user' && chatList[i].id.toString() == recipientId) || (chatList[i].type == 'club' && chatList[i].id.toString() == convClubId)){ %>
					<div id="chat-item<%= chatList[i]._id %>" class="d-flex flex-row px-2 chat-item active" value="<%= chatList[i].type %>">
				<% } else{ %>
					<div id="chat-item<%= chatList[i]._id %>" class="d-flex flex-row px-2 chat-item" value="<%= chatList[i].type %>">
				<% } %>
					<div>
						<div class="py-3 px-1 mb-auto">
							<% if(chatList[i].type == 'user'){ %>
				      	<img class="orgdp rounded-circle" src="<%= chatList[i].image || '/images/noUser.png' %>">
				      <% } else if(chatList[i].type == 'club'){ %>
				      	<img class="orgdp rounded-circle" src="<%= chatList[i].image || '/images/noClub.png' %>">
				     	<% } %>
				    </div>
					</div>
					<div class="d-flex justify-content-between fullwidth">
						<div class="my-auto mx-2">
				    	<div class="d-flex flex-column lineheight">
					      <div class="grey text-sm mobiletext2">
					      	<% if(chatList[i].type == 'user'){ %>
					          <strong><%= chatList[i].name %></strong>
					        <% } else if(chatList[i].type == 'club'){ %>
					          <strong><%= chatList[i].name %></strong>
					       	<% } %>
					      </div>
					      <div class="my-auto lightgrey mobiletext2 truncate1">
					        <%= chatList[i].latestMessage %>
					      </div>
					    </div>
					  </div>
					  <div class="my-auto pb-1 lineheight">
							<div class="d-flex flex-column">
								<div>
									<% if(chatList[i].lastMsgOn && chatList[i].lastMsgOn != ''){ %>
										<em class="text-xxs lightgrey"><%= moment(chatList[i].lastMsgOn).fromNow().slice(0, -4) %></em>
									<% } %>
								</div>
								<div>
									<% if(chatList[i].messageCount-chatList[i].seenMsgCursor > 0){ %>
										<span class="badge badge-success float-right"><%= chatList[i].messageCount-chatList[i].seenMsgCursor %></span>
									<% } else{ %>
										<span class="badge badge-success float-right invisible">0</span>
									<% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		<% } %>
	</div>
	<div class="col-lg-8">
		<div>
			<% if(chatType == 'user'){ %>
				<div id="pin-chatbox" class="chatbox-user pin-chatbox2 col-md-4 col-lg-3 col-12" value="<%= currentUser.firstName %>">
		      <div id="user-convoId" class="user-convoId" value="<%= conversationId %>,<%= recipientId %>,<%= currentUserId %>">
		        <% include ../chats/userchat %>
		      </div>
		    </div>
			<% } else if(chatType == 'club'){ %>
				<div id="pin-chatbox" class="chatbox-club pin-chatbox2 col-md-4 col-lg-3 col-12" value="<%= currentUser.firstName %>">
		      <div id="club-convoId" class="club-convoId" value="<%= conversationId %>,<%= convClubId %>,<%= currentUserId %>">
		        <% include ../chats/clubchat %>
		      </div>
		    </div>
			<% } %>
		</div>
	</div>
</div>

<% include ../partials/footer %>