<% include ../partials/header %>
<script>
	if(window.innerWidth < 768){
		if(location.pathname == '/chats'){
			document.getElementById('inbox_mobile_div').classList.add('nodisplay');
			document.getElementById('mobile_toggler_div').classList.remove('nodisplay');
		}
	}
</script>

<div class="row no-gutters">
	<div class="col-lg-4 col-md-4 col-12 chatlist-box scroll moz-scroll">
		<div class="greyback valign">
			<div><h3 class="chatpad mt-3">Chats</h3></div>
			<div class="mr-2 mt-2 desktopNone"><a class="lightgrey2" href="/discover"><i class="far fa-compass"></i></a></div>
		</div>
		<div class="card mt-0 chatlist-margin" style="min-height: 100%;">
			<% for(var i=0;i<chatList.length;i++){ %>
				<form class="row no-gutters chat-form" action="/chats?_method=PUT" method="POST">
					<% if((chatList[i].type == 'user' && chatList[i].id.toString() == recipientId2) || (chatList[i].type == 'club' && chatList[i].id.toString() == convClubId2)){ %>
						<div id="<%= chatList[i]._id %>^chat-item^<%= chatList[i].id %>" class="d-flex flex-row px-2 chat-item active" value="<%= chatList[i].type %>">
					<% } else{ %>
						<div id="<%= chatList[i]._id %>^chat-item^<%= chatList[i].id %>" class="d-flex flex-row px-2 chat-item" value="<%= chatList[i].type %>">
					<% } %>
						<div>
							<div class="py-2 my-1 px-1">
								<% if(chatList[i].type == 'user'){ %>
									<% if(chatList[i].id.toString() == recipientId2){ %>
										<a href="/users/<%= chatList[i].id %>"><img class="collegedp chatsdp" style="border-radius: 1rem;" src="<%= chatList[i].image || '/images/noUser.png' %>"></a>
									<% } else{ %>
										<a href="/users/<%= chatList[i].id %>"><img class="collegedp chatsdp rounded-circle" src="<%= chatList[i].image || '/images/noUser.png' %>"></a>
									<% } %>
								<% } else if(chatList[i].type == 'club'){ %>
									<% if(chatList[i].id.toString() == convClubId2){ %>
										<a href="/clubs/<%= chatList[i].id %>"><img class="collegedp chatsdp" style="border-radius: 1rem;" src="<%= chatList[i].image || '/images/noClub.png' %>"></a>
									<% } else{ %>
										<a href="/clubs/<%= chatList[i].id %>"><img class="collegedp chatsdp rounded-circle" src="<%= chatList[i].image || '/images/noClub.png' %>"></a>
									<% } %>
					     	<% } %>
					    </div>
						</div>
						<div class="d-flex justify-content-between fullwidth chatlist-content">
							<div class="my-auto mx-2">
					    	<div class="d-flex flex-column lineheight">
						      <div class="grey boldtext">
						      	<% if(chatList[i].type == 'user'){ %>
						          <span><%= chatList[i].name %></span>
						        <% } else if(chatList[i].type == 'club'){ %>
						          <span><%= chatList[i].name %></span>
						       	<% } %>
						      </div>
						      <div class="my-auto lightgrey mobiletext2 truncate1">
						      	<% if(chatList[i].lastMsgBy && chatList[i].lastMsgBy.toString() == currentUser._id){ %>
						      		<span class="bluecolor boldtext">></span>
						      	<% } %>
						        <%= chatList[i].latestMessage %>
						      </div>
						    </div>
						  </div>
						  <div class="my-auto pb-1 lineheight quarterwidth">
								<div class="d-flex flex-column">
									<div>
										<% if(chatList[i].lastMsgOn && chatList[i].lastMsgOn != ''){ %>
											<% if((Date.now() - chatList[i].lastMsgOn) < 3600000*24){ %>
												<em id="timeLocal<%= chatList[i]._id %>" class="timeLocal1 text-xxs lightgrey nowrap float-right"></em>
												<em id="timeUTC<%= chatList[i]._id %>" class="timeUTC1 text-xxs lightgrey nowrap float-right invisible"><%= moment(chatList[i].lastMsgOn).format('YYYY-MM-DD HH:mm:ss') %></em>
											<% } else if((Date.now() - chatList[i].lastMsgOn) < 3600000*24*3){ %>
												<em id="timeLocal<%= chatList[i]._id %>" class="timeLocal3 text-xxs lightgrey nowrap float-right"></em>
												<em id="timeUTC<%= chatList[i]._id %>" class="timeUTC3 text-xxs lightgrey nowrap float-right invisible"><%= moment(chatList[i].lastMsgOn).format('YYYY-MM-DD HH:mm:ss') %></em>
											<% } else if((Date.now() - chatList[i].lastMsgOn) < 3600000*24*7){ %>
												<em id="timeLocal<%= chatList[i]._id %>" class="timeLocal7 text-xxs lightgrey nowrap float-right"></em>
												<em id="timeUTC<%= chatList[i]._id %>" class="timeUTC7 text-xxs lightgrey nowrap float-right invisible"><%= moment(chatList[i].lastMsgOn).format('YYYY-MM-DD HH:mm:ss') %></em>
											<% } else{ %>
												<em id="timeLocal<%= chatList[i]._id %>" class="timeLocal365 text-xxs lightgrey nowrap float-right"></em>
												<em id="timeUTC<%= chatList[i]._id %>" class="timeUTC365 text-xxs lightgrey nowrap float-right invisible"><%= moment(chatList[i].lastMsgOn).format('YYYY-MM-DD HH:mm:ss') %></em>
											<% } %>
										<% } %>
									</div>
									<div>
										<% if(chatList[i].messageCount-chatList[i].seenMsgCursor > 0){ %>
											<span class="badge badge-success badge-round float-right"><%= chatList[i].messageCount-chatList[i].seenMsgCursor %></span>
										<% } else{ %>
											<span class="badge badge-success badge-round float-right invisible">0</span>
										<% } %>
									</div>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				</form>
			<% } %>
		</div>
	</div>
	<div class="col-lg-8 col-md-8 col-12">
		<div>
			<img class="chats-img mobileNone" src="<%= 'https://res.cloudinary.com/dubirhea4/image/upload/v1602840522/icons/chat.svg' %>" title="Designed by [Freepik] from @flaticon">
			<% if(chatType == 'user'){ %>
				<div id="pin-chatbox" class="chatbox-user pin-chatbox2 col-md-8 col-lg-6 col-12" value="<%= currentUser.firstName %>">
		      <div id="user-convoId" class="user-convoId" value="<%= conversationId %>,<%= recipientId %>,<%= currentUserId %>">
						<div id="lastMsgBy" value="">
							<% include ../chats/userchat %>
						</div>
		      </div>
		    </div>
			<% } else if(chatType == 'club'){ %>
				<div id="pin-chatbox" class="chatbox-club pin-chatbox2 col-md-8 col-lg-6 col-12" value="<%= currentUser.firstName %>">
		      <div id="club-convoId" class="club-convoId" value="<%= conversationId %>^<%= convClubId %>^<%= currentUserId %>^<%= currentUser.fullName %>^<%= currentUser.profilePic50 %>">
						<div id="lastMsgBy" value="">
							<% include ../chats/clubchat %>
						</div>
		      </div>
				</div>
			<% } %>
		</div>
	</div>
</div>

<% include ../partials/footer %>