<% include ../partials/header %>
<style>
  @media screen and (min-width: 1200px){
    .onecolumn{
      margin-right: 3rem;
    }
    .modal-dialog{
      max-width: 750px !important;
    }
  }
  @media screen and (min-width: 1601px){
    .onecolumn{
      margin-right: 5rem;
    }
  }
</style>
<% if(currentUser && currentUser.discoverSwitch == 1){ %>
  <link rel="stylesheet" href="/zuck.js-master/dist/zuck.min.css">
  <link rel="stylesheet" href="/zuck.js-master/dist/skins/facesnap.min.css">
  <link rel="stylesheet" href="/css/stories.css">
<% } %>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<script src="/js/libs/hammer.min.js"></script>


<% if(currentUser && !currentUser.settings.twoColumnView){ %>
  <div id="discover_content_masonry_pad">
<% } else { %>
  <div>
<% } %>
  <div class="row no-gutters">
    <div class="col-lg-2 col-md-1 px-2 mobileNone mt-5"></div>
    <div class="col-lg-7 col-md-10 story-alt-container mt-3 pt-1">
      <% if(currentUser && currentUser.discoverSwitch == 1){ %>
        <div id="stories" class="storiesWrapper"></div>
      <% } else if(!currentUser || currentUser.discoverSwitch == 2){ %>
        <div class="d-flex flex-row my-1 px-2">
          <div class="d-flex flex-column my-auto">
            <div class="lightgrey mb-2">Show category: <em class="lightgrey2 px-2">All</em></div>
            <div class="d-none" style="line-height: 0;"><i class="fa fa-search lightgrey2" style="-webkit-text-stroke: 0.5px #e0e0e0;"></i></div>
          </div>
          <div class="d-flex flex-column invisible">
            <div class="story-alt"></div>
            <div class="story-alt-label fake lightgrey2 mb-1">Text</div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-lg-2 col-md-1 px-2 mobileNone mt-5" style="padding-top: 0.8rem;"></div>
    <div id="delegated-posts-discover" class="col-lg-7 col-md-10">
      <div id="chats-list">
        <div class="my-4 valign">
          <div class="desktopNoneFlex flex-row">
            <% if(currentUser){ %>
              <div class="dropdown">
                <% if(currentUser.sortByKey == 1){ %>
                  <div class="sortByKey text-sm mx-2 btn shadow-none dropdown-toggle" type="button" data-toggle="dropdown" data-display="static"><i class="fas fa-fire"></i> HOT<i class="fas fa-angle-down ml-2 sortByKey-caret"></i></div>
                <% } %>
                <% if(currentUser.sortByKey == 2){ %>
                  <div class="sortByKey text-sm mx-2 btn shadow-none dropdown-toggle" type="button" data-toggle="dropdown" data-display="static"><i class="fas fa-stopwatch"></i> NEW<i class="fas fa-angle-down ml-2 sortByKey-caret"></i></div>
                <% } %>
                <% if(currentUser.sortByKey == 3){ %>
                  <div class="sortByKey text-sm mx-2 btn shadow-none dropdown-toggle" type="button" data-toggle="dropdown" data-display="static"><i class="fas fa-award"></i> TOP<i class="fas fa-angle-down ml-2 sortByKey-caret"></i></div>
                <% } %>
                <ul class="dropdown-menu dropbox dropbox-mobile">
                  <div class="container drop-shadow1">
                    <div class="px-2">
                      <div class="p-2 text-xxxs boldtext lightgrey">
                        SORT POSTS BY
                      </div>
                      <hr class="mx-2 hr-light">
                      <div class="px-2 pitchblack">
                        <form action="/discover/settings/user/<%= currentUserId %>?_method=PUT" method="POST">
                          <% if(currentUser.sortByKey == 1){ %>
                            <li class="valign">
                              <div class="my-1 py-2 active"><i class="fas fa-fire redcolor mr-3" style="width: 0.5rem;"></i>Hot</div>
                              <div><a href="#">✓</a></div>
                            </li>
                          <% } else{ %>
                            <li><button class="whiteback border-0 w-100 text-left p-0 my-1 py-2 dropbox-mobile-li" name="sortByKey" value="1" type="submit"><i class="fas fa-fire mr-3" style="width: 0.5rem;"></i>Hot</button></li>
                          <% } %>
                          <% if(currentUser.sortByKey == 2){ %>
                            <li class="valign">
                              <div class="my-1 py-2 active"><i class="fas fa-stopwatch greencolor2 mr-3" style="width: 0.5rem;"></i>New</div>
                              <div><a href="#">✓</a></div>
                            </li>
                          <% } else{ %>
                            <li><button class="whiteback border-0 w-100 text-left p-0 my-1 py-2 dropbox-mobile-li" name="sortByKey" value="2" type="submit"><i class="fas fa-stopwatch mr-3" style="width: 0.5rem;"></i>New</button></li>
                          <% } %>
                          <% if(currentUser.sortByKey == 3){ %>
                            <li class="valign">
                              <div class="my-1 py-2 active"><i class="fas fa-award purplecolor mr-3" style="width: 0.5rem;"></i>Top (this month)</div>
                              <div><a href="#">✓</a></div>
                            </li>
                          <% } else{ %>
                            <li><button class="whiteback border-0 w-100 text-left p-0 my-1 py-2 dropbox-mobile-li" name="sortByKey" value="3" type="submit"><i class="fas fa-award mr-3" style="width: 0.5rem;"></i>Top (this month)</button></li>
                          <% } %>
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
              <div class="dropdown my-auto d-none">
                <% if(currentUser && currentUser.settings.twoColumnView == true){ %>
                  <div class="pr-1 pt-1 lightgrey">
                    <table>
                      <tr><i class="far fa-square text-xl" style="transform: scaleX(0.5) translateX(1.25rem);"></i></tr>
                      <tr><i class="far fa-square text-xl" style="transform: scaleX(0.5);"></i></tr>
                    </table>
                  </div>
                <% } else{ %>
                  <div class="pr-1 pt-1 lightgrey onecolumn">
                    <table>
                      <tr><i class="far fa-square text-xl" style="transform: scaleX(0.75);"></i></tr>
                    </table>
                  </div>
                <% } %>
              </div>
            <% } else{ %>
              <div class="sortByKey text-sm mx-2"><i class="fas fa-fire"></i> HOT<i class="fas fa-angle-down ml-2 sortByKey-caret"></i></div>
            <% } %>
          </div>
          <div class="mobileNoneFlex valign w-100">
            <div class="valign">
              <% if(currentUser){ %>
                <form action="/discover/settings/user/<%= currentUserId %>?_method=PUT" method="POST" class="valign">
                  <% if(currentUser.sortByKey == 1 || currentUser.sortByKey == 2){ %>
                    <div class="sortByKey text-sm mx-2 active"><i class="fas fa-fire redcolor"></i> HOT</div>
                  <% } else{ %>
                    <button class="sortByKey text-sm mx-2" name="sortByKey" value="1" type="submit"><i class="fas fa-fire"></i> HOT</button>
                  <% } %>
                  <% if(currentUser.sortByKey == 4){ %>
                    <div class="sortByKey text-sm mx-2 active"><i class="fas fa-stopwatch greencolor2"></i> NEW</div>
                  <% } else{ %>
                    <button class="sortByKey text-sm mx-2" name="sortByKey" value="2" type="submit"><i class="fas fa-stopwatch"></i> NEW</button>
                  <% } %>
                  <% if(currentUser.sortByKey == 3){ %>
                    <div class="sortByKey text-sm mx-2 active"><i class="fas fa-award purplecolor"></i> TOP</div>
                  <% } else{ %>
                    <button class="sortByKey text-sm mx-2" name="sortByKey" value="3" type="submit"><i class="fas fa-award"></i> TOP</button>
                  <% } %>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              <% } else{ %>
                <div class="sortByKey text-sm mx-2 active"><i class="fas fa-fire redcolor"></i> HOT</div>
                <div class="sortByKey text-sm mx-2 logout"><i class="fas fa-stopwatch"></i> NEW</div>
                <div class="sortByKey text-sm mx-2 logout"><i class="fas fa-award"></i> TOP</div>
              <% } %>
            </div>
            <% if(currentUser && currentUser.settings.twoColumnView == true){ %>
              <div class="mr-1 d-none">
                <table>
                  <tr><i class="far fa-square text-xl" style="transform: scaleX(0.5) translateX(1.25rem);"></i></tr>
                  <tr><i class="far fa-square text-xl" style="transform: scaleX(0.5);"></i></tr>
                </table>
              </div>
            <% } else{ %>
              <div class="pr-1 onecolumn d-none">
                <table style="transform: translateY(1rem);">
                  <tr>
                    <th><i class="far fa-square text-xl" style="transform: scaleX(0.75);"></i></th>
                  </tr>
                  <tr>
                    <th><i class="far fa-square text-xl" style="transform: scaleX(0.75) scaleY(0.15) translateY(-8rem);"></i></th>
                  </tr>
                </table>
              </div>
            <% } %>
          </div>
          <div class="mb-2">
            <a id="chatlist-chevron" href="/chats/feed">
              <img class="chats_chevronimg flipped" src="<%= '/images/double-chevron.svg' || 'https://res.cloudinary.com/dubirhea4/image/upload/v1621172289/icons/double-chevron.svg' %>" title="Designed by [Pixel perfect] from @flaticon">
            </a>
          </div>
        </div>
        <div id="server-posts-discover">
          <% //include ../partials/posts_index %>
        </div>
        <div style="display: inline-flex;">
          <% if(currentUser && !currentUser.settings.twoColumnView){ %>
            <div id="client-posts-discover" class="onecolumn"></div>
          <% } else{ %>
            <div id="client-posts-discover"></div>
          <% } %>
        </div>
        <div id="discover-load-more-btn" class="text-center pt-2">
          <button id="load-more-btn" class="btn btn-light btn-sm btn-load" type="button" value="<%= //foundPostIds %>">
            <span id="load-more-span"></span>Load
          </button>
        </div>
      </div>
    </div>
    <% if(currentUser){ %>
      <div id="discover_nav_desktop" class="col-lg-3 px-2 pb-2 mt-3 mobileNone tabletNone" style="padding-top: 4rem;">
        <div>
          <form action="/discover/settings/user/<%= currentUserId %>?_method=PUT" method="POST" class="valign">
            <% if(currentUser.discoverSwitch == 1){ %>
              <div id="following-switch" class="btn btn-light discoverswitch shadow-none"><i class="fas fa-university"></i><span class="text-sm pl-2">Following..</span></div>
              <button class="btn btn-light discoverswitch" name="discoverSwitch" value="2" type="submit"><i class="fas fa-globe-americas"></i></button>
            <% } else if(currentUser.discoverSwitch == 2){ %>
              <button class="btn btn-light discoverswitch" name="discoverSwitch" value="1" type="submit"><i class="fas fa-university"></i></button>
              <div id="explore-switch" class="btn btn-light discoverswitch shadow-none"><i class="fas fa-globe-americas"></i><span class="text-sm pl-2">Explore!</span></div>
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </div>
        <% if(currentUser && collegeName && collegeName != '' && currentUser.discoverSwitch == 1){ %>
          <div id="quickview_nav_desktop" class="nav-hidden">
            <em id="quickview_collegename" class="lightgrey2 hr-light" style="font-weight: 300; margin-left: 0.75rem;" value="<%= collegeName %>">Quick view</em>
            <div class="d-flex flex-column">
              <div class="d-flex flex-row quickviewcontainers-desktop">  
                <div class="text-xxl college-infobtn quickviewbtns-desktop" title="News & Blogs" data-toggle="modal" data-target="#quickblog">
                  <i class="fas fa-blog" style="-webkit-text-stroke-width: 0;"></i>
                </div>
                <div class="quicknav_text_desktop text-xs my-auto ml-2">BLOGS</div>
              </div>
              <div class="d-flex flex-row quickviewcontainers-desktop">  
                <div class="text-xxl college-infobtn quickviewbtns-desktop" title="Placements & Intern" data-toggle="modal" data-target="#quickintern">
                  <i class="fas fa-briefcase" style="-webkit-text-stroke-width: 0;"></i>
                </div>
                <div class="quicknav_text_desktop text-xs my-auto ml-2">INTERN</div>
              </div>
              <div class="d-flex flex-row quickviewcontainers-desktop">  
                <div class="text-xxl college-infobtn quickviewbtns-desktop" title="Merch & Stickers" data-toggle="modal" data-target="#quickmerch">
                  <i class="fas fa-store" style="-webkit-text-stroke-width: 0;"></i>
                </div>
                <div class="quicknav_text_desktop text-xs my-auto ml-2">STORE</div>
              </div>
              <div class="d-flex flex-row quickviewcontainers-desktop">
                <div class="text-xxl college-infobtn quickviewbtns-desktop" title="Events" data-toggle="modal" data-target="#quickevents">
                  <i class="fas fa-calendar-check" style="-webkit-text-stroke-width: 0;"></i>
                </div>
                <div class="quicknav_text_desktop text-xs my-auto ml-2">EVENTS</div>
              </div>
              <div class="d-flex flex-row quickviewcontainers-desktop">
                <div class="text-xxl college-infobtn quickviewbtns-desktop messMenuOpen" title="Mess menu" data-toggle="modal" data-target="#quickmess">
                  <i class="fas fa-utensils" style="-webkit-text-stroke-width: 0;"></i>
                </div>
                <div class="quicknav_text_desktop text-xs my-auto ml-2">MESS</div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    <% } else{ %>
      <div id="discover_nav_desktop" class="col-lg-3 px-2 pb-2 mt-3 mobileNone tabletNone" style="padding-top: 0.65rem;">
        <div><em class="lightgrey">Logged out</em></div>
        <div class="mt-3 valign" style="padding-top: 0.65rem;">
          <a href="/login" class="btn btn-light discoverswitch shadow-none noback"><i class="fas fa-sign-in-alt discover-icon" style="-webkit-text-stroke: 0.25px #e0e0e0;"></i></a>
          <div id="explore-switch" class="btn btn-light discoverswitch shadow-none"><i class="fas fa-globe-americas"></i><span class="text-sm pl-2">Explore!</span></div>
        </div>
      </div>
    <% } %>
  </div>
</div>

<% if(currentUser){ %>
  <nav id="discover_nav_mobile" class="navbar fixed-bottom navbar-light desktopNone tabletShow discover-navback nav-hidden">
    <div id="discover_nav_mobile-div">
      <form action="/discover/settings/user/<%= currentUserId %>?_method=PUT" method="POST" class="valign">
        <% if(currentUser.discoverSwitch == 1){ %>
          <div class="btn btn-light discoverswitch-mobile shadow-none valign noback">
            <div><i id="following-switch-mobile" class="fas fa-university discover-icon"></i></div>
            <div id="following-switch-mobile-txt" class="text-sm pl-2 mobilebold">Following..</div>
          </div>
          <button class="btn btn-light discoverswitch-mobile" name="discoverSwitch" value="2" type="submit"><i class="fas fa-globe-americas discover-icon"></i></button>
        <% } else if(currentUser.discoverSwitch == 2){ %>
          <button class="btn btn-light discoverswitch-mobile" name="discoverSwitch" value="1" type="submit"><i class="fas fa-university discover-icon"></i></button>
          <div class="btn btn-light discoverswitch-mobile shadow-none valign noback">
            <div><i id="explore-switch-mobile" class="fas fa-globe-americas discover-icon"></i></div>
            <div id="explore-switch-mobile-txt" class="text-sm pl-2 my-auto mobilebold">Explore!</div>
          </div>
        <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form>
    </div>
  </nav>
<% } else{ %>
  <nav id="discover_nav_mobile" class="navbar fixed-bottom navbar-light desktopNone tabletShow discover-navback">
    <div id="discover_nav_mobile-div">
      <div class="valign">
        <a href="/login" class="btn btn-light discoverswitch-mobile darkgrey">
          <div class="d-flex flex-row">
            <div><i class="fas fa-sign-in-alt discover-icon" style="-webkit-text-stroke: 0.75px whitesmoke;"></i></div>
            <div class="text-sm pl-2 mobilebold my-auto">Login</div>
          </div>
        </a>
        <div class="btn btn-light discoverswitch-mobile shadow-none valign noback">
          <div><i id="explore-switch-mobile" class="fas fa-globe-americas discover-icon"></i></div>
          <div class="text-sm pl-2 mobilebold" style="color: #312b23;">Explore!</div>
        </div>
      </div>
    </div>
  </nav>
<% } %>

<% if(currentUser && collegeName && collegeName != '' && currentUser.discoverSwitch == 1){ %>
  <nav id="quickview_nav_mobile" class="navbar fixed-bottom navbar-light desktopNone tabletShow discover-navback">
    <ul class="quicknav_list_mobile d-flex justify-content-around w-100">
      <li class="quicknav_item_mobile">
        <a class="quicknav_link_mobile my-auto mx-2" href="#blogs"  data-toggle="modal" data-target="#quickblog">
          <i class="fas fa-blog quicknav_icon_mobile text-xxl" style="-webkit-text-stroke-width: 0;"></i>
          <span class="quicknav_text_mobile text-xs">BLOGS</span>
        </a>
      </li>
      <li class="quicknav_item_mobile">
        <a class="quicknav_link_mobile my-auto mx-2" href="#intern"  data-toggle="modal" data-target="#quickintern">
          <i class="fas fa-briefcase quicknav_icon_mobile text-xxl" style="-webkit-text-stroke-width: 0;"></i>
          <span class="quicknav_text_mobile text-xs">INTERN</span>
        </a>
      </li>
      <li class="quicknav_item_mobile">
        <a class="quicknav_link_mobile my-auto mx-2" href="#merch"  data-toggle="modal" data-target="#quickmerch">
          <i class="fas fa-store quicknav_icon_mobile text-xxl" style="-webkit-text-stroke-width: 0;"></i>
          <span class="quicknav_text_mobile text-xs">STORE</span>
        </a>
      </li>
      <li class="quicknav_item_mobile">
        <a class="quicknav_link_mobile my-auto mx-2" href="#attendance" data-toggle="modal" data-target="#quickevents">
          <i class="fas fa-calendar-check quicknav_icon_mobile text-xxl" style="-webkit-text-stroke-width: 0;"></i>
          <span class="quicknav_text_mobile text-xs">EVENTS</span>
        </a>
      </li>
      <li class="quicknav_item_mobile">
        <a class="quicknav_link_mobile my-auto mx-2 messMenuOpen" href="#mess" data-toggle="modal" data-target="#quickmess">
          <i class="fas fa-utensils quicknav_icon_mobile text-xxl" style="-webkit-text-stroke-width: 0;"></i>
          <span class="quicknav_text_mobile text-xs">MESS</span>
        </a>
      </li>
    </ul>
  </nav>
<% } %>


<div class="modal fade" id="quickblog" tabindex="-1" aria-labelledby="quickblog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div id="quickmodal" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">News and Blogs</h5>
        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="quickViewModal" class="modal-body scroll moz-scroll">
        <div id="quickBlogContent" class="d-flex justify-content-center">
          <% include ../partials/news %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="close_quickview_modal();">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="quickintern" tabindex="-1" aria-labelledby="quickintern" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div id="quickmodal" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Projects & Intern</h5>
        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="quickViewModal" class="modal-body scroll moz-scroll">
        <div id="quickinternContent" class="d-flex justify-content-center">
          <% include ../partials/intern %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="close_quickview_modal();">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="quickmerch" tabindex="-1" aria-labelledby="quickmerch" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div id="quickmodal" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Merch & Marketplace</h5>
        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="quickViewModal" class="modal-body scroll moz-scroll">
        <div id="quickmerchContent" class="d-flex justify-content-center">
          Nothing here :)
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="close_quickview_modal();">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="quickevents" tabindex="-1" aria-labelledby="quickevents" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div id="quickmodal" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Events</h5>
        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="quickViewModal" class="modal-body scroll moz-scroll">
        <div id="quickEventsContent" class="d-flex justify-content-center">
          Nothing here :)
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="close_quickview_modal();">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="quickmess" tabindex="-1" aria-labelledby="quickmess" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div id="quickmodal" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mess : <span id="messName"></span></h5>
        <button type="button" class="close d-none" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="quickViewModal" class="modal-body scroll moz-scroll">
        <div id="quickMessContent" class="d-flex justify-content-center">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="close_quickview_modal();">Close</button>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
<% if(currentUser && currentUser.discoverSwitch == 1){ %>
  <script src="/zuck.js-master/dist/zuck.js"></script>
  <script src="/js/story_viewer/discover_stories.js"></script>
<% } %>
<script src="/js/quick-template.js"></script>

<% if(currentUser && currentUser.discoverSwitch == 1){ %>
  <script>
    const storiesData = <%- JSON.stringify(stories) %>;
    const csrfToken = "<%= csrfToken %>";
    var zuckObject = createDiscoverStory('stories', storiesData, csrfToken);   // from js/story-viewer/discover_stories.js
  </script>
<% } %>