<% include ../partials/header %>

<div id="page_minheight_100" class="row no-gutters content-toppad">
  <div class="col-lg-2 col-md-2 px-2 mobileNone">
  </div>
  <div id="delegated-posts" class="col-lg-7 col-md-10 centerpad-posts">
    <!-- SIMPLE POSTS -->
    <% if(post.type == 'simple'){ %>
      <div class="card post-head" style="border-radius: 0.5rem !important;">
        <div class="card-body">
          <div class="dropctn">
            <div class="valign">
              <div>
                <a href="/clubs/<%= post.postClub._id %>"><img class="navdp rounded-circle d-flex mr-2" src="<%= PC_50_clubAvatar || '/images/noClub.png' %>"></a>
              </div>
              <div class="lineheight-lesser">
                <div class="info-size">
                  <span>
                    <a href="/clubs/<%= post.postClub._id %>" class="darkgrey text-sm"><strong><%= post.postClub.name %></strong></a>
                  </span>
                  <i class="fas fa-caret-left lightgrey" style="vertical-align: text-bottom;"></i>
                  <span>
                    <a class="darkgrey text-sm" href="/users/<%= post.postAuthor.id._id %>"><strong><%= post.postAuthor.authorName %></strong></a>
                  </span>
                </div>
                <div>
                  <div class="badge badge-light text-xxs"><%= privacyText(post.privacy) %></div>
                  <% if(post.moderation == 1){ %>
                    <div id="mod-badge<%= post._id %>" class="mod-badge badge badge-light text-xxs mr-1"><i class="fas fa-lock"></i></div>
                  <% } else if(post.moderation == 0){ %>
                    <div id="mod-badge<%= post._id %>" class="mod-badge badge badge-light text-xxs mr-1"><i class="fas fa-lock-open"></i></div>
                  <% } else if(post.moderation == -1){ %>
                    <div id="mod-badge<%= post._id %>" class="mod-badge badge badge-danger text-xxs mr-1"><i class="fas fa-eye-slash"></i></div>
                  <% } %>
                  <% if(post.descEdit.length != 0){ %>
                    <div class="badge badge-light text-xxs">Edited</div>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
              <ul class="dropdown-menu dropdown-menu-right dropbox">
                <div class="container drop-shadow1">
                  <% if(post.descEdit.length != 0){ %>
                    <li onclick="toggle_display('post_edit_history');"><a class="dropitems text-sm" href="#">View edit history</a></li>
                  <% } %>
                  <li><a class="dropitems text-sm">Help ?</a></li>
                  <% if(currentUser && currentUser._id.equals(post.postAuthor.id._id)){ %>
                    <li onclick="toggle_display('post_edit_form');"><a class="dropitems text-sm" href="#">Edit post</a></li>
                    <hr>
                    <li>
                      <button class="dropitems link-button text-sm red lightgrey2">Delete post</button>
                    </li>
                  <% } %>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <% if(post.image){ %>
          <div class="card-body">
            <p class="m-0 p-0 text-mob-index linewrap"><%= post.description %></p>
            <p class="m-0 p-0 text-mob-index linewrap"><a href="<%= post.hyperlink %>" target="_blank" class="truncate1"><%= post.hyperlink %></a></p>
            <div class="valign">
              <div>
                <span class="lightgrey m-0 p-0"><em id="timeLocal" class="text-xxs" style="cursor: default;"></em></span>
                <span><em id="timeUTC" class="text-xxs lightgrey invisible"><%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss'); %></em></span>
              </div>
              <% if(post.commentsCount > 0){ %>
                <div class="lightgrey text-xxs">
                  <em><%= post.commentsCount %><% if(post.commentsCount == 1){ %> comment <% } else{ %> comments <% } %></em>
                </div>
              <% } %>
            </div>
          </div>
          <img class="card-img-top" src="<%= cdn_prefix+post.imageId %>">
        <% } else{ %>
          <div class="card-body py-1">
            <% if(!post.image && post.description.length < 200){ %>
              <p class="m-0 text-mob-index linewrap description-short-show"><%= post.description %></p>
            <% } else{ %>
              <p class="m-0 p-0 text-mob-index linewrap"><%= post.description %></p>
            <% } %>
            <p class="m-0 p-0 text-mob-index linewrap"><a href="<%= post.hyperlink %>" target="_blank" class="truncate1"><%= post.hyperlink %></a></p>
            <div class="valign">
              <div>
                <span class="lightgrey m-0 p-0"><em id="timeLocal" class="text-xxs" style="cursor: default;"></em></span>
                <span><em id="timeUTC" class="text-xxs lightgrey invisible"><%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss'); %></em></span>
              </div>
              <% if(post.commentsCount > 0){ %>
                <div class="lightgrey text-xxs">
                  <em><%= post.commentsCount %><% if(post.commentsCount == 1){ %> comment <% } else{ %> comments <% } %></em>
                </div>
              <% } %>
            </div>
          </div>
          <hr class="hr-light mx-2">
        <% } %>
        <div class="card-body py-1">
          <form class="post-vote-form valign" action="/posts/<%= post._id %>/vote" method="POST">
            <div class="valign">
              <% if(currentUser){ %>
                <% if(hasVote == 1){ %>
                  <span class="d-flex mr-1"> 
                    <button id="like-btn<%= post._id %>" class="vote likebtn" name="like" type="submit" value="like" title="Like"><i class="fas fa-thumbs-up greencolor"></i></button>
                  </span>
                  <span id="like-count<%= post._id %>" class="boldtext darkgrey m-0 p-0 text-sm bluecolor3"><%= post.likeCount %></span>
                <% } else if(hasVote == 0 || hasVote == 3){ %>
                  <span class="d-flex mr-1"> 
                    <button id="like-btn<%= post._id %>" class="vote likebtn" name="like" type="submit" value="like" title="Like"><i class="far fa-thumbs-up"></i></button>
                  </span>
                  <span id="like-count<%= post._id %>" class="boldtext darkgrey m-0 p-0 text-sm"><%= post.likeCount %></span>
                <% } %>
              <% } else{ %>
                <span class="d-flex mr-1"> 
                  <button id="like-btn<%= post._id %>" class="vote" name="like" type="submit" value="like" title="Like"><i class="fas fa-thumbs-up offline"></i></button>
                </span>
                <span id="like-count<%= post._id %>" class="boldtext lightgrey m-0 p-0 text-sm"><%= post.likeCount %></span>
              <% }%>
            </div>

            <div class="valign" title="Comments">
              <% if(currentUser){ %>
                <% if(hasVote == 3){ %>
                  <span id="heart-count<%= post._id %>" class="boldtext darkgrey m-0 p-0 text-sm redcolor3"><%= post.heartCount %></span>
                  <span><button id="heart-btn<%= post._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="fas fa-heart redcolor2"></i></button></span>
                <% } else if(hasVote == 0 || hasVote == 1){ %>
                  <span id="heart-count<%= post._id %>" class="boldtext darkgrey m-0 p-0 text-sm"><%= post.heartCount %></span>
                  <span><button id="heart-btn<%= post._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="far fa-heart"></i></button></span>
                  <% } %>
              <% } else{ %>
                <span id="heart-count<%= post._id %>" class="boldtext lightgrey m-0 p-0 text-sm"><%= post.heartCount %></span>
                <span><button id="heart-btn<%= post._id %>" class="vote" name="heart" type="submit" value="heart" title="Heart"><i class="fas fa-heart offline"></i></button></span>
              <% } %>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </div>
      </div>
    <% } else{ %>
      <!-- TOPIC POSTS -->
      <div class="card post-head" style="border-radius: 0.5rem !important;">
        <div class="card-body">
          <div class="dropctn">
            <div class="valign">
              <div>
                <a href="/clubs/<%= post.postClub._id %>"><img class="navdp rounded-circle d-flex mr-2" src="<%= PC_50_clubAvatar || '/images/noClub.png' %>"></a>
              </div>
              <div class="lineheight-lesser">
                <div class="info-size">
                  <span>
                    <a href="/clubs/<%= post.postClub._id %>" class="darkgrey text-sm"><strong><%= post.postClub.name %></strong></a>
                  </span>
                  <i class="fas fa-caret-left lightgrey" style="vertical-align: text-bottom;"></i>
                  <span>
                    <a class="darkgrey text-sm" href="/users/<%= post.postAuthor.id._id %>"><strong><%= post.postAuthor.authorName %></strong></a>
                  </span>
                </div>
                <div>
                  <div class="badge badge-light text-xxs"><%= privacyText(post.privacy) %></div>
                  <% if(post.moderation == 1){ %>
                    <div id="mod-badge<%= post._id %>" class="mod-badge badge badge-light text-xxs mr-1"><i class="fas fa-lock"></i></div>
                  <% } else if(post.moderation == 0){ %>
                    <div id="mod-badge<%= post._id %>" class="mod-badge badge badge-light text-xxs mr-1"><i class="fas fa-lock-open"></i></div>
                  <% } else if(post.moderation == -1){ %>
                    <div id="mod-badge<%= post._id %>" class="mod-badge badge badge-danger text-xxs mr-1"><i class="fas fa-eye-slash"></i></div>
                  <% } %>
                  <% if(post.descEdit.length != 0){ %>
                    <div class="badge badge-light text-xxs">Edited</div>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
              <ul class="dropdown-menu dropdown-menu-right dropbox">
                <div class="container drop-shadow1">
                  <% if(post.descEdit.length != 0){ %>
                    <li onclick="toggle_display('post_edit_history');"><a class="dropitems text-sm" href="#">View edit history</a></li>
                  <% } %>
                  <li><a class="dropitems text-sm">Help ?</a></li>
                  <% if(currentUser && currentUser._id.equals(post.postAuthor.id._id)){ %>
                    <li onclick="toggle_display('post_edit_form');"><a class="dropitems text-sm" href="#">Edit post</a></li>
                    <hr>
                    <li>
                      <button class="dropitems link-button text-sm red lightgrey2">Delete post</button>
                    </li>
                  <% } %>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <% if(post.image){ %>
          <div class="card-body">
            <div class="mb-3">
              <h5 class="m-0 p-0 topic-h5"><%= post.topic %></h5>
            </div>
            <p class="m-0 p-0 text-mob-index linewrap"><%= post.description %></p>
            <p class="m-0 p-0 text-mob-index linewrap"><a href="<%= post.hyperlink %>" target="_blank" class="truncate1"><%= post.hyperlink %></a></p>
            <div class="valign">
              <div>
                <span class="lightgrey m-0 p-0"><em id="timeLocal" class="text-xxs" style="cursor: default;"></em></span>
                <span><em id="timeUTC" class="text-xxs lightgrey invisible"><%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss'); %></em></span>
              </div>
              <% if(post.subpostsCount > 0){ %>
                <div class="lightgrey text-xxs">
                  <em><%= post.subpostsCount %><% if(post.subpostsCount == 1){ %> answer <% } else{ %> answers <% } %></em>
                </div>
              <% } %>
            </div>
          </div>
          <img class="card-img-top" src="<%= cdn_prefix+post.imageId %>">
        <% } else{ %>
          <div class="card-body py-1">
            <div class="mb-3">
              <h5 class="m-0 p-0 topic-h5"><%= post.topic %></h5>
            </div>
            <p class="m-0 p-0 text-mob-index linewrap"><%= post.description %></p>
            <p class="m-0 p-0 text-mob-index linewrap"><a href="<%= post.hyperlink %>" target="_blank" class="truncate1"><%= post.hyperlink %></a></p>
            <div class="valign">
              <div>
                <span class="lightgrey m-0 p-0"><em id="timeLocal" class="text-xxs" style="cursor: default;"></em></span>
                <span><em id="timeUTC" class="text-xxs lightgrey invisible"><%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss'); %></em></span>
              </div>
              <% if(post.subpostsCount > 0){ %>
                <div class="lightgrey text-xxs">
                  <em><%= post.subpostsCount %><% if(post.subpostsCount == 1){ %> answer <% } else{ %> answers <% } %></em>
                </div>
              <% } %>
            </div>
          </div>
          <hr class="hr-light mx-2">
        <% } %>
        <div class="card-body py-1">
          <form class="post-vote-form valign" action="/posts/<%= post._id %>/vote" method="POST">
            <div class="valign">
              <% if(currentUser){ %>
                <% if(hasVote == 1){ %>
                  <span class="d-flex mr-1"> 
                    <button id="like-btn<%= post._id %>" class="vote likebtn" name="like" type="submit" value="like" title="Like"><i class="fas fa-thumbs-up greencolor"></i></button>
                  </span>
                  <span id="like-count<%= post._id %>" class="boldtext darkgrey m-0 p-0 text-sm bluecolor3"><%= post.likeCount %></span>
                <% } else if(hasVote == 0 || hasVote == 3){ %>
                  <span class="d-flex mr-1"> 
                    <button id="like-btn<%= post._id %>" class="vote likebtn" name="like" type="submit" value="like" title="Like"><i class="far fa-thumbs-up"></i></button>
                  </span>
                  <span id="like-count<%= post._id %>" class="boldtext darkgrey m-0 p-0 text-sm"><%= post.likeCount %></span>
                <% } %>
              <% } else{ %>
                <span class="d-flex mr-1"> 
                  <button id="like-btn<%= post._id %>" class="vote" name="like" type="submit" value="like" title="Like"><i class="fas fa-thumbs-up offline"></i></button>
                </span>
                <span id="like-count<%= post._id %>" class="boldtext lightgrey m-0 p-0 text-sm"><%= post.likeCount %></span>
              <% }%>
            </div>

            <div class="valign" title="Comments">
              <% if(currentUser){ %>
                <% if(hasVote == 3){ %>
                  <span id="heart-count<%= post._id %>" class="boldtext darkgrey m-0 p-0 text-sm redcolor3"><%= post.heartCount %></span>
                  <span><button id="heart-btn<%= post._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="fas fa-heart redcolor2"></i></button></span>
                <% } else if(hasVote == 0 || hasVote == 1){ %>
                  <span id="heart-count<%= post._id %>" class="boldtext darkgrey m-0 p-0 text-sm"><%= post.heartCount %></span>
                  <span><button id="heart-btn<%= post._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="far fa-heart"></i></button></span>
                  <% } %>
              <% } else{ %>
                <span id="heart-count<%= post._id %>" class="boldtext lightgrey m-0 p-0 text-sm"><%= post.heartCount %></span>
                <span><button id="heart-btn<%= post._id %>" class="vote" name="heart" type="submit" value="heart" title="Heart"><i class="fas fa-heart offline"></i></button></span>
              <% } %>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </div>
      </div>
    <% } %>
    <div id="post_edit_history">
      <% var edits = post.descEdit; var len = edits.length; var i; for(i=len-1;i>=0;i--){%>
      <div class="px-2 py-1 mt-2 rounded greyback2">
        <div class="text-xs text-right" style="color: #ffe152;"><em><%= moment(edits[i].createdAt).format('lll'); %></em></div>
        <div class="linewrap text-sm pr-2"><%= edits[i].desc %></div>
      </div>
      <br>
      <% } %>
    </div>
    <div id="post_edit_form" class="card border-light-lr">
      <hr>
      <% if(currentUser && currentUser._id.equals(post.postAuthor.id._id)){ %>
      <form class="card-body pt-0" action="/clubs/<%= post.postClub._id %>/posts/<%= post._id %>?_method=PUT" method="POST">
        <label for="description" class="sr-only">Post description</label>
        <textarea type="text" id="description" class="emoji-input form-control shadow whitesmokeback" name="description" placeholder="Describe your post" rows="10" autofocus><%= post.description %></textarea>
        <label for="hyperlink_edit" class="sr-only">Hyperlink</label>
        <input id="hyperlink_edit" type="text" name="hyperlink" class="form-control text-sm hyperlink" placeholder="Insert hyperlink" value="<%= post.hyperlink %>">
        <div class="valign">
          <button onclick="toggle_display('post_edit_form');" class="btn btn-secondary btn-sm text-sm" title="Cancel update" type="button">Cancel</button>
          <div class="righttext d-flex my-auto">
            <span class="d-flex my-auto">
              <div class="emoji-panel">
                <button id="emoji-picker<%= post._id %>" class=" emoji-panel chat-input-tool btn btn-sm text-lg" title="Insert emoji" type="button">
                  <div id="emoji-box" class="intercom-composer-popover intercom-composer-emoji-popover right">
                    <% include ../partials/emoji_picker %>
                  </div>
                  <i class="far fa-laugh-beam"></i>
                </button>
              </div>
            </span>
            <span>
              <button id="postbutton" class="btn btn-sm btn-success postprivacy" title="Submit update">Update post</button>
            </span>
            <span>
              <label for="privacy" class="sr-only" title="Privacy setting">Privacy setting</label>
              <select id="privacy" name="privacy" class="shortened-select select1 blackcolor">
                <option value="#" data-descr="Privacy Level" disabled></option>
                <option value="0" data-descr="Outside College"></option>
                <option value="1" data-descr="This College"></option>
                <option value="2" data-descr="This Club"></option>
                <option value="3" data-descr="Only Me"></option>
              </select>
            </span>
          </div>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form>
      <% } %>
    </div>

    <!-- SUB POSTS -->
    <% if(post.type == 'topic' && 0 <= rank && rank <= 2){ %>
      <div class="post-container">
        <% if(post.subpostsCount != 0){ %>
          <div id="dynamic-subPosts">
            <% include ../partials/subPosts %>
          </div>
        <% } else if(post.subpostsCount == 0){ %>
          <div class="dropctn mt-2 py-3 invisible">
            <div class="my-2">
              <span><a href="/clubs/<%= clubId %>/posts/<%= post._id %>/m-sP" id="subPost-index" class="load-subPosts-btn btn btn-primary mb-1 btn-xs text-sm boldtext mx-1" value="">0</a></span>
            </div>
          </div>
          <div class="card">
            <div class="card-body py-1 d-flex mx-auto">
              <span class="text-sm lightgrey">No answers yet.</span>
            </div>
          </div>
          <div class="card indexcard2">
            <div class="card-body py-1">
              <div class="valign">
                <div class="mb-auto d-flex flex-column">
                  <div>
                    <% if(currentUser){ %>
                      <a href="/users/<%= currentUser.id %>">
                        <span>
                          <% if(!currentUser.userKeys.sex){ %>
                            <img class="subpostdp my-1" src="<%= CU_50_profilePic || '/images/noUser.png' %>">
                          <% } else if(currentUser.userKeys.sex == 'Male'){ %>
                            <img class="subpostdp my-1" src="<%= CU_50_profilePic || '/images/noUserMale.png' %>">
                          <% } else if(currentUser.userKeys.sex == 'Female'){ %>
                            <img class="subpostdp my-1" src="<%= CU_50_profilePic || '/images/noUserFemale.png' %>">
                          <% } %>
                        </span>
                      </a>
                    <% } else{ %>
                      <span><img class="subpostdp my-1" src="<%= CU_50_profilePic || '/images/noUser.png' %>"></span>
                    <% } %>
                  </div>
                  <div class="text-center darkgrey">#<%= post.subpostsCount+1 %></div>
                </div>
                <div class="commentdiv ml-2 d-flex flex-column">
                  <form action="/clubs/<%= clubId %>/posts/<%= post._id %>/discussions" method="POST">
                    <div class="valign mb-1">
                      <div class="d-flex flex-column">
                        <% if(currentUser){ %>
                          <div class="darkgrey boldtext subpostbtns"><%= currentUser.fullName %></div>
                          <div class="darkgrey boldtext subpostbtns text-xxs"><%= rankTitle(rank) %></div>
                        <% } else{ %>
                          <div class="darkgrey boldtext subpostbtns text-xxs"><em>Logged out</em></div>
                        <% } %>
                      </div>
                      <div class="lightgrey boldtext text-xs subpostbtns py-1 mb-auto">
                        <span><em id="timeUTC2" class="text-xxs lightgrey d-none"><%= moment().format('YYYY-MM-DD HH:mm:ss'); %></em></span>
                        <span class="m-0 p-0"><em id="timeLocal2" class="text-xxs" style="cursor: default;"></em></span>
                      </div>
                    </div>
                    <div class="input-group">
                      <textarea onclick="block_display('subpostbtns');" type="text" id="subpostbox" class="form-control m-0 mb-1 text-sm emoji-input shadow whitesmokeback" name="text" placeholder="Add your answer" rows="4"></textarea>
                    </div>
                    <div class="subpostbtns">
                      <div class="d-flex flex-row-reverse">
                        <button class="btn btn-success btn-shadow btn-xs text-sm ml-2 mt-2">Submit</button>
                        <button onclick="none_display('subpostbtn');" class="btn btn-secondary btn-shadow subpostbtn<%= post._id %> btn-xs text-sm ml-2 mt-2" type="reset">Cancel</button>
                        <label id="images-10" for="inputImages10" class="custom-file-upload mt-2 btn btn-rounded btn-shadow mr-2" title="Upload images - Max 10">
                          <i class="fas fa-images"></i>
                        </label>
                        <input type="file" id="inputImages10" class="text-sm" name="images" accept="images/*" multiple>
                        <div class="emoji-panel d-flex mt-2 py-auto px-1">
                          <button id="emoji-picker" class=" emoji-panel pr-2 chat-input-tool btn btn-sm text-lg" title="Insert emoji" type="button">
                            <div id="emoji-box" class="intercom-composer-popover intercom-composer-emoji-popover emoji-right">
                              <% include ../partials/emoji_picker %>
                            </div>
                            <i class="far fa-laugh-beam"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% } %>
      </div>
    <% } %>

    <!-- COMMENTS -->
    <% if(post.type == 'simple'){ %>
      <div class="post-container">
        <div class="card show-comments mb-3" style="border-radius: 0.5rem !important;">
          <div class="valign p-2 mb-2">
            <div class="mb-auto">
              <% if(currentUser){ %>
                <a href="/users/<%= currentUser.id %>">
                  <span>
                    <% if(!currentUser.userKeys.sex){ %>
                      <img class="navdp rounded-circle" src="<%= CU_50_profilePic || '/images/noUser.png' %>">
                    <% } else if(currentUser.userKeys.sex == 'Male'){ %>
                      <img class="navdp rounded-circle" src="<%= CU_50_profilePic || '/images/noUserMale.png' %>">
                    <% } else if(currentUser.userKeys.sex == 'Female'){ %>
                      <img class="navdp rounded-circle" src="<%= CU_50_profilePic || '/images/noUserFemale.png' %>">
                    <% } %>
                  </span>
                </a>
              <% } else{ %>
                <span><img class="navdp rounded-circle" src="<%= CU_50_profilePic || '/images/noUser.png' %>"></span>
              <% } %>
            </div>
            <div class="commentdiv ml-2">
              <form action="/posts/<%= post._id %>/comments" method="POST">
                <div class="input-group">
                  <textarea id="commentbox" onclick="block_display('commentbtn');" class="emoji-input form-control text-sm commentbox6 shadow whitesmokeback" type="text" name="text" placeholder="Write a comment" rows="3" required></textarea>
                </div>
                <div class="d-flex flex-row-reverse">
                  <button class="btn btn-sm btn-success commentbtn btn-xs ml-2 mt-2">Submit</button>
                  <button onclick="none_display('commentbtn');" class="btn btn-secondary commentbtn btn-xs text-sm mt-2" type="reset">Cancel</button>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
          </div>
          <% if(post.commentsCount != 0){ %>
            <div id="delegated-comments">
              <div id="server-comments">
                <% include ../partials/comments %>
              </div>
              <div id="client-comments"></div>
              <% if(post.commentBuckets.length > 2){ %>
                <div class="text-center mb-2">
                  <button id="load-more-comments-btn" class="btn btn-light btn-xs text-sm" type="button" value="<%= index %>">
                    <span id="load-more-comments-span"></span>Load More
                  </button>
                </div>
              <% } %>
            </div>
          <% } else if(post.commentsCount == 0){ %>
            <div class="card-body pt-0 d-flex mx-auto">
              <span class="text-sm lightgrey">No comments yet.</span>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>



  </div>
  <% if(currentUser){ %>
    <div class="col-md-4 col-lg-3 px-2 pb-2 mt-3 order-md-last order-first mobileNone tabletNone">
      <% include ../partials/hot_topics %>
    </div>
  <% } %>
</div>

<% include ../partials/footer %>

<%
  function userRank(uid){
    var len = post.postClub.clubUsers.length;
    for(k=0;k<len;k++){
      if(post.postClub.clubUsers[k].id.equals(uid)){
        return post.postClub.clubUsers[k].userRank;
      }
    }
  }

  function rankTitle(rank){
    if(rank == 0){return 'President';}
    else if(rank == 1){return 'Admin';}
    else if(rank == 2){return 'Member';}
  }

  function privacyText(privacy){
    if(privacy == 0){return 'Everyone';}
    else if(privacy == 1){return 'College Exclusive';}
    else if(privacy == 2){return 'Club Exclusive';}
    else if(privacy == 3){return 'Private';}
  }
%>
