<% include ../partials/header %>

<div class="row no-gutters content-toppad">
  <div class="col-lg-2 col-md-2 px-2 mobileNone">
  </div>
  <div id="delegated-posts" class="col-lg-7 col-md-10 centerpad-posts">
    <!-- SIMPLE POSTS -->
    <% if(post.topic == ''){ %>
      <div class="card post-head">
        <div class="card-body">
          <div class="dropctn">
            <div class="valign">
              <div>
                <a href="/clubs/<%= post.postClub._id %>"><img class="navdp rounded-circle d-flex mr-2" src="<%= PC_50_clubAvatar || '/images/noClub.png' %>"></a>
              </div>
              <div class="lineheight2">
                <div class="info-size">
                  <span>
                    <a href="/clubs/<%= post.postClub._id %>" class="darkgrey text-sm"><strong><%= post.postClub.name %></strong></a>
                  </span>
                  <i class="fas fa-caret-left lightgrey"></i>
                  <span>
                    <a class="darkgrey text-sm" href="/users/<%= post.postAuthor.id._id %>"><strong><%= post.postAuthor.authorName %></strong></a>
                  </span>
                </div>
                <div>
                  <div class="badge badge-light text-xxs"><%= privacyText(post.privacy) %></div>
                  <% if(0 <= post.moderation && post.moderation <= 1){ %>
                    <div id="mod-badge<%= post._id %>" class="mod-badge badge badge-light text-xxs">
                      <% if(post.isAdminLock){ %>
                        <i class="fas fa-lock"></i> 
                      <% } %>
                      <%= post.moderation %>
                    </div>
                  <% } else if(post.moderation == -1){ %>
                    <div id="mod-badge<%= post._id %>" class="mod-badge badge badge-danger text-xxs"><%= post.moderation %></div>
                  <% } %>
                  <% if(post.descEdit.length != 0){ %>
                    <div class="badge badge-warning text-xxs">Edited</div>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-sm dropdown-toggle editprofile" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
              <ul class="dropdown-menu dropdown-menu-right dropbox">
                <div class="container drop-shadow1">
                  <% if(post.descEdit.length != 0){ %>
                    <li onclick="toggle_display('post_edit_history');"><a class="dropitems text-sm" href="#">View edit history</a></li>
                  <% } %>
                  <li><a class="dropitems text-sm" href="#">Help ?</a></li>
                  <% if(currentUser && currentUser._id.equals(post.postAuthor.id._id)){ %>
                    <li onclick="toggle_display('post_edit_form');"><a class="dropitems text-sm" href="#">Edit post</a></li>
                    <hr>
                    <li>
                      <button class="dropitems link-button text-sm red lightgrey2">Delete post</button>
                    </li>
                  <% } %>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <% if(post.image){ %>
          <img class="card-img-top" src="<%= cdn_prefix+post.imageId %>">
          <div class="card-body">
        <% } else{ %>
          <div class="card-body3">
        <% } %>
        <% if(!post.image && post.description.length < 200){ %>
          <p class="nothing mobiletext linewrap description-short-show"><%= post.description %></p>
        <% } else{ %>
          <p class="nothing mobiletext linewrap"><%= post.description %></p>
        <% } %>
          <p class="nothing mobiletext linewrap"><a href="<%= post.hyperlink %>" target="_blank" class="truncate1"><%= post.hyperlink %></a></p>
          <div class="valign">
            <div>
              <span class="lightgrey nothing"><em id="timeLocal" class="text-xxs"></em></span>
              <span><em id="timeUTC" class="text-xxs lightgrey invisible"><%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss'); %></em></span>
            </div>
            <% if(post.commentsCount > 0){ %>
              <div class="lightgrey text-xxs">
                <em><%= post.commentsCount %><% if(post.commentsCount == 1){ %> comment <% } else{ %> comments <% } %></em>
              </div>
            <% } %>
          </div>
        </div>
        <hr class="hr-light mx-2">
        <div class="card-body3">
          <form class="post-vote-form valign" action="/posts/<%= post._id %>/vote" method="POST">
            <div class="valign">
              <% if(currentUser){ %>
                <% if(hasVote == 1){ %>
                  <span class="d-flex mr-1"> 
                    <button id="like-btn<%= post._id %>" class="vote likebtn" name="like" type="submit" value="like" title="Like"><i class="fas fa-thumbs-up greencolor"></i></button>
                  </span>
                  <span id="like-count<%= post._id %>" class="boldtext darkgrey nothing text-sm bluecolor3"><%= post.likeCount %></span>
                <% } else if(hasVote == 0 || hasVote == 3){ %>
                  <span class="d-flex mr-1"> 
                    <button id="like-btn<%= post._id %>" class="vote likebtn" name="like" type="submit" value="like" title="Like"><i class="far fa-thumbs-up"></i></button>
                  </span>
                  <span id="like-count<%= post._id %>" class="boldtext darkgrey nothing text-sm"><%= post.likeCount %></span>
                <% } %>
              <% }else{ %>
                <span class="d-flex mr-1"> 
                  <button id="like-btn<%= post._id %>" class="vote" name="like" type="submit" value="like" title="Like"><i class="fas fa-thumbs-up"></i></button>
                </span>
                <span id="like-count<%= post._id %>" class="boldtext darkgrey nothing text-sm"><%= post.likeCount %></span>
              <% }%>
            </div>

            <div class="valign" title="Comments">
              <% if(currentUser){ %>
                <% if(hasVote == 3){ %>
                  <span id="heart-count<%= post._id %>" class="boldtext darkgrey nothing text-sm redcolor3"><%= post.heartCount %></span>
                  <span><button id="heart-btn<%= post._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="fas fa-heart redcolor2"></i></button></span>
                <% } else if(hasVote == 0 || hasVote == 1){ %>
                  <span id="heart-count<%= post._id %>" class="boldtext darkgrey nothing text-sm"><%= post.heartCount %></span>
                  <span><button id="heart-btn<%= post._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="far fa-heart"></i></button></span>
                  <% } %>
              <% }else{ %>
                <span id="heart-count<%= post._id %>" class="boldtext darkgrey nothing text-sm"><%= post.heartCount %></span>
                <span><button id="heart-btn<%= post._id %>" class="vote" name="heart" type="submit" value="heart" title="Heart"><i class="fas fa-heart"></i></button></span>
              <% } %>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </div>
    <% } else{ %>
      <!-- TOPIC POSTS -->
      <div>
        <div class="d-flex flex-row justify-content-between mt-3">
          <div class="card topic-break flex-column justify-content-between">
            <div>
              <div class="card-body">
                <div class="dropctn">
                  <div class="valign">
                    <div>
                      <a href="/clubs/<%= post.postClub._id %>"><img class="navdp rounded-circle d-flex mr-2" src="<%= PC_50_clubAvatar || '/images/noClub.png' %>"></a>
                    </div>
                    <div class="lineheight">
                      <div class="mobiletext2 truncate1">
                        <span>
                          <a href="/clubs/<%= post.postClub._id %>" class="darkgrey"><strong><%= post.postClub.name %></strong></a>
                        </span>
                        <i class="fas fa-caret-left lightgrey"></i>
                        <span>
                          <a class="darkgrey" href="/users/<%= post.postAuthor.id._id %>"><strong><%= post.postAuthor.authorName %></strong></a>
                        </span>
                      </div>
                      <div class="lineheight3">
                        <% if(post.moderation == -1){ %>
                          <div id="mod-badge<%= post._id %>" class="mod-badge badge badge-danger text-xxs"><%= post.moderation %></div>
                        <% } %>
                        <% if(post.descEdit.length != 0){ %>
                          <div class="badge badge-warning text-xxs">Edited</div>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="topic-head">
                <div class="px-2 mb-auto">
                  <h5 class="nothing topic-h5"><%= post.topic %></h5>
                </div>
              </div>
            </div>
            <div>
              <div class="nounderline nothing">
                <% if(post.image){ %>
                  <div class="mobiletext linewrap card-body3"><%= post.description %></div>
                  <% if(post.hyperlink && post.hyperlink != ''){ %>
                    <div class="card-body3">
                      <p class="nothing mobiletext linewrap"><a href="<%= post.hyperlink %>" target="_blank" class="truncate1"><%= post.hyperlink %></a></p>
                    </div>
                  <% } %>
                  <img class="card-img-top" src="<%= cdn_prefix+post.imageId %>">
                <% } else{ %>
                  <div class="card-body3 mobiletext linewrap nolink"><%= post.description %></div>
                  <% if(post.hyperlink && post.hyperlink != ''){ %>
                    <div class="card-body3">
                      <p class="nothing mobiletext linewrap"><a href="<%= post.hyperlink %>" target="_blank" class="truncate1"><%= post.hyperlink %></a></p>
                    </div>
                  <% } %>
                <% } %>
              </div>
              <!-- Vote bar -->
              <div class="card-body5">
              <% if(!post.image){ %>
                <hr class="hr-light">
              <% } %>
                <div class="valign">
                  <div class="d-flex flex-row">
                    <div class="lightgrey text-xs" style="padding-top: 0.125rem;"><strong><%= post.subpostsCount %></strong> subPosts</div>
                    <% if(!(post.upVoteCount == 0 && post.downVoteCount == 0)){ %>
                      <strong id="following-switch-mobile" class="text-sm nopad ml-2"><%= Math.trunc((post.upVoteCount/(post.downVoteCount+post.upVoteCount))*100) %>%</strong>
                    <% } %>
                  </div>
                  <div style="line-height: 0;">
                    <span><em id="timeUTC" class="text-xxs lightgrey2 nodisplay"><%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss'); %></em></span>
                    <span class="lightgrey2 nothing"><em id="timeLocal" class="text-xxs"></em></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- UP/DOWN VOTE -->
          <div class="d-flex flex-column topic-column">
            <div class="d-flex flex-column mb-auto">
              <div class="mx-auto my-2 py-1">
                <div class="dropdown">
                  <button class="btn btn-sm dropdown-toggle editprofile" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
                  <ul class="dropdown-menu dropdown-menu-right dropbox">
                    <div class="container drop-shadow1">
                      <% if(post.descEdit.length != 0){ %>
                        <li onclick="toggle_display('post_edit_history');"><a class="dropitems text-sm" href="#">View edit history</a></li>
                      <% } %>
                      <li><a class="dropitems text-sm" href="#">Help ?</a></li>
                      <% if(currentUser && currentUser._id.equals(post.postAuthor.id._id)){ %>
                        <li onclick="toggle_display('post_edit_form');"><a class="dropitems text-sm" href="#">Edit post</a></li>
                        <hr>
                        <li>
                          <button class="dropitems link-button text-sm red lightgrey2">Delete post</button>
                        </li>
                      <% } %>
                    </div>
                  </ul>
                </div>
              </div>
              <div style="margin-top: -1rem; margin-bottom: -0.5rem;">
                <div class="mx-2 mb-auto d-flex flex-column">
                  <form class="d-flex flex-column post-modvote-form" action="/posts/<%= post._id %>/modvote" method="POST">
                    <% if(hasModVote == 1){ %>
                      <button id="upVote-btn<%= post._id %>" class="modvote upVotebtn bluecolor on" name="upVote" type="submit" value="up" title="Upvote"><i class="fas fa-caret-up"></i></button>
                      <span id="modVote-count<%= post._id %>" class="modvote-count boldtext nothing text-xs text-center bluecolor3"><%= post.upVoteCount - post.downVoteCount %></span>
                      <button id="downVote-btn<%= post._id %>" class="modvote downVotebtn" name="downVote" type="submit" value="down" title="Downvote"><i class="fas fa-caret-down"></i></button>
                    <% } else if(hasModVote == -1){ %>
                      <button id="upVote-btn<%= post._id %>" class="modvote upVotebtn" name="upVote" type="submit" value="up" title="Upvote"><i class="fas fa-caret-up"></i></button>
                      <span id="modVote-count<%= post._id %>" class="modvote-count boldtext nothing text-xs text-center orangecolor"><%= post.upVoteCount - post.downVoteCount %></span>
                      <button id="downVote-btn<%= post._id %>" class="modvote downVotebtn orangecolor on" name="downVote" type="submit" value="down" title="Downvote"><i class="fas fa-caret-down"></i></button>
                    <% } else if(hasModVote == 0){ %>
                      <button id="upVote-btn<%= post._id %>" class="modvote upVotebtn" name="upVote" type="submit" value="up" title="Upvote"><i class="fas fa-caret-up"></i></button>
                      <span id="modVote-count<%= post._id %>" class="modvote-count boldtext darkgrey nothing text-xs text-center"><%= post.upVoteCount - post.downVoteCount %></span>
                      <button id="downVote-btn<%= post._id %>" class="modvote downVotebtn" name="downVote" type="submit" value="down" title="Downvote"><i class="fas fa-caret-down"></i></button>
                    <% } %>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  </form>
                </div>
              </div>
            </div>
            <div>
              <form action="/posts/<%= post._id %>/vote" method="POST">
                <div class="d-flex flex-column">
                  <% if(currentUser){ %>
                    <% if(hasVote == 3){ %>
                      <div id="heart-count<%= post._id %>" class="boldtext darkgrey nothing text-sm redcolor3 mx-auto mt-2" style="margin-bottom: -0.25rem;"><%= post.heartCount %></div>
                      <div class="mx-auto pb-1"><button id="heart-btn<%= post._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="fas fa-heart redcolor2"></i></button></div>
                    <% } else if(hasVote == 0){ %>
                      <div id="heart-count<%= post._id %>" class="boldtext darkgrey nothing text-sm mx-auto mt-2" style="margin-bottom: -0.25rem;"><%= post.heartCount %></div>
                      <div class="mx-auto pb-1"><button id="heart-btn<%= post._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="far fa-heart"></i></button></div>
                      <% } %>
                        <div class="invisible" id="modVisibility<%= post._id %>"></div>
                  <% } else{ %>
                    <div class="mx-auto pb-1"><button id="heart-btn<%= post._id %>" class="vote heartbtn" name="heart" type="submit" value="heart" title="Heart"><i class="far fa-heart"></i></button></div>
                  <% } %>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
          </div>
        </div>
    <% } %>
    </div>
    <!-- EDIT POST Display: none -->
    <div id="post_edit_history">
      <hr>
      <% var edits = post.descEdit; var len = edits.length; var i; for(i=len-1;i>=0;i--){%>
      <div class="card-body3 greyback2">
        <div class="text-xs text-right" style="color: #ffe152;"><em><%= moment(edits[i].createdAt).format('lll'); %></em></div>
        <div class="linewrap text-sm pr-2"><%= edits[i].desc %></div>
      </div>
      <br>
      <% } %>
    </div>
    <div id="post_edit_form" class="card border-light-lr">
      <hr>
      <% if(currentUser && currentUser._id.equals(post.postAuthor.id._id)){ %>
      <form class="card-body2" action="/clubs/<%= post.postClub._id %>/posts/<%= post._id %>?_method=PUT" method="POST">
        <label for="description" class="sr-only">Post description</label>
        <textarea type="text" id="description" class="emoji-input form-control shadow whitesmokeback" name="description" placeholder="Describe your post" rows="10" autofocus><%= post.description %></textarea>
        <label for="hyperlink_edit" class="sr-only">Hyperlink</label>
        <input id="hyperlink_edit" type="text" name="hyperlink" class="form-control text-sm hyperlink" placeholder="Insert hyperlink" value="<%= post.hyperlink %>">
        <div class="valign">
          <button onclick="toggle_display('post_edit_form');" class="btn btn-secondary btn-sm text-sm" title="Cancel update" type="button">Cancel</button>
          <div class="righttext d-flex my-auto">
            <span>
              <div class="emoji-panel">
                <button id="emoji-picker<%= post._id %>" class=" emoji-panel chat-input-tool btn btn-sm text-lg" title="Insert emoji" type="button">
                  <div id="emoji-box" class="intercom-composer-popover intercom-composer-emoji-popover right">
                    <% include ../partials/emoji_picker %>
                  </div>
                  <i class="far fa-laugh-wink"></i>
                </button>
              </div>
            </span>
            <span>
              <button id="postbutton" class="btn btn-sm btn-success postprivacy" title="Submit update">Update post</button>
            </span>
            <span>
              <label for="privacy" class="sr-only" title="Privacy setting">Privacy setting</label>
              <select id="privacy" name="privacy" class="shortened-select select1 blackcolor">
                <% if(post.topic == ''){ %>
                  <option value="0" data-descr="Everyone" selected></option>
                  <option value="1" data-descr="This College"></option>
                  <option value="2" data-descr="My Friends"></option>
                  <option value="3" data-descr="This Club"></option>
                <% } else{ %>
                  <option value="0" data-descr="Everyone" disabled></option>
                  <option value="1" data-descr="This College" disabled></option>
                  <option value="2" data-descr="My Friends" disabled></option>
                  <option value="3" data-descr="This Club" selected></option>
                <% } %>
                <option value="4" data-descr="Friends in Club"></option>
                <option value="5" data-descr="Only Me"></option>
              </select>
            </span>
          </div>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form>
      <% } %>
    </div>

    <!-- SUB POSTS -->
    <% if(post.topic != '' && 0 <= rank && rank <= 4){ %>
      <% if(post.subpostsCount != 0){ %>
        <div id="dynamic-subPosts">
          <% include ../partials/subPosts %>
        </div>
      <% } else if(post.subpostsCount == 0){ %>
        <div class="dropctn mt-2 py-3 invisible">
          <div class="my-2">
            <span><a href="/clubs/<%= clubId %>/posts/<%= post._id %>/m-sP" id="subPost-index" class="load-subPosts-btn btn btn-primary mb-1 btnxs text-sm boldtext mx-1" value="">0</a></span>
          </div>
        </div>
        <div class="card">
          <div class="card-body3 d-flex mx-auto">
            <span class="text-sm lightgrey">No sub-posts yet.</span>
          </div>
        </div>
        <div class="card indexcard2">
          <div class="card-body3">
            <div class="valign">
              <div class="mb-auto d-flex flex-column">
                <div>
                  <a href="/users/<%= currentUser.id %>"><img class="subpostdp my-1" src="<%= CU_50_profilePic %>"></a>
                </div>
                <div class="text-center darkgrey">#<%= post.subpostsCount+1 %></div>
              </div>
              <div class="commentdiv ml-2 d-flex flex-column">
                <form action="/clubs/<%= clubId %>/posts/<%= post._id %>/discussions" method="POST">
                  <div class="valign mb-1">
                    <div class="d-flex flex-column">
                      <div class="darkgrey boldtext subpostbtn"><%= currentUser.fullName %></div>
                      <div class="darkgrey boldtext subpostbtn text-xxs"><%= rankTitle(rank) %></div>
                    </div>
                    <div class="lightgrey boldtext text-xs subpostbtn py-1 mb-auto">
                      <span><em id="timeUTC2" class="text-xxs lightgrey nodisplay"><%= moment().format('YYYY-MM-DD HH:mm:ss'); %></em></span>
                      <span class="nothing"><em id="timeLocal2" class="text-xxs"></em></span>
                    </div>
                  </div>
                  <div class="input-group">
                    <textarea onclick="block_display('subpostbtn');" type="text" id="subpostbox" class="form-control nomargin mb-1 text-sm emoji-input shadow whitesmokeback" name="text" placeholder="Add your opinion" rows="4"></textarea>
                  </div>
                  <div class="d-flex flex-row-reverse">
                    <button class="btn btn-success subpostbtn btnshadow btnxs text-sm ml-2 mt-2">Submit</button>
                    <button onclick="none_display('subpostbtn'); clear_subpost();" class="btn btn-secondary subpostbtn btnshadow subpostbtn<%= post._id %> btnxs text-sm ml-2 mt-2" type="button">Cancel</button>
                    <label id="input-10" for="inputImage" class="custom-file-upload subpostbtn mt-2" title="Upload image">
                      <i class="fas fa-upload"></i> Image(s)
                    </label>
                    <input type="file" id="inputImage" class="text-sm" name="images" accept="image/*">
                    <div class="emoji-panel subpostbtn pt-2 px-2">
                      <button id="emoji-picker" class=" emoji-panel pr-2 chat-input-tool btn btn-sm text-lg" title="Insert emoji" type="button">
                        <div id="emoji-box" class="intercom-composer-popover intercom-composer-emoji-popover emoji-right">
                          <% include ../partials/emoji_picker %>
                        </div>
                        <i class="far fa-laugh-wink"></i>
                      </button>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
              </div>
            </div>
          </div>
        </div>
        <hr>
      <% } %>
    <% } %>

    <!-- COMMENTS -->
    <% if(post.topic == ''){ %>
      <div class="card show-comments mb-3">
        <div class="valign p-2 mb-2">
          <div class="mb-auto">
            <% if(currentUser){ %>
              <a href="/users/<%= currentUser.id %>">
                <span>
                  <% if(currentUser.userKeys.sex == 'Male'){ %>
                    <img class="navdp rounded-circle" src="<%= CU_50_profilePic || '/images/noUserMale.png' %>">
                  <% } else if(currentUser.userKeys.sex == 'Female'){ %>
                    <img class="navdp rounded-circle" src="<%= CU_50_profilePic || '/images/noUserFemale.png' %>">
                  <% } %>
                </span>
              </a>
            <% } else{ %>
              <span><img class="navdp rounded-circle" src="<%= CU_50_profilePic || '/images/noUser.png' %>"></span>
            <% } %>
          </div>
          <div class="commentdiv ml-2">
            <form action="/posts/<%= post._id %>/comments" method="POST">
              <div class="input-group">
                <textarea id="commentbox" onclick="block_display('commentbtn');" class="emoji-input form-control text-sm description commentbox6 shadow whitesmokeback" type="text" name="text" placeholder="Write a comment" rows="3" required></textarea>
              </div>
              <div class="d-flex flex-row-reverse">
                <button class="btn btn-sm btn-success commentbtn btnxs ml-2 mt-2">Submit</button>
                <button onclick="none_display('commentbtn'); clear_text();" class="btn btn-secondary commentbtn btnxs text-sm mt-2" type="button">Cancel</button>
              </div>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
          </div>
        </div>
        <% if(post.commentsCount != 0){ %>
          <div id="delegated-comments">
            <div id="server-comments">
              <% include ../partials/comments %>
            </div>
            <div id="client-comments"></div>
            <% if(post.commentBuckets.length > 2){ %>
              <div class="text-center mb-2">
                <button id="load-more-comments-btn" class="btn btn-light btnxs text-sm" type="button" value="<%= index %>">
                  <span id="load-more-comments-span"></span>Load More
                </button>
              </div>
            <% } %>
          </div>
        <% } else if(post.commentsCount == 0){ %>
          <div class="card-body2 d-flex mx-auto">
            <span class="text-sm lightgrey">No comments yet.</span>
          </div>
        <% } %>
      </div>
    <% } %>



  </div>
  <% if(currentUser && post.topic == ''){ %>
    <div class="col-md-4 col-lg-3 px-2 pb-2 mt-3 mobileNone">
      <% include ../partials/latest_updates %>
    </div>
  <% } else if(currentUser && post.topic != '' && quote == false){ %>
    <div class="col-md-4 col-lg-3 px-2 pb-2 mt-3 mobileNone">
      <% include ../partials/hot_topics %>
    </div>
  <% } %>
</div>

<% include ../partials/footer %>

<%
  function userRank(uid){
    var len = post.postClub.clubUsers.length;
    for(k=0;k<len;k++){
      if(post.postClub.clubUsers[k].id.equals(uid)){
        return post.postClub.clubUsers[k].userRank;
      }
    }
  }

  function rankTitle(rank){
    if(rank == 0){return 'President';}
    else if(rank == 1){return 'Admin';}
    else if(rank == 2){return 'Moderator';}
    else if(rank == 3){return 'Sr. member';}
    else if(rank == 4){return 'Jr. member';}
  }

  function privacyText(privacy){
    if(privacy == 0){return 'Public';}
    else if(privacy == 1){return 'College';}
    else if(privacy == 2){return 'Friends';}
    else if(privacy == 3){return 'Club';}
    else if(privacy == 4){return 'Club(friends)';}
    else if(privacy == 5){return 'Private';}
  }
%>
