<% include ../partials/header %>

<div id="page_minheight_100" class="mt-4 pt-4">
  <h4 class="p-1"> Admin console - <%= college_page.name %> </h4>
  <div class="row no-gutters">
    <div class="col-lg-6 col-12 mobilepad px-1">
      <div class="card">
        <form action="/colleges/<%= college_page.name %>/admin/image?_method=PUT&_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
          <div class="container">
            <img class="cover searchdp m-0 w-100" src="<%= college_page.cover %>">
            <label for="inputcollegeCover" class="overlay4 py-5">
              <span class="overlay4-text"><i class="fas fa-camera"></i></span>
            </label>
            <input id="inputcollegeCover" type="file" class="text-sm featuredImage" name="coverImg" accept="image/*" required>
          </div>
          <button id="inputcollegeCoverSubmitBtn" class="btn btnxs btn-success overlay2 noborder rounded-pill" style="position: absolute; top: 132px; width: 100px;" onclick="loading_spinner('load-updateinputcollegeCover','');">
            <span id="load-updateinputcollegeCover"></span>Submit
          </button>
        </form>
      </div>
      <br>
      <br>
      <div class="mt-5 d-flex flex-column">
        <div>Club requests</div>
        <br>
        <div class="info1 my-1 mb-2" style="line-height: 1.25rem;">
          <strong class="info-size">Branches:</strong>
          <div class="info30">
            <button onclick="toggle_display('branches_form_div');" class="btn btn-sm dropdown-toggle floatright m-0 p-0 d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
            <% arrayToStingWithComma(college_page.branches); %>
            <br>
            <div id="branches_form_div" class="college_key_forms">
              <form class="form-inline d-flex justify-content-between my-3 px-2 whiteback" action="/colleges/<%= college_page.name %>/admin/keys?_method=PUT" method="POST">
                <div id="college_branches_form" class="form-inline d-flex justify-content-between w-100">
                  <% for(var i=0;i<=college_page.branches.length;i++){ %>
                    <input type="text" class="form-control form-control-sm info-form" name="branches" placeholder="" value="<%= college_page.branches[i] %>">
                  <% } %>
                </div>
                <div class="d-flex flex-row-reverse w-100 mb-1">
                  <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                  <button onclick="add_new_inputs('college_branches_form','branches','');" class="btn btn-sm btnxs btn-primary btn-round noshadow ml-auto" type="button"><strong> + </strong></button>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
          </div>
        </div>
        <div class="info1 my-1 mb-2" style="line-height: 1.25rem;">
          <strong class="info-size">Houses:</strong>
          <div class="info30">
            <button onclick="toggle_display('houses_form_div');" class="btn btn-sm dropdown-toggle floatright m-0 p-0 d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
            <% arrayToStingWithComma(college_page.houses); %>
            <br>
            <div id="houses_form_div" class="college_key_forms">
              <form class="form-inline d-flex justify-content-between my-3 px-2 whiteback" action="/colleges/<%= college_page.name %>/admin/keys?_method=PUT" method="POST">
                <div id="college_houses_form" class="form-inline d-flex justify-content-between w-100">
                  <% for(var i=0;i<=college_page.houses.length;i++){ %>
                    <input type="text" class="form-control form-control-sm info-form" name="houses" placeholder="" value="<%= college_page.houses[i] %>">
                  <% } %>
                </div>
                <div class="d-flex flex-row-reverse w-100 mb-1">
                  <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                  <button onclick="add_new_inputs('college_houses_form','houses','');" class="btn btn-sm btnxs btn-primary btn-round noshadow ml-auto" type="button"><strong> + </strong></button>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
          </div>
        </div>
        <div class="info1 my-1 mb-2" style="line-height: 1.25rem;">
          <strong class="info-size">Hostels:</strong>
          <div class="info30">
            <button onclick="toggle_display('hostels_form_div');" class="btn btn-sm dropdown-toggle floatright m-0 p-0 d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
            <% arrayToStingWithComma(college_page.hostels); %>
            <br>
            <div id="hostels_form_div" class="college_key_forms">
              <form class="form-inline d-flex justify-content-between my-3 px-2 whiteback" action="/colleges/<%= college_page.name %>/admin/keys?_method=PUT" method="POST">
                <div id="college_hostels_form" class="form-inline d-flex justify-content-between w-100">
                  <% for(var i=0;i<=college_page.hostels.length;i++){ %>
                    <input type="text" class="form-control form-control-sm info-form" name="hostels" placeholder="" value="<%= college_page.hostels[i] %>">
                  <% } %>
                </div>
                <div class="d-flex flex-row-reverse w-100 mb-1">
                  <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                  <button onclick="add_new_inputs('college_hostels_form','hostels','');" class="btn btn-sm btnxs btn-primary btn-round noshadow ml-auto" type="button"><strong> + </strong></button>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
          </div>
        </div>
        <div class="info1 my-1 mb-2" style="line-height: 1.25rem;">
          <strong class="info-size">Messes:</strong>
          <div class="info30">
            <button onclick="toggle_display('messes_form_div');" class="btn btn-sm dropdown-toggle floatright m-0 p-0 d-flex pt-1 pl-1 mb-auto"><i class="fas fa-edit"></i></button>
            <% arrayToStingWithComma(college_page.messes); %>
            <br>
            <div id="messes_form_div" class="college_key_forms">
              <form class="form-inline d-flex justify-content-between my-3 px-2 whiteback" action="/colleges/<%= college_page.name %>/admin/keys?_method=PUT" method="POST">
                <div id="college_messes_form" class="form-inline d-flex justify-content-between w-100">
                  <% for(var i=0;i<=college_page.messes.length;i++){ %>
                    <input type="text" class="form-control form-control-sm info-form" name="messes" placeholder="" value="<%= college_page.messes[i] %>">
                  <% } %>
                </div>
                <div class="d-flex flex-row-reverse w-100 mb-1">
                  <button class="btn btn-sm btnxs btn-primary ml-2" type="submit">Update</button>
                  <button onclick="add_new_inputs('college_messes_form','messes','');" class="btn btn-sm btnxs btn-primary btn-round noshadow ml-auto" type="button"><strong> + </strong></button>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 mobilepad px-1 mt-3 d-flex justify-content-center">
      <div class="d-flex flex-column">
        <div class="mb-3">
          <a class="btn btn-sm btn-warning" href="/colleges/<%= college_page.name %>/mess/edit">Edit Mess Menu</a>
        </div>
        <div>
          <a href="/colleges/<%= college_page.name %>/merchandise/add">
            <button class="btn btn-sm btn-warning">Add New Merchanise</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<% function arrayToStingWithComma(arr){ %>
  <% var len = arr.length; var i=0; for(i;i<len;i++){ %>
  <% if(i==0 && i==len-1){ %>
    <%= arr[i] %>
    <% }else if(i==0){ %>
    <%= arr[i]+',' %>
    <% }else if(i>0 && i<len-1){ %>
    <%= ' '+arr[i]+',' %>
    <% }else if(i=len-1){ %>
    <%= ' '+arr[i] %>
  <% }} %>
<% } %>
<% include ../partials/footer %>