<% include ../partials/header %>

<div class="row no-gutters">
	<div id="college_scroll" class="col-lg-9 card scroll_list_container scroll moz-scroll" style="border-bottom: 1px solid #d2d2d2">
		<div class="college-infodiv desktopNone tabletShow">
			<div id="college-infobtn-mobile" class="d-flex justify-content-around my-2 py-1 pitchblack fullwidth">
				<div class="d-flex flex-column px-1 my-2 college-infobtn">
					<div class="text-xxxl my-auto" style="font-size: 1.75rem !important;">
						<i class="far fa-newspaper"></i>
					</div>
					<div class="story-alt-label mobileNone tabletNone text-xxxs">News</div>
				</div>
				<div class="d-flex flex-column px-1 my-2 college-infobtn">
					<div class="text-xxxl my-auto" style="font-size: 1.75rem !important;">
						<i class="fas fa-briefcase"></i>
					</div>
					<div class="story-alt-label mobileNone tabletNone text-xxxs">Placement & Intern</div>
				</div>
				<div class="d-flex flex-column px-1 my-2 college-infobtn">
					<div class="text-xxxl my-auto">
						<i class="fas fa-external-link-alt"></i>
					</div>
					<div class="story-alt-label mobileNone tabletNone text-xxxs">Quick links</div>
				</div>
				<div class="d-flex flex-column px-1 my-2 college-infobtn">
					<div class="text-xxxl my-auto">
						<i class="fas fa-utensils"></i>
					</div>
					<div class="story-alt-label mobileNone tabletNone text-xxxs">Mess</div>
				</div>
			</div>
		</div>
		<% if(college_page.cover && college_page.cover != ''){  %>
			<div class="greyback">
				<div class="college-cover-div">
					<img id="college-cover" class="cover mobileblurred desktopFit" src="<%= college_page.cover %>" style="height: inherit;">
				</div>
			</div>
		<% } %>
		<div class="border-light" style="z-index: 1;">
			<div class="college valign collegediv-name">
				<div class="boldtext">
					<div class="collegename d-flex">
						<span>
							<sup class="greencolor2 text-xs pb-auto invisible">My </sup>
							<i id="collegeicon" class="fas fa-university lightgrey text-xxl"></i>
							<!-- Change to college_page.name -->
							<span id="copyTxt">IIT Mandi</span>
						</span>
						<div class="tooltip">
						<button class="copyBtn" onclick="copyTxtFn()" onmouseout="outCopyTxtFn()">
							<span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
							<i class="far fa-copy lightgrey"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="boldtext text-md badge badge-danger collegediv-usercnt"><%= college_page.userCount %><span class="text-sm my-auto ml-1 mobilebold"> users</span></div>
			</div>
			<div class="collegediv-clubcnt">
				<div class="valign">
					<div class="d-flex flex-row">
						<div class="mobilebold lightgrey text-md mr-1">
							<span><span class="boldtext text-sm"><%= college_page.clubCount %></span><span class="m-0 p-0 text-sm"> clubs</span></span>
						</div>
						<% if(currentUser && (keyValue == 0 || keyValue == 1)){ %>
							<form id="toggleCollegePage-form" action="/colleges/<%= college_page._id %>/settings/user/<%= currentUserId %>?_method=PUT" method="POST" class="valign">
								<div id="container-collegePage">
									<div class="toggleCollegePage">
										<input type="checkbox" name="toggleCollegePage" class="check-checkbox" id="toggleCollegePageViewKey">
										<label class="check-label" for="toggleCollegePageViewKey">
											<div id="background"></div>
											<span class="face">
												<span class="face-container">
													<span class="eye left"></span>
													<span class="eye right"></span>
													<span class="mouth"></span>
												</span>
											</span>
										</label>
									</div>
								</div>
								<input type="hidden" name="_csrf" value="<%= csrfToken %>">
							</form>
						<% } else if(currentUser && keyValue == 2){ %>
							<form id="toggleCollegePage-form" action="/colleges/<%= college_page._id %>/settings/user/<%= currentUserId %>?_method=PUT" method="POST" class="valign">
								<div id="container-collegePage">
									<div class="toggleCollegePage">
										<input type="checkbox" name="toggleCollegePage" class="check-checkbox" id="toggleCollegePageViewKey" checked>
										<label class="check-label" for="toggleCollegePageViewKey">
											<div id="background"></div>
											<span class="face">
												<span class="face-container">
													<span class="eye left"></span>
													<span class="eye right"></span>
													<span class="mouth"></span>
												</span>
											</span>
										</label>
									</div>
								</div>
								<input type="hidden" name="_csrf" value="<%= csrfToken %>">
							</form>
						<% } %>
					</div>
					<% if(currentUser && keyValue == 1){ %>
						<% if(todayActiveCount > 0){ %>
							<div class="text-sm boldtext orangecolor2"><%= todayActiveCount %><em> active</em></div>
						<% } else{ %>
							<div></div>
						<% } %>
					<% } else if(currentUser && keyValue == 2){ %>
						<form action="/colleges/<%= college_page._id %>/followall/user/<%= currentUserId %>?_method=PUT" method="POST">
							<% if(college_page.clubCount-thisCollegePageFollowingClubIdsArr.length > 0){ %>
								<div style="height: 22px;">
									<button class="btn btn-college2 btn-followall py-1 px-0 noshadow text-xs" name="followAllClubs" value="true" type="submit">Follow all <i class="fas fa-arrow-down"></i></button>
								</div>
							<% } else{ %>
								<div style="height: 22px;">
									<button class="btn btn-college2 btn-followall py-1 px-0 noshadow text-xs lightgrey2" name="followAllClubs" value="false" type="submit">Unfollow all <i class="fas fa-arrow-down"></i></button>
								</div>
							<% } %>
							<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						</form>
					<% } %>
				</div>
				<% if(currentUser && (keyValue == 0 || keyValue == 1)){ %>
					<div class="text-xxs boldtext lightgrey2 py-1 invisible">Not following: <%= college_page.clubCount-thisCollegePageFollowingClubIdsArr.length %></div>
				<% } else if(currentUser && keyValue == 2){ %>
					<div class="text-xxs boldtext lightgrey2 py-1">Not following: <%= college_page.clubCount-thisCollegePageFollowingClubIdsArr.length %></div>
				<% } %>
			</div>
			<div class="collegepad py-1">
				<% for(var i=college_page.allClubs.length-1;i>=0;i--){ %>
					<% if(college_page.allClubs[i].category != ''){ %>
						<% if(college_page.allClubs[i].categoryCount>0){ %>
							<% if(college_page.allClubs[college_page.allClubs.length-1].category == college_page.allClubs[i].category){ %>
								<div class="mobilebold category">
							<% } else{ %>
								<div class="mobilebold category mt-4">
							<% } %>
								<%= college_page.allClubs[i].category %> (<%= college_page.allClubs[i].categoryCount %>)
							</div>
						<% } %>
					<% } else{ %>
						<% if(college_page.allClubs[i].categoryCount>0){ %>
							<% if(college_page.allClubs[college_page.allClubs.length-1].category == college_page.allClubs[i].category){ %>
								<div class="mobilebold category">
							<% } else{ %>
								<div class="mobilebold category mt-4">
							<% } %>
								<span class="redcolor text-xl lineheight-least mr-1">*</span><em>Miscellaneous</em> (<%= college_page.allClubs[i].categoryCount %>)
							</div>
						<% } %>
					<% } %>
					<div class="my-2 lineheight-lesser">
					<% for(var j=college_page.allClubs[i].categoryClubIds.length-1;j>=0;j--){ %>
						<div class="valign">
							<div class="d-flex flex-row">
								<div class="py-1 mb-auto">
									<a href="/clubs/<%= college_page.allClubs[i].categoryClubIds[j]._id %>">
									<img class="collegedp rounded-circle" src="<%= Clubs_50_clubAvatar[i][j] || '/images/noClub.png' %>"></a>
								</div>
								<div class="my-auto ml-2">
									<% if(currentUser && keyValue == 2){ %>
										<span class="mr-1 lineheight" style="vertical-align: top;">
									<% } else{ %>
										<span class="lineheight-less" style="vertical-align: baseline; display: inline-block;">
									<% } %>
										<a href="/clubs/<%= college_page.allClubs[i].categoryClubIds[j]._id %>" class="grey mobiletext2">
											<strong><%= college_page.allClubs[i].categoryClubIds[j].name %></strong>
										</a>
									</span>
									<% if(!currentUser || (keyValue == 0 || keyValue == 1)){ %>
										<span class="ml-2 mr-3 lightgrey text-xs mobiletext4"><%= college_page.allClubs[i].categoryClubIds[j].banner %></span>
									<% } else if(currentUser && keyValue == 2){ %>
										<% if(clubUserIdsArr[i][j].length){ %>
											<br/>
											<span class="pl-2 nowrap d-inline-flex">
												<% var count = 0; %>
												<% for(var k=0;k<clubUserIdsArr[i][j].length;k++){ %>
													<% for(var l=0;l<foundFriendsPicArr.length;l++){ %>
														<% if(count<3 && foundFriendsPicArr[l].id == clubUserIdsArr[i][j][k].toString()){ %>
															<span class="smalldppad d-inline-flex" title="<%= foundFriendsPicArr[l].name %>" style="z-index: <%= 4-count %>;">
																<img class="smalldp rounded-circle" src="<%= foundFriendsPicArr[l].url %>">
															</span>
															<% count++; %>
														<% } %>
													<% } %>
												<% } %>
											</span>
											<% if(clubUserIdsArr[i][j].length > 3){ %>
												<span class="text-xs lightgrey" style="vertical-align: text-top;">.. <%= clubUserIdsArr[i][j].length-3 %> more</span>
											<% } %>
										<% } %>
									<% } %>
								</div>
							</div>
							<% if(!currentUser || (keyValue == 0 || keyValue == 1)){ %>
								<div class="darkgrey text-sm mobiletext1 px-1 nowrap">
									<em class="mobiletext1">
										<%= college_page.allClubs[i].categoryClubIds[j].chatRoomsCount %> <span class="text-xxxs">
											<% if(college_page.allClubs[i].categoryClubIds[j].chatRoomsCount == 1){ %>
												<span class="lightgrey">MBR</span>
											<% } else{ %>
												<span class="lightgrey">MBRS</span>
											<% } %>
										</span>
									</em>
								</div>
							<% } else if(keyValue == 2){ %>
								<form action="/users/<%= currentUser._id %>/follow/<%= college_page.allClubs[i].categoryClubIds[j]._id %>?_method=PUT" method="POST">
									<% if(thisCollegePageFollowingClubIdsArr.includes(college_page.allClubs[i].categoryClubIds[j]._id)){ %>
										<div>
											<button class="btn btn-light btn-college collegediv-follow mobiletext3" name="followClub" value="false" type="submit"><i class="fas fa-check"></i> Following</button>
										</div>
									<% } else{ %>
										<div>
											<button class="btn btn-college2 collegediv-follow mobiletext3" name="followClub" value="true" type="submit">Follow</button>
										</div>
									<% } %>
									<input type="hidden" name="_csrf" value="<%= csrfToken %>">
								</form>
							<% } %>
						</div>
					<% } %>
				</div>
				<% } %>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-lg-3 px-2">
		<div class="mobileNone">
			<div class="d-flex flex-column mt-3 py-1 darkgrey">
				<div class="d-flex flex-row px-3 my-2 college-infobtn">
					<div class="text-xxxl my-auto" style="width: 2.5rem; text-align: center; line-height: 2.5rem; font-size: 1.75rem !important;">
						<i class="far fa-newspaper"></i>
					</div>
					<div class="my-auto ml-3 lightgrey">News</div>
				</div>
				<div class="d-flex flex-row px-3 my-2 college-infobtn">
					<div class="text-xxxl my-auto" style="width: 2.5rem; text-align: center; line-height: 2.5rem; font-size: 1.75rem !important;">
						<i class="fas fa-briefcase"></i>
					</div>
					<div class="my-auto ml-3 lightgrey">Placement & Intern</div>
				</div>
				<div class="d-flex flex-row px-3 my-2 college-infobtn">
					<div class="text-xxxl my-auto" style="width: 2.5rem; text-align: center;">
						<i class="fas fa-external-link-alt"></i>
					</div>
					<div class="my-auto ml-3 lightgrey">Quick links</div>
				</div>
				<div class="d-flex flex-row px-3 my-2 college-infobtn">
					<div class="text-xxxl my-auto" style="width: 2.5rem; text-align: center;">
						<i class="fas fa-utensils"></i>
					</div>
					<div class="my-auto ml-3 lightgrey">Mess</div>
				</div>
			</div>
		</div>
  </div>
</div>

<% include ../partials/footer %>