<% include ../partials/header %>

  <div style="height: calc(100vh - 42px); width: 100%;">

    <iframe
      id="myAudioFrame"
      src=""
      allow="microphone *; screen-wake-lock *" style="width: 100%; height: 100%; border: none;">
    </iframe>

  </div>


  <script>
    const room_id = "<%= room_id %>";
    const user_id  = "<%= user._id %>";
    const user_name = "<%= user.firstName %> <%=user.lastName %>";
    const user_avatar = "<%= user.profilePic %>"
    // TODO: Give the seed in the iframe also


    function encodeBase64Url(object) {
      let bytes = new TextEncoder().encode(JSON.stringify(object));
      let n = bytes.length;
      let chars = new Array(n);
      for (let i = 0; i < n; i++) {
        chars[i] = String.fromCharCode(bytes[i]);
      }
      return btoa(chars.join("")).replace(/\+/g, "-").replace(/\//g, "_").replace(/=/g, "");
    }

    function createJAMFrame(jamUrl, roomId, params) {
      jamUrl = jamUrl || "https://jam.systems";
      if (!jamUrl.endsWith("/"))
        jamUrl = jamUrl + "/";
      let hash = !params ? "" : "#" + encodeBase64Url(params);
      let src = `${jamUrl}${roomId || ""}${hash}`

      console.log("src", src);

      document.getElementById("myAudioFrame").src = src;
    }

    const jam_configs = {
      jamUrl: "https://audio.clubmate.co.in",
      room_id: room_id,
      params: {
        room: {
          // These details will be added when the room will be created from the backend
          // name: "Room name",
          // description: "Room descr",
          // color: "#eee",
          // stageOnly: true
        },
        ux: {
          autoCreate: false,  // Room will be created from backend side, also add a check there that room exists
          autoJoin: true,
        },
        identity: {
          name: user_name,
          avatar: user_avatar
        },
        keys: {
          seed: user_id
        }
      }
    }

    createJAMFrame(jam_configs.jamUrl, jam_configs.room_id, jam_configs.params);
  </script>

  <script type="module" src="/js/jam-util.js"></script>

  <% include ../partials/footer %>