<% include ../partials/header %>

<div class="mt-4 pt-3">
  <h3 class="px-3 py-1"> Lobby </h3>

    <% for (const club of audioroomsData) { %>
      <div class="py-3">

        <div class="mt-2 mx-4">
          <div class="lobby_club_name">
            <span>
              <img class="navdp rounded-circle" src="<%= club.avatar_100 %>">
            </span>
            <a class="h3 px-1 align-middle" href="/clubs/<%= club._id %>"> <%= club.name %> </a>
          </div>
          <div id="common-room-div" class="row py-2">

              <% for (const audio_room of club.audio_rooms) { %>
                <div class="px-1 col-sm-3 my-2">
                  <a class="nounderline" href="/audio/join/<%= audio_room.roomId %>">
                  <div class="room-container whiteback">
                    <div class="roomInfo">
                      <div class="text-xl text-dark"> <%= audio_room.roomName %></div>
                      <light class="text-xxs boldtext text-secondary"><%= audio_room.roomDesc %></light>
                      <div id="audio_people_<%= audio_room.roomId %>"></div>
                    </div>
                  </div>
                  </a>
                </div>

                <script>
                  fetch(`<%= jamUrl %>/_/pantry/api/v1/rooms/<%= audio_room.roomId %>/live`).then(data => data.json()).then(data => {
                    let roomId = "<%= audio_room.roomId %>";
                    console.log(roomId, data);

                    let audio_people_html = ``;
                    for (let i = 0; i < 3 && i < data.length; i++) {
                      let person = data[i];
                      audio_people_html += `
                        <span class="smalldppad d-inline-flex" title="${person.name}" style="z-index: 4;">                  
                          <img class="smalldp rounded-circle" src="${person.avatar}">
                        </span>
                        `;
                    }
                    
                    const audio_people_div = document.getElementById(`audio_people_${roomId}`);
                    audio_people_div.innerHTML = `<span class="pl-2 nowrap d-inline-flex">
                      ${audio_people_html} </span>
                      ${(data.length > 3) ? `<span class="text-xs lightgrey" style="vertical-align: text-top;">.. 2 more</span>` : ``}
                      `;
                  });
                </script>
              <% } %>

            </a>
          </div>
          
          
        </div>

      </div>
    <% } %>
</div>

<% include ../partials/footer %>